{% comment %}
  Add product variants as a dropdown.
    - By default, each variant (or combination of variants) will display as its own <option>
    - To separate these into multiple steps, which we suggest, use option_selection.js (see below)

  You can leverage jQuery to add a callback on page load and each time the select element changes:
    - Include option_selection.js (as seen at the bottom of this file)
    - This allows you to use JavaScript anytime the variant dropdown changes
    - This also separates out your variant options (ie. size, color, etc.) to separate select elements

  For more information on products with multiple options, visit:
    - http://docs.shopify.com/support/your-website/themes/can-i-make-my-theme-use-products-with-multiple-options#update-product-liquid
{% endcomment %}

{% if settings.pd_color_swatch_enable %}
  <div class="wrapper-color-swatch select clearfix">
    <select name="id" id="productSelect" class="product-select" style="display:none; opacity: 0;">
      <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
    </select>
    {% if product.available and product.variants.size > 1 %}
    {% for option in product.options %}
    {% include 'swatch' with option %}
    {% endfor %}
    {% endif %}
  </div>
{% else %}
  <div class="tp-product-option">
    <select name="id" id="productSelect" class="product-single__variants">
      {% for variant in product.variants %}

        {% if variant.available %}

          {% comment %}
            Note: if you use option_selection.js, your <select> tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
          {% endcomment %}
          <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

        {% else %}
          <option disabled="disabled">
            {{ variant.title }} - {{ 'products.product.sold_out' | t }}
          </option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
{% endif %}