<!doctype html lang="en">
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% comment %}========== Favicon ======== {% endcomment %}
  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  {% comment %}========== Title and description ======== {% endcomment %}
  <title>{{ page_title }}</title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% comment %}========== Helpers ======== {% endcomment %}
  {% include 'social-meta-tags' %}
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  {% comment %}========== CSS ======== {% endcomment %}
  {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  {% comment %}========== JS ======== {% endcomment %}
  {{ 'jquery.min.js' | asset_url | script_tag }}
  {{ 'jquery.countdown.min.js' | asset_url | script_tag }}

  {% comment %}========== Google Fonts ======== {% endcomment %}
  <script src="{{ 'webfont.js' | asset_url }}" async></script>
  {% include 'tp-google-font' %}

  {% comment %}======== Header hook for plugins ======= {% endcomment %}
  {{ content_for_header }}

 
  {% include 'shogun-head' %}
</head>


<body id="{{ page_title | handle }}" class="template-password"> 

  {{ content_for_layout }}

  {% section 'tp-section-password-page' %}

 </body>
</html>
