{% if template contains 'article' and blog.metafields.blogfeeder.use_canonical == 'yes' %}{% assign canonical_url = article.metafields.blogfeeder.canonical %}{% endif %}
<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta property="og:image" content="https://cdn.shopify.com/s/files/1/0290/5629/files/new2.jpeg?57419" />
 
{% include 'ninjacoderz_sitemap_noindex' %}
  <meta name="yandex-verification" content="23e1bb9a9f4b201a" />


  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msvalidate.01" content="0DF384B8E34713DE1FC2571A0297ED7B" />

  {% comment %}========== Favicon ======== {% endcomment %}
  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  {% comment %}========== Title and description ======== {% endcomment %}
  {% include 'SEOManager' %}

  {% comment %}========== Helpers ======== {% endcomment %}
  {% include 'social-meta-tags' %}
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% comment %}========== CSS ======== {% endcomment %}
  {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'variant-color.scss.css' | asset_url | stylesheet_tag }}
  

  {% comment %}========== JS ======== {% endcomment %}
  {{ 'jquery.min.js' | asset_url | script_tag }}

  <script src="{{ 'jquery-cookie.min.js' | asset_url }}" async></script>
  <script src="{{ 'modernizr.min.js' | asset_url }}" async></script>

  <script src="{{ 'selectize.min.js' | asset_url }}" async></script>
  <script src="{{ 'jquery.elevateZoom-3.0.8.min.js' | asset_url }}" async></script>


  <script src="{{ 'isotope.pkgd.min.js' | asset_url }}" async></script>
  <script src="{{ 'imagesloaded.pkgd.min.js' | asset_url }}" async></script>
  <script src="{{ 'jquery.appear.js' | asset_url }}" async></script>

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
  <script src="{{ 'shopify_common.js' | shopify_asset_url }}" async></script>
  {% endif %}

  {% comment %}========== Google Fonts ======== {% endcomment %}
  <script src="{{ 'webfont.js' | asset_url }}" async></script>
  {% include 'tp-google-font' %}

  {% comment %}======== Header hook for plugins ======= {% endcomment %}
  
  {% include 'meteor-menu', load: 'head' %}
	{{ content_for_header }}
{%- include 'bold-product' with product, hide_action: 'header' -%}
{%- include 'bold-common' -%}

  {% if settings.product_item_quick_view_enable %}
  {% include 'sca-quick-view-init' %}
  {% endif %}

 <!-- Zapiet | Store Pickup + Delivery -->
{% include 'storepickup' %}
<!-- Zapiet | Store Pickup + Delivery -->
<!--Gem_Page_Header_Script-->
{% include 'gem-app-header-scripts' %}
<!--End_Gem_Page_Header_Script-->
{% include 'limoniapps-discountninja-header' %}
  <script>
    window.money_format = "{{shop.money_format}}"; 
  </script>
  {% include 'fbrb' %}

{% include 'pagefly-header' %}

  {% include 'shogun-head' %}
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
{% capture the_snippet_content %}{% include 'socialshopwave-helper' %}{% endcapture %}
            {% unless the_snippet_content contains 'Liquid error' %}
              {{ the_snippet_content }}
            {% endunless %} 

  <div id="PageContainer" class="page-container {% if settings.site_layout == 'extrawidth' %}extra-width{% endif %}">

    {% comment %}============= Loader Icon ============== {% endcomment %}
    <div class="loader"></div>

    {% comment %}============= Header =================== {% endcomment %}
    {% include 'header' %}
 {% comment %}============= Main Content ============= {% endcomment %}
    <main class="main-content {% unless template contains 'index' or template contains 'contact' %}container{% endunless %}">
      {{ content_for_layout }}
    </main>

    {% comment %}============= Footer =================== {% endcomment %}
    {% include 'footer' %}

    {% comment %}============= Back to Top ============== {% endcomment %}
    <div id="back-top">
  		<a href="javascript:void(0)">Back to Top</a>
  	</div>
  </div>

  {% comment %}=============== Newsletter Popup =========={% endcomment %}
  {% include 'tp-newsletter-popup' %}

  {% comment %}============ Quick View Template ========= {% endcomment %}
  {% if settings.product_item_quick_view_enable %}
    {% include 'sca-quick-view-template' %}
  {% endif %}
  

  {% comment %}============= Javacrip Included ==========={% endcomment %}
  {% include 'footer-js' %}

 <!--Gem_Page_Footer_Script-->
{% include 'gem-app-footer-scripts' %}
<!--End_Gem_Page_Footer_Script-->


   
  
  {% include 'meteor-menu', load: 'footer' %}
  {% comment %}
NOTE:
The line below is used by S Loyalty (www.sloyalty.com) to power your loyalty program on your storefront for this theme. DO NOT edit or delete this line as it would lead to service interruptions. If you have any inquiries, please contact us at support@sloyalty.com.
{% endcomment %}

{% include 'preorder-now' %}
    {% include 'sumo' %}
  {% include 'shopfront-message-app' %}
  
<script src="//tags.affiliatefuture.com/6863.js"></script>
</body>
</html>


