<style type="text/css">
  .password-page {
    background-color: {{ section.settings.bg_color }};
    color: {{ section.settings.text_color }};
    {% if section.settings.enable_bg_image and section.settings.bg_image != blank %}
    background-image: url({{ section.settings.bg_image | img_url: '1920x' }});
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    {% endif %}
  }
</style>

<section class="password-page">
  <div class="container">
    <h1 class="site-logo">
      <img src="{{ section.settings.logo | img_url: 'master' }}" alt="{{ shop.name }}">
    </h1>
    <div class="description">{{ section.settings.description }}</div>
    <div class="tp-countdown">
      <div class="countdown-inner">
        <div id="tp-clock" class="countdown-clock countdown-big"></div>
      </div>
      <script>
        $(window).load(function() {
          $("#tp-clock").countdown('{{ section.settings.date }}', function(event) {
            $(this).html(event.strftime(' ' + '<span><strong>%D</strong>{{ 'general.countdown.days' | t }}</span>' + '<span><strong>%H</strong>{{ 'general.countdown.hours' | t }}</span>' + '<span><strong>%M</strong>{{ 'general.countdown.mins' | t }}</span>' + '<span><strong>%S</strong>{{ 'general.countdown.secs' | t }}</span>'));
          });
        })
      </script>
    </div>

    <div class="form-password">
      {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <label for="password" class="description">{{ section.settings.form_label }}</label>
      <div class="input-group password-input-group">
        <input type="password" name="password" id="Password" class="input-group-field input--content-color">
        <span class="input-group-btn">
          <button type="submit" name="commit" class="btn btn--narrow">
            {{ section.settings.form_button }}
          </button>
        </span>
      </div>
      {% endform %}
    </div>

    <footer>{{ section.settings.footer_text }}</footer>
  </div>
</section>

{% stylesheet %}
.password-page {height: 100vh; text-align: center; position: relative;}
.password-page:before {content: ""; display: inline-block; width: 0; height: 100%; vertical-align: middle;}
.password-page>.container {display: inline-block; max-width: 98%; vertical-align: middle; padding: 20px 20px 40px;}
.password-page .site-logo {max-width: 300px; margin: 0 auto 20px; text-align: center;} 
.password-page .description {font-weight: 400; margin-bottom: 20px; letter-spacing: 0.15em;}
.password-page .tp-countdown {margin-bottom: 40px;}
.password-page .form-password {width: 500px; max-width: 100%; margin: 0 auto;}
.password-page .form-password:before {content: ""; display: block; width: 100px; margin: 0 auto 30px; border-top: 1px solid;}
.password-page .form-password .input-group-field {height: 50px;}
.password-page .form-password .input-group-btn .btn {height: 50px; padding-left: 30px; padding-right: 30px;}
.password-page footer {position: absolute; bottom: 15px; left: 0; width: 100%; text-align: center; font-size: 12px;}
{% endstylesheet %}

{% schema %}
{
  "name": "Password Page",
  "class": "password-page-section",
  "settings": [
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "WE ARE COMMING VERY SOON"
    },
    {
      "type": "text",
      "id": "date",
      "label": "Opening Time",
      "default": "2018/09/10 18:30:00",
      "info": "Format: YYYY/MM/DD HH:MM:SS. ie: 2018/09/10 18:30:00"
    },
    {
      "type": "header",
      "content": "Password Form"
    },
    {
      "type": "textarea",
      "id": "form_label",
      "label": "Form Label",
      "default": "ENTER STORE USING PASSWORD"
    },
    {
      "type": "text",
      "id": "form_button",
      "label": "Form Button",
      "default": "Submit"
    },
    {
      "type": "header",
      "content": "Footer"
    },
    {
      "type": "textarea",
      "id": "footer_text",
      "label": "Footer Text",
      "default": "This shop will be powered by Shopify"
    },
    {
      "type": "header",
      "content": "Background & Color"
    },
    {
      "type": "checkbox",
      "id": "enable_bg_image",
      "label": "Enable Background Image?",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#000"
    }
  ]
}
{% endschema %}