<article itemscope itemtype="http://schema.org/Article">{% include 'pagefly-article-info' %} {% include 'pagefly-featured-image' %}<link rel="preload" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400"></noscript><link rel="preload" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></noscript><link rel="preload" href="https://cdn.pagefly.io/pagefly/2.0.1/css/animation-style.css?t=2019-03-04-12" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.0.1/css/animation-style.css?t=2019-03-04-12"></noscript><link rel="preload" href="https://cdn.pagefly.io/pagefly/2.0.1/css/main-style.css?t=2019-03-04-12" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.0.1/css/main-style.css?t=2019-03-04-12"></noscript><style>
					/* PageFly Element Styles */
					.dwTIAb__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.dwTIAb { padding: 15px 0px; position: relative; }
.dwTIAb .sc-dymIpo { position: relative; }
.dwTIAb[data-container="true"] .sc-dymIpo { padding: 0px 15px; width: 100%; margin: auto; }
.dwTIAb .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.krxlvo { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; overflow: hidden; }
.iTCmS { position: relative; }
.hIuBaq { margin-top: 17.5px; margin-bottom: 15px; }
.hIuBaq > a { color: inherit !important; }
.hIuBaq > span { font-weight: inherit; text-decoration: inherit; }
.hIuBaq { word-break: break-word; }
.hIuBaq.pf-i--left i { margin-right: 0.3em; }
.hIuBaq.pf-i--right i { margin-left: 0.3em; }
.hIuBaq.pf-i--top i { margin-bottom: 0.5em; }
.hIuBaq.pf-i--top > span, .hIuBaq.pf-i--top > a { display: block; }
.hIuBaq.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.hIuBaq [class*="--diamond"] { margin-right: 1em; }
.iavTDB { display: inline-block; }
.iavTDB { vertical-align: baseline; word-break: break-word; }
.iavTDB:focus { outline: none; }
.kTdcTt > span:last-child { line-height: inherit; display: block; }
.kTdcTt[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; color: rgb(0, 0, 0); width: 50px; height: 50px; line-height: 50px; font-size: 2em; background: rgb(145, 157, 169); }
.kTdcTt[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.kTdcTt.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.kTdcTt.dropcap--circle > span:first-child { border-radius: 100%; }
.kTdcTt:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.kTdcTt ol, .kTdcTt ul { list-style-position: inside; }
.kTdcTt blockquote { font-size: inherit; }
.fRnTAR > span:last-child { line-height: inherit; display: block; }
.fRnTAR[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.fRnTAR[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.fRnTAR.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.fRnTAR.dropcap--circle > span:first-child { border-radius: 100%; }
.fRnTAR:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.fRnTAR ol, .fRnTAR ul { list-style-position: inside; }
.fRnTAR blockquote { font-size: inherit; }
.gxVtiD { margin: 0px -15px; }
.gxVtiD .pf__shopify-product { width: 100%; text-align: center; }
.gxVtiD .pf-c { padding: 15px; display: flex; }
.gxVtiD .product__thumbnail { display: -webkit-flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; overflow: hidden; max-width: 100%; position: relative; }
.gxVtiD .product__thumbnail img { vertical-align: middle; max-width: 100%; height: auto; }
.gxVtiD .product__thumbnail .pf-placeholder-svg { fill: rgb(166, 166, 166); background-color: rgb(245, 245, 245); width: 100%; max-width: 100%; max-height: 100%; border-radius: inherit; }
.gxVtiD .product__button > a { display: block; padding: 0px 20px; line-height: 36px; height: 36px; background: rgb(85, 193, 72); margin-top: 10px; color: rgb(255, 255, 255); text-align: center; text-decoration: none; }
.gxVtiD .product__button > a:hover { opacity: 0.7; color: rgb(255, 255, 255); }
.gxVtiD .product__info-price { margin-top: 10px; font-size: 13px; color: rgb(208, 2, 27); }
.gxVtiD .product__sale-price { margin-left: 10px; color: rgb(54, 54, 54); font-size: 0.8em; }
.gxVtiD .product__info-title { margin: 10px 0px 0px; font-size: 16px; font-weight: 500; line-height: 1.5; text-transform: none; font-family: inherit; color: rgb(45, 45, 45); }
.gxVtiD .product__info-title a { color: rgb(27, 28, 29); text-decoration: none; }
.gxVtiD .shopify__product-vertical, .gxVtiD .shopify__product-vertical .product__info { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-flow: column; }
.gxVtiD .shopify__product-vertical .product__info, .gxVtiD .shopify__product-vertical .product__info-title { flex: 1 0 auto; }
.gxVtiD .shopify__product-horizontal { display: -webkit-flex; }
.gxVtiD .shopify__product-horizontal .product__thumbnail { flex: 1 1 0%; height: auto !important; }
.gxVtiD .shopify__product-horizontal .product__info { text-align: left; flex: 3 1 0%; padding-left: 15px; }
.gxVtiD .shopify__product-horizontal .product__info-title { margin-top: 0px; }
.gxVtiD .shopify__product-horizontal .product__button > a { width: auto; display: inline-block; }
					/* PageFly Styles */
					
@media all {
	[data-pf-type="Block"].pf-8e49d296 {
		text-align: center;
	}
	[data-pf-type="Section"].pf-7c0c2dda {
		padding: 100px 0px;
		 background-size: cover;
		 margin-top: -25px;
		 background-image: url("https://media.pagefly.io/file/get/nicotine-level-to-vape-png-1537273544123.png");
		 background-position: 50% 0%;
		 background-repeat: no-repeat;
	}
	[data-pf-type="Heading"].pf-68b0d104 {
		text-align: center;
		 font-size: 60px;
		 color: black;
		 line-height: 2;
		 margin-bottom: 5px;
		 margin-top: 10px;
	}
	[data-pf-type="Heading"].pf-f5315ce3 {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 36px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Text"].pf-63e7ddfe {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Paragraph"].pf-1b7b773d {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Heading"].pf-56030d94 {
		text-align: left;
		 margin-bottom: 0px;
		 font-size: 30px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Paragraph"].pf-db52ee26 {
		font-size: 18px;
	}
	[data-pf-type="Heading"].pf-501bebd4 {
		text-align: left;
		 margin-bottom: 0px;
		 font-size: 30px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Paragraph"].pf-ecf9e34b {
		font-size: 18px;
	}
	[data-pf-type="Heading"].pf-0f005f05 {
		text-align: left;
		 margin-bottom: 0px;
		 font-size: 30px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Paragraph"].pf-a2405639 {
		font-size: 18px;
	}
	[data-pf-type="Heading"].pf-95825b79 {
		text-align: left;
		 margin-bottom: 0px;
		 font-size: 30px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Paragraph"].pf-f1dd00b3 {
		font-size: 18px;
	}
	[data-pf-type="Paragraph"].pf-b07fba3d {
		font-size: 18px;
	}
	[data-pf-type="Heading"].pf-1cb91da2 {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: center;
		 color: white;
	}
	[data-pf-type="Paragraph"].pf-b9bc3533 {
		text-align: center;
		 font-size: 20px;
		 color: white;
		 font-weight: 700;
	}
	[data-pf-type="Paragraph"].pf-109cfd8e {
		font-size: 36px;
		 color: white;
		 text-align: center;
		 font-weight: 700;
		 border-style: dashed;
	}
	[data-pf-type="Section"].pf-bb02736a {
		background-color: black;
	}
}
@media only screen and (max-width: 767px) {
	[data-pf-type="Heading"].pf-68b0d104 {
		font-size: 2em;
	}
	[data-pf-type="Heading"].pf-f5315ce3 {
		font-size: 2em;
	}
}
					/*PageFlyCustomCSS*/
				</style><script src="https://cdnjs.cloudflare.com/ajax/libs/loadCSS/2.0.1/cssrelpreload.min.js" async></script><link rel="stylesheet" href="{{ 'pagefly.a64425eb.scss.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div class="pf-b42e9e83 sc-cmTdod kHxQNt" data-pf-type="Body"><div class="pf-f764dad0 sc-esOvli bMqLzo" data-pf-type="Layout"><div data-container="true" class="pf-7c0c2dda sc-bnXvFD dwTIAb" data-pf-type="Section"><div class="sc-cpmLhU krxlvo" style="background-color: rgba(0, 0, 0, 0);"></div><div class="sc-dymIpo kdtjOQ" style="max-width: 1170px;"><div class="pf-6a120898 pf-r pf-r-eh sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-1bb38958 sc-gHboQg eLpzfs" data-pf-type="Column"><div class="pf-8e49d296 sc-iELTvK iTCmS" data-pf-type="Block"></div></div> </div></div></div></div><div data-container="true" class="pf-15361fdf sc-bnXvFD dwTIAb" data-pf-type="Section"><div class="sc-cpmLhU krxlvo" style="background-color: rgba(0, 0, 0, 0);"></div><div class="sc-dymIpo kdtjOQ" style="max-width: 1170px;"><div class="pf-a5766129 pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-35d67e79 sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" class="pf-68b0d104 sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-7d0343f7 sc-eLExRp iavTDB" data-pf-type="Text">Will Vaping give me Popcorn Lung?</span></h3><h3 mode="view" class="pf-f5315ce3 sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-54f09e0c sc-eLExRp iavTDB" data-pf-type="Text">We answer your questions about popcorn lung</span></h3></div> </div></div><div class="pf-397dbbe0 pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-c3c27589 sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" class="pf-dd406a5d sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-e1bc91a6 sc-eLExRp iavTDB" data-pf-type="Text">Becky Spencer-Davies, 04/03/2019&nbsp;</span></h3></div> </div></div><div class="pf-beb82abb pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-63ba7001 sc-gHboQg eLpzfs" data-pf-type="Column"><p class="pf-1b7b773d dropcap--none sc-bAeIUo kTdcTt" data-pf-type="Paragraph"><span class="pf-63e7ddfe sc-eLExRp iavTDB" data-pf-type="Text">G</span><span class="pf-82f8bbdd sc-eLExRp iavTDB" data-pf-type="Text">enerally people vape as a way to quit smoking. Vaping has been said to be 95% safer than smoking cigarettes, with that statistic in mind it is no wonder people vape. But why do people vape instead of nicotine patches or gum? There are numerous reasons why people would choose to vape rather than use other quit smoking methods. In this blog we are going to explain a few reasons behind why people vape.<div><br></div></span></p><h3 mode="view" class="pf-56030d94 sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-bb81ebdc sc-eLExRp iavTDB" data-pf-type="Text">HABITUAL&nbsp;<br></span></h3><p class="pf-db52ee26 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-0d70e4ed sc-eLExRp iavTDB" data-pf-type="Text">Vaping allows you the nicotine you crave, while letting you keep up the action of smoking. Being addicted to cigarettes is more than just nicotine addiction, it is habitual. Vaping allows you to keep the habit, without the harmful chemicals.&nbsp;</span></p></div> </div></div><div class="pf-89eac40e pf-r pf-r-eh sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-1c05056f sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" class="pf-501bebd4 sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-747a139d sc-eLExRp iavTDB" data-pf-type="Text">COMMUNITY&nbsp;</span></h3><p class="pf-ecf9e34b sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-7a424d6d sc-eLExRp iavTDB" data-pf-type="Text"><div>Another reason why people might vape is because of the community it has created. Vape shops often host events and workshops, from building your own coils to e-sport events and quiz nights. This sense of community is a real pull for some people to quit smoking and start vaping. It helps you to meet new people with similar interests, and quit smoking at the same time.&nbsp;</div></span></p><div class="pf-27140945 pf-r pf-r-eh sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-c9dba040 sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" class="pf-0f005f05 sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-81b05381 sc-eLExRp iavTDB" data-pf-type="Text">ENJOYMENT&nbsp;</span></h3><p class="pf-a2405639 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-b61dc39d sc-eLExRp iavTDB" data-pf-type="Text"><div>Enjoyment is a reason why people vape. There are literally hundreds of flavours on the market, along with various vape kits so you can tailor your experience. Finding the flavours you love, from your all day vape to your occasional vape can be a really enjoyable experience.</div></span></p><div class="pf-b31ff234 pf-r pf-r-eh sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-7244e858 sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" class="pf-95825b79 sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-f88ffc26 sc-eLExRp iavTDB" data-pf-type="Text">HOBBY&nbsp;</span></h3><p class="pf-f1dd00b3 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-aa04b1f4 sc-eLExRp iavTDB" data-pf-type="Text">Vaping can easily become a hobby. You might want to build your own complex coils, or maybe you fancy yourself a mixologist. If vaping is your hobby then you’d love the community side, where you can talk to like minded hobbyists about coils, juices, kits and everything in between. At Vape and Juice our staff are always up for a chat! <a href="https://vapeandjuice.co.uk/pages/store-locator-mobile">Find our stores here.</a>&nbsp;<div><br></div></span></p><div class="pf-d8e7f9d7 pf-r pf-r-eh sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-7fc24bd4 sc-gHboQg eLpzfs" data-pf-type="Column"><p class="pf-b07fba3d sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-6198a7e5 sc-eLExRp iavTDB" data-pf-type="Text">People might start vaping as a means to quit smoking, however there is more to vaping than that. It is enjoyable and has a whole community behind it. You will quickly discover just how beneficial vaping can become for your health and even your social life.<div><br></div><div>If you are just getting started with vaping and are not sure what you need, then chat to us online or in store. Or, check out our selection of <a href="https://vapeandjuice.co.uk/collections/starter-kits" target="_self">the best starter kits.&nbsp;</a></div><div><br></div></span></p></div> </div></div></div> </div></div></div> </div></div></div> </div></div></div></div><div data-container="true" class="pf-024a8e18 sc-bnXvFD dwTIAb" data-pf-type="Section"><div class="sc-cpmLhU krxlvo" style="background-color: rgba(0, 0, 0, 0);"></div><div class="sc-dymIpo kdtjOQ" style="max-width: 1170px;"><div class="pf-3ef9596b pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-a6c72b9a sc-gHboQg eLpzfs" data-pf-type="Column"><div class="pf-73aa0d47 pf-r pf-r-ew pf-r-ew--4 sc-iqzUVk gxVtiD" data-pf-type="Shopify.Products">{% for product in collections['starter-kits'].products  limit:4 %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a class="product__thumbnail" href="{{ product.url }}" style="height: 200px; width: 100%;">{% if product.featured_image != blank %}<img src="{{ product.featured_image | img_url: '270x200', crop: 'center' , scale: 2 }}" alt="{{ product.featured_image.alt | escape }}" width="270" height="200">{% else %}<img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="270">{% endif %}</a><div class="product__info"><h3 class="product__info-title"><a href="{{ product.url }}" style="display: block;">{{product.title}}</a></h3><div class="product__info-price" style="color: rgb(208, 2, 27); font-size: 13px;">{%- assign compare_at_price = product.compare_at_price -%}
								{%- assign price = product.price -%}
								{%- assign price_varies = product.price_varies -%}
								{%- assign money_price = price | money -%}{% if compare_at_price > price %}<span class="product__regular-price">{{ money_price }}</span><s class="product__sale-price" style="color: rgb(54, 54, 54);">{{ compare_at_price | money }}</s>{% else %}{% if price_varies %}{{ product.price_min | money }} - {{ product.price_max | money }}{% else %}<span class="product__regular-price" style="color: rgb(208, 2, 27);">{{ money_price }}</span>{% endif %}{% endif %}</div><div class="product__button">{% if product.available %}{% if product.variants.size == 1 %}<a class="product__button" href="#" data-action="AddToCart" data-text="Add To Cart"><span data-variant="{{ product.variants.first.id }}">Add To Cart</span></a>{% else %}<a href="{{ product.url }}" class="product__button"><span>View Options</span></a>{% endif %}{% else %}<a href="javascript:void(0);" aria-disabled="true" class="product__button"><span>{{ 'pagefly.products.product.sold_out' | t }}</span></a>{% endif %}</div></div></div></div>{% else %}{% for i in (1..4) %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a href="javascript:void(0);" class="product__thumbnail" style="height: 200px; width: 100%;"><img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="270"></a><div class="product__info"><h3 class="product__info-title"><a href="javascript:void(0);" style="display: block;">Example product title</a></h3><div class="product__info-price" style="color: rgb(208, 2, 27); font-size: 13px;"><span class="product__regular-price">$99.00</span></div><div class="product__button"><a href="javascript:void(0);" class="product__button">Add To Cart</a></div></div></div></div>{% endfor %}{% endfor %}</div></div> </div></div></div></div><div data-container="true" class="pf-bb02736a sc-bnXvFD dwTIAb" data-pf-type="Section"><div class="sc-cpmLhU krxlvo" style="background-color: rgba(0, 0, 0, 0);"></div><div class="sc-dymIpo kdtjOQ" style="max-width: 1170px;"><div class="pf-4264b5fa pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-7ad7f525 sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" class="pf-1cb91da2 sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-972eeeb6 sc-eLExRp iavTDB" data-pf-type="Text">Want 10% Off?<br></span></h3><p class="pf-b9bc3533 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-34d1a048 sc-eLExRp iavTDB" data-pf-type="Text">We like to reward our blog readers with exclusive discounts! Get an extra 10% off your purchases today with this discount code!&nbsp;&nbsp;</span></p></div> </div></div><div class="pf-35de2901 pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-31d0315f sc-gHboQg eLpzfs" data-pf-type="Column"><p class="pf-109cfd8e sc-bAeIUo fRnTAR" data-animation="tada" data-pf-type="Paragraph"><span class="pf-074dfb4f sc-eLExRp iavTDB" data-pf-type="Text">WELCOME10</span></p></div> </div></div></div></div></div></div></div><script>
					window.__pagefly_options__=window.__pagefly_options__||[],window.__pagefly_options__.push({});
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","isBackend":false};
					0;
				</script><script src="https://cdn.pagefly.io/pagefly/2.0.1/core/helper.js?t=2019-03-04-12"></script> {% include 'pagefly-article-tags' %}{% include 'pagefly-comment-form' %}</article>