<article itemscope itemtype="http://schema.org/Article"> <link rel="preload" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400"></noscript><link rel="preload" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></noscript><link rel="preload" href="https://cdn.pagefly.io/pagefly/2.0.2/css/animation-style.css?t=2019-04-04-13" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.0.2/css/animation-style.css?t=2019-04-04-13"></noscript><link rel="preload" href="https://cdn.pagefly.io/pagefly/2.0.2/css/main-style.css?t=2019-04-04-13" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.0.2/css/main-style.css?t=2019-04-04-13"></noscript><style>
					/* PageFly Element Styles */
					.IoliW__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.IoliW { padding: 15px 0px; position: relative; }
.IoliW .sc-eLExRp { position: relative; }
.IoliW[data-container="true"] .sc-eLExRp { padding: 0px 15px; width: 100%; margin: auto; }
.IoliW .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.iUdgQL { margin: 0px -15px; }
.efhDmd { position: relative; }
.efhDmd.pf-editor-col::before, .efhDmd.pf-editor-col::after { content: ""; display: block; position: absolute; top: 0px; bottom: 0px; width: 10px; }
.efhDmd.pf-editor-col::before { left: -10px; }
.efhDmd.pf-editor-col::after { right: -10px; }
.hCTnDy { margin: 0px 0px 15px; }
.hCTnDy > a { color: inherit !important; }
.hCTnDy > span { font-weight: inherit; text-decoration: inherit; }
.hCTnDy { word-break: break-word; }
.hCTnDy.pf-i--left i { margin-right: 0.3em; }
.hCTnDy.pf-i--right i { margin-left: 0.3em; }
.hCTnDy.pf-i--top i { margin-bottom: 0.5em; }
.hCTnDy.pf-i--top > span, .hCTnDy.pf-i--top > a { display: block; }
.hCTnDy.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.hCTnDy [class*="--diamond"] { margin-right: 1em; }
.dWevfJ { display: inline-block; }
.dWevfJ { vertical-align: baseline; word-break: break-word; }
.dWevfJ:focus { outline: none; }
.RLwIO { margin: 0px 0px 15px; }
.RLwIO > a { color: inherit !important; }
.RLwIO > span { font-weight: inherit; text-decoration: inherit; }
.RLwIO { word-break: break-word; }
.RLwIO.pf-i--left i { margin-right: 0.3em; }
.RLwIO.pf-i--right i { margin-left: 0.3em; }
.RLwIO.pf-i--top i { margin-bottom: 0.5em; }
.RLwIO.pf-i--top > span, .RLwIO.pf-i--top > a { display: block; }
.RLwIO.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.RLwIO [class*="--diamond"] { margin-right: 1em; }
.huQPUn { margin: 0px 0px 15px; }
.huQPUn > a { color: inherit !important; }
.huQPUn > span { font-weight: inherit; text-decoration: inherit; }
.huQPUn { word-break: break-word; }
.huQPUn.pf-i--left i { margin-right: 0.3em; }
.huQPUn.pf-i--right i { margin-left: 0.3em; }
.huQPUn.pf-i--top i { margin-bottom: 0.5em; }
.huQPUn.pf-i--top > span, .huQPUn.pf-i--top > a { display: block; }
.huQPUn.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.huQPUn [class*="--diamond"] { margin-right: 1em; }
.gFMjkE > span:last-child { line-height: inherit; display: block; }
.gFMjkE[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; color: rgb(0, 0, 0); width: 50px; height: 50px; line-height: 50px; font-size: 2em; background: rgb(145, 157, 169); }
.gFMjkE[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.gFMjkE.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.gFMjkE.dropcap--circle > span:first-child { border-radius: 100%; }
.gFMjkE:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.gFMjkE ol, .gFMjkE ul { list-style-position: inside; }
.gFMjkE blockquote { font-size: inherit; }
.kxBUTU > span:last-child { line-height: inherit; display: block; }
.kxBUTU[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.kxBUTU[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.kxBUTU.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.kxBUTU.dropcap--circle > span:first-child { border-radius: 100%; }
.kxBUTU:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.kxBUTU ol, .kxBUTU ul { list-style-position: inside; }
.kxBUTU blockquote { font-size: inherit; }
.iVqvQb { position: relative; overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; vertical-align: middle; max-width: 100%; }
.iVqvQb img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; position: unset; }
.eWmgqN { display: inline-block; line-height: 1; padding: 0.7em 1.2em; box-sizing: border-box; cursor: pointer; text-align: center; border: none; border-radius: 0px; text-decoration: none; position: relative; max-width: 100%; outline: none; vertical-align: middle; }
.eWmgqN:hover, .eWmgqN:active, .eWmgqN:focus { color: inherit; text-decoration: none; }
.eWmgqN > span { text-decoration: inherit; line-height: inherit; display: inline-block; max-width: 100%; }
.eWmgqN[data-active="true"] { background: black; color: white; }
.eWmgqN.pf-i--left i { margin-right: 0.3em; }
.eWmgqN + .sc-dqBHgY, .eWmgqN.pf-i--right i { margin-left: 0.3em; }
.eWmgqN.pf-i--top i { margin-bottom: 0.5em; display: block; }
.jbmXZx { margin: 0px -15px; }
.jbmXZx .pf__shopify-product { width: 100%; text-align: center; }
.jbmXZx .pf-c { padding: 15px; display: flex; }
.jbmXZx .product__thumbnail { display: -webkit-flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; overflow: hidden; max-width: 100%; position: relative; }
.jbmXZx .product__thumbnail img { vertical-align: middle; max-width: 100%; height: auto; }
.jbmXZx .product__thumbnail .pf-placeholder-svg { fill: rgb(166, 166, 166); background-color: rgb(245, 245, 245); width: 100%; max-width: 100%; max-height: 100%; border-radius: inherit; }
.jbmXZx .product__button > a { display: block; padding: 0px 20px; line-height: 36px; height: 36px; background: rgb(85, 193, 72); margin-top: 10px; color: rgb(255, 255, 255); text-align: center; text-decoration: none; }
.jbmXZx .product__button > a:hover { opacity: 0.7; color: rgb(255, 255, 255); }
.jbmXZx .product__info-price { margin-top: 10px; font-size: 13px; color: rgb(208, 2, 27); }
.jbmXZx .product__sale-price { margin-left: 10px; color: rgb(54, 54, 54); font-size: 0.8em; }
.jbmXZx .product__info-title { margin: 10px 0px 0px; font-size: 16px; font-weight: 500; line-height: 1.5; text-transform: none; font-family: inherit; color: rgb(45, 45, 45); }
.jbmXZx .product__info-title a { color: rgb(27, 28, 29); text-decoration: none; }
.jbmXZx .shopify__product-vertical, .jbmXZx .shopify__product-vertical .product__info { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-flow: column; }
.jbmXZx .shopify__product-vertical .product__info, .jbmXZx .shopify__product-vertical .product__info-title { flex: 1 0 auto; }
.jbmXZx .shopify__product-horizontal { display: -webkit-flex; }
.jbmXZx .shopify__product-horizontal .product__thumbnail { flex: 1 1 0%; height: auto !important; }
.jbmXZx .shopify__product-horizontal .product__info { text-align: left; flex: 3 1 0%; padding-left: 15px; }
.jbmXZx .shopify__product-horizontal .product__info-title { margin-top: 0px; }
.jbmXZx .shopify__product-horizontal .product__button > a { width: auto; display: inline-block; }
					/* PageFly Styles */
					
@media all {
	[data-pf-type="Block"].pf-27da1565 {
		text-align: center;
	}
	[data-pf-type="Section"].pf-7bc21a51 {
		padding: 100px 0px;
		 background-size: cover;
		 background-repeat: no-repeat;
		 background-image: url("https://media.pagefly.io/file/get/ecigarette3576177_1920jpg-1535855185893.jpg");
		 background-position: 50% 50%;
		 margin-top: -25px;
	}
	[data-pf-type="Heading"].pf-b336621c {
		text-align: center;
		 font-size: 60px;
		 color: black;
		 line-height: 2;
		 margin-bottom: 5px;
		 margin-top: 10px;
	}
	[data-pf-type="Heading"].pf-09d1121f {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 36px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Text"].pf-35e72ed6 {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Paragraph"].pf-b1f64aab {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Heading"].pf-98235671 {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: center;
	}
	[data-pf-type="Heading"].pf-391d974e {
		font-size: 30px;
		 margin-top: 0px;
		 font-weight: 700;
	}
	[data-pf-type="Paragraph"].pf-1b3d021c {
		text-align: justify;
		 font-size: 18px;
	}
	[data-pf-type="Heading"].pf-f991ca9e {
		font-size: 30px;
		 margin-top: 0px;
		 font-weight: 700;
	}
	[data-pf-type="Paragraph"].pf-32bf7351 {
		text-align: justify;
		 font-size: 18px;
	}
	[data-pf-type="Heading"].pf-98753296 {
		font-size: 30px;
		 margin-top: 0px;
		 font-weight: 700;
	}
	[data-pf-type="Paragraph"].pf-d45c6bf2 {
		text-align: justify;
		 font-size: 18px;
	}
	[data-pf-type="Heading"].pf-1b8aa12b {
		font-size: 30px;
		 margin-top: 0px;
		 font-weight: 700;
	}
	[data-pf-type="Paragraph"].pf-e6bb461a {
		text-align: justify;
		 font-size: 18px;
	}
	[data-pf-type="Heading"].pf-f42230fd {
		font-size: 30px;
		 margin-top: 0px;
		 font-weight: 700;
	}
	[data-pf-type="Paragraph"].pf-787b70d7 {
		text-align: justify;
		 font-size: 18px;
	}
	[data-pf-type="Paragraph"].pf-fd11dbff {
		text-align: justify;
		 font-size: 18px;
	}
	[data-pf-type="Heading"].pf-6f4efc81 {
		font-size: 30px;
		 margin-top: 20px;
		 font-weight: 700;
		 padding-top: 20px;
	}
	[data-pf-type="Image"].pf-4ac80007 {
		width: 300px;
		 align-items: center;
		 justify-content: center;
	}
	[data-pf-type="Button"].pf-3355f69e {
		color: white;
		 background-color: black;
		 font-weight: 700;
		 padding-top: 9px;
		 margin-top: 5px;
		 text-align: center;
	}
	[data-pf-type="Column"].pf-83599304 {
		text-align: center;
	}
	[data-pf-type="Heading"].pf-1b9c7465 {
		margin-top: 0px;
		 text-align: left;
		 margin-bottom: 0px;
	}
	[data-pf-type="Paragraph"].pf-7dbb050d {
		font-size: 18px;
		 text-align: left;
		 margin-top: 10px;
	}
	[data-pf-type="Row"].pf-4e6676a4 {
		text-align: center;
	}
	[data-pf-type="Heading"].pf-5c24325b {
		font-size: 30px;
		 margin-top: 20px;
		 font-weight: 700;
		 padding-top: 20px;
	}
	[data-pf-type="Image"].pf-30c0e46c {
		width: 300px;
		 align-items: center;
		 justify-content: center;
	}
	[data-pf-type="Button"].pf-a8028348 {
		color: white;
		 background-color: black;
		 font-weight: 700;
		 padding-top: 9px;
		 margin-top: 5px;
		 text-align: center;
	}
	[data-pf-type="Column"].pf-6221a8f4 {
		text-align: center;
	}
	[data-pf-type="Heading"].pf-c4210b97 {
		margin-top: 0px;
		 text-align: left;
		 margin-bottom: 0px;
	}
	[data-pf-type="Paragraph"].pf-ac38c761 {
		font-size: 18px;
		 text-align: left;
		 margin-top: 10px;
	}
	[data-pf-type="Section"].pf-b0f8c6a8 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	[data-pf-type="Shopify.Products"].pf-23b5e833 {
		font-size: 18px;
	}
	[data-pf-type="Shopify.Products"].pf-23b5e833 > .pf-c > div > div > div > .product__button {
		background-color: black;
	}
	[data-pf-type="Shopify.Products"].pf-23b5e833 > .pf-c > div {
		font-size: 18px;
	}
	[data-pf-type="Shopify.Products"].pf-23b5e833 > .pf-c > div > div > h3 > a {
		font-size: 14px;
	}
	[data-pf-type="Heading"].pf-86654dba {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: center;
		 color: white;
	}
	[data-pf-type="Paragraph"].pf-1b897d9f {
		text-align: center;
		 font-size: 20px;
		 color: white;
		 font-weight: 700;
	}
	[data-pf-type="Paragraph"].pf-c76022fc {
		font-size: 36px;
		 color: white;
		 text-align: center;
		 font-weight: 700;
		 border-style: dashed;
	}
	[data-pf-type="Section"].pf-bea1a9cb {
		background-color: black;
	}
}
					/*PageFlyCustomCSS*/
				</style><script src="https://cdnjs.cloudflare.com/ajax/libs/loadCSS/2.0.1/cssrelpreload.min.js" async></script><link rel="stylesheet" href="{{ 'pagefly.aa24872d.scss.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div class="pf-18878cfd sc-kTUwUJ ljwnSF" data-pf-type="Body"><div class="pf-ba1e423b sc-GMQeP jXMCGy" data-pf-type="Layout"><div data-container="true" class="pf-bcaa93fa sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-9b600358 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-d26853ce sc-cQFLBn efhDmd" data-pf-type="Column"><h1 mode="view" class="pf-b336621c sc-iQKALj hCTnDy" data-pf-type="Heading"><span class="pf-5bfcf154 sc-hGoxap dWevfJ" data-pf-type="Text">How should I take CBD?<br></span></h1><h2 mode="view" class="pf-09d1121f sc-RefOD RLwIO" data-pf-type="Heading"><span class="pf-1f1459bc sc-hGoxap dWevfJ" data-pf-type="Text">Should you vape it or ingest it?</span></h2></div> </div></div><div class="pf-a1a95c57 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-6a041785 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-653f7db5 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-a27bb671 sc-hGoxap dWevfJ" data-pf-type="Text">Becky Spencer-Davies, 02/04/2019&nbsp;</span></h3></div> </div></div><div class="pf-cd20382c pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-bd070ceb sc-cQFLBn efhDmd" data-pf-type="Column"><p class="pf-b1f64aab dropcap--none sc-emmjRN gFMjkE" data-pf-type="Paragraph"><span class="pf-35e72ed6 sc-hGoxap dWevfJ" data-pf-type="Text">Y</span><span class="pf-87bb9db3 sc-hGoxap dWevfJ" data-pf-type="Text"><div>ou’ve decided that CBD is for you. You like the idea of how it can help with your health ailments and conditions. Maybe you are looking for it to help with anxiety, insomnia, cancer symptoms, pain and inflammation or seizures. Now you are wondering, how should I take CBD?<br><br>There are a number of different ways to take CBD depending on personal preference. You can ingest CBD, inhale it using a vape device and <a href="https://vapeandjuice.co.uk/collections/cbd-eliquid" target="_self">e-juice</a> or rub it on your skin in the form of a cream. In this blog, we are going to share what you need to consider when you are deciding how should I take CBD.<br></div></span></p></div> </div></div><div class="pf-416aab4b pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-e9cc7630 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-98235671 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-4b01c1ea sc-hGoxap dWevfJ" data-pf-type="Text">What to consider when deciding how to take CBD&nbsp;</span></h3></div> </div></div><div class="pf-f523c78d pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-cc7384e8 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-391d974e sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-be32d8f7 sc-hGoxap dWevfJ" data-pf-type="Text">What are you comfortable with?</span></h3><p class="pf-1b3d021c sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-d99d39e6 sc-hGoxap dWevfJ" data-pf-type="Text">If you have never smoked or vaped, then you might not like the idea of inhaling CBD in an e-liquid. There are still effective ways you can enjoy CBD without inhaling. If this is the case you might want to consider edibles. You can make your own such as CBD Brownies (delicious by the way) or you can buy gummies pre-made. Your other option is the tincture drops. </span></p></div> </div></div><div class="pf-99f61259 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-f97bd8ac sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-f991ca9e sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-131bd58f sc-hGoxap dWevfJ" data-pf-type="Text">What is your budget?</span></h3><p class="pf-32bf7351 sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-1fced496 sc-hGoxap dWevfJ" data-pf-type="Text">If you don’t have much to spend on CBD then you might find that vaping can be a little pricier. This is due to the initial set up costs of buying a vape kit. While you can pick up a vape kit suitable for CBD for around £20 if this isn’t in your budget then you’ll be better off with another method.&nbsp;</span></p></div> </div></div><div class="pf-add668fd pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-9f3edb02 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-98753296 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-e1d54db1 sc-hGoxap dWevfJ" data-pf-type="Text">How quickly do you want it to work?</span></h3><p class="pf-d45c6bf2 sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-43e4d59a sc-hGoxap dWevfJ" data-pf-type="Text">If you are looking for a way to take CBD that has fast effects then you will want to opt for either vaping it or using tincture drops. Tincture drops and vaping are the most bioavailable way to take CBD. This means that the CBD enters the bloodstream quickly. Edibles take a little longer to get into your system as it mixes with food and acid in your stomach before it enters the bloodstream.</span></p></div> </div></div><div class="pf-bec687fb pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-e86beb70 sc-cQFLBn efhDmd" data-pf-type="Column"><div class="pf-47fa2908 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-f060c412 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-1b8aa12b sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-5739f754 sc-hGoxap dWevfJ" data-pf-type="Text">Do you want the flavour of CBD?</span></h3><p class="pf-e6bb461a sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-9199a894 sc-hGoxap dWevfJ" data-pf-type="Text">If you want a stronger flavour of CBD then you might prefer the <a href="https://vapeandjuice.co.uk/collections/newest-products/products/journey-cbd-flowers-white-russian-1g" target="_self">CBD flowers</a>. These can be vaped in a dry herb vapouriser, such as the <a href="https://vapeandjuice.co.uk/collections/newest-products/products/pax-2-vaporizer" target="_self">PAX3.</a> You can then use the leftover material from the dry herb to cook with - we like it in brownies. E-liquid also has an authentic flavour and you can buy various flavours and strains.&nbsp;</span></p></div> </div></div><h3 mode="view" class="pf-f42230fd sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-337f3c28 sc-hGoxap dWevfJ" data-pf-type="Text">How do I make CBD brownies?</span></h3><p class="pf-787b70d7 sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-d0b6d819 sc-hGoxap dWevfJ" data-pf-type="Text">Watch our video on a tried and tested CBD brownie recipe. Whip up a batch and see how good they are for yourself!&nbsp;</span></p></div> </div></div><div class="pf-4579fe38 pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-579b982e sc-cQFLBn efhDmd" data-pf-type="Column"><p class="pf-fd11dbff sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-d7bc8cec sc-hGoxap dWevfJ" data-pf-type="Text">How you should take CBD is up to you. If you are looking to vape it with e-juice or flowers then have a look at some of the products we have on offer.</span></p></div> </div></div></div></div><div data-container="true" class="pf-b0f8c6a8 sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-a1de5f36 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-9b0db89e sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-6f4efc81 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-7743bea6 sc-hGoxap dWevfJ" data-pf-type="Text">CBD FLOWERS - JOURNEY CBD&nbsp;</span></h3></div> </div></div><div class="pf-4e6676a4 pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--4" style="padding: 15px;"><div class="pf-83599304 sc-cQFLBn efhDmd" data-pf-type="Column"><picture class="pf-4ac80007 sc-bMVAic iVqvQb" data-animation="wobble" data-pf-type="Image"><img src="https://cdn.shopify.com/s/files/1/0290/5629/t/62/assets/How-should-i-take-CBD.png?11081"></picture><a class="pf-3355f69e sc-dqBHgY eWmgqN" href="https://vapeandjuice.co.uk/collections/newest-products/products/journey-cbd-flowers-white-russian-1g" target="_self" data-pf-type="Button"><span class="pf-1daffb21 sc-hGoxap dWevfJ" data-pf-type="Text">ADD TO CART</span></a></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--8" style="padding: 15px;"><div class="pf-12e66e2d sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-1b9c7465 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-3aa50dcd sc-hGoxap dWevfJ" data-pf-type="Text">£19.99</span></h3><p class="pf-7dbb050d sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-e2d78682 sc-hGoxap dWevfJ" data-pf-type="Text">Journey CBD Flowers presents White Russian CBD flowers, our most flavourful strain.<br>Perfect for those looking for that authentic taste in their dry herb vaporiser. Once you are one vaping the flower you can use the leftover matter to cook with in brownies, butter or other food.&nbsp;<br><br><br></span></p></div> </div></div><div class="pf-b1a49a96 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-2084b442 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-5c24325b sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-b60a863a sc-hGoxap dWevfJ" data-pf-type="Text">&nbsp;E-JUICE - GREEN HOUSE TERPENES</span></h3><div class="pf-83554bc0 pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--4 pf-c-lg--4" style="padding: 15px;"><div class="pf-6221a8f4 sc-cQFLBn efhDmd" data-pf-type="Column"><picture class="pf-30c0e46c sc-bMVAic iVqvQb" data-animation="wobble" data-pf-type="Image"><img src="https://cdn.shopify.com/s/files/1/0290/5629/t/62/assets/terpenes-CBD-Gelato-no-1-greenhouse-terpenes.png?10981"></picture><a class="pf-a8028348 sc-dqBHgY eWmgqN" href="https://vapeandjuice.co.uk/collections/the-green-house/products/cbd-gelato-300ml" target="_self" data-pf-type="Button"><span class="pf-9148e1fc sc-hGoxap dWevfJ" data-pf-type="Text">ADD TO CART</span></a></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--4 pf-c-lg--8" style="padding: 15px;"><div class="pf-91f5afe2 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-c4210b97 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-e3595217 sc-hGoxap dWevfJ" data-pf-type="Text">£34.99</span></h3><p class="pf-ac38c761 sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-54af3b5b sc-hGoxap dWevfJ" data-pf-type="Text">&nbsp;This 300ml bottle of CBD e-liquid contains 300mg of CBD plus terpenes and is exclusive to Vape and Juice. It is a&nbsp;sweet and earthy e-juice, made from naturally extracted terpenes. This provides relaxation and euphoric feelings.&nbsp;<br><br><div>Perfect if you are having trouble chilling out, sleeping or if you have a low mood.<br><br></div></span></p></div> </div></div></div> </div></div></div></div><div data-container="true" class="pf-28dc6fb1 sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-4cfb024d pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-8222ebe8 sc-cQFLBn efhDmd" data-pf-type="Column"><div class="pf-23b5e833 pf-r pf-r-ew pf-r-ew--4 sc-jtggT jbmXZx" data-animation="pulse" data-pf-type="Shopify.Products">{% for product in collections['cbd-eliquid'].products  limit:4 %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a class="product__thumbnail" href="{{ product.url }}" style="height: 200px; width: 100%;">{% if product.featured_image != blank %}<img src="{{ product.featured_image | img_url: '270x200', crop: 'center' , scale: 2 }}" alt="{{ product.featured_image.alt | escape }}" width="270" height="200">{% else %}<img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="270">{% endif %}</a><div class="product__info"><h3 class="product__info-title"><a href="{{ product.url }}" style="display: block;">{{product.title}}</a></h3><div class="product__info-price" style="color: black; font-size: 13px;">{%- assign compare_at_price = product.compare_at_price -%}
								{%- assign price = product.price -%}
								{%- assign price_varies = product.price_varies -%}
								{%- assign money_price = price | money -%}{% if compare_at_price > price %}<span class="product__regular-price">{{ money_price }}</span><s class="product__sale-price" style="color: rgb(208, 2, 27);">{{ compare_at_price | money }}</s>{% else %}{% if price_varies %}{{ product.price_min | money }} - {{ product.price_max | money }}{% else %}<span class="product__regular-price" style="color: black;">{{ money_price }}</span>{% endif %}{% endif %}</div><div class="product__button">{% if product.available %}{% if product.variants.size == 1 %}<a class="product__button" href="#" data-action="AddToCart" data-text="Add To Cart"><span data-variant="{{ product.variants.first.id }}">Add To Cart</span></a>{% else %}<a href="{{ product.url }}" class="product__button"><span>View Options</span></a>{% endif %}{% else %}<a href="javascript:void(0);" aria-disabled="true" class="product__button"><span>{{ 'pagefly.products.product.sold_out' | t }}</span></a>{% endif %}</div></div></div></div>{% else %}{% for i in (1..4) %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a href="javascript:void(0);" class="product__thumbnail" style="height: 200px; width: 100%;"><img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="270"></a><div class="product__info"><h3 class="product__info-title"><a href="javascript:void(0);" style="display: block;">Example product title</a></h3><div class="product__info-price" style="color: black; font-size: 13px;"><span class="product__regular-price">$99.00</span></div><div class="product__button"><a href="javascript:void(0);" class="product__button">Add To Cart</a></div></div></div></div>{% endfor %}{% endfor %}</div></div> </div></div></div></div><div data-container="true" class="pf-bea1a9cb sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-f0e268ca pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-18d0083d sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-86654dba sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-d930a7db sc-hGoxap dWevfJ" data-pf-type="Text">Want 10% Off?<br></span></h3><p class="pf-1b897d9f sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-6dfae6c1 sc-hGoxap dWevfJ" data-pf-type="Text">We like to reward our blog readers with exclusive discounts! Get an extra 10% off your purchases today with this discount code!&nbsp;&nbsp;</span></p></div> </div></div><div class="pf-71c63a7e pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-ed4f11cb sc-cQFLBn efhDmd" data-pf-type="Column"><p class="pf-c76022fc sc-emmjRN kxBUTU" data-animation="tada" data-pf-type="Paragraph"><span class="pf-726309ca sc-hGoxap dWevfJ" data-pf-type="Text">WELCOME10</span></p></div> </div></div></div></div></div></div></div><script>
					window.__pagefly_options__=window.__pagefly_options__||[],window.__pagefly_options__.push({});
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","isBackend":false};
					0;
				</script><script src="https://cdn.pagefly.io/pagefly/2.0.2/core/helper.js?t=2019-04-04-13" defer></script> </article>