<article itemscope itemtype="http://schema.org/Article"> <link rel="preload" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400"></noscript><link rel="preload" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></noscript><link rel="preload" href="https://cdn.pagefly.io/pagefly/2.0.2/css/animation-style.css?t=2019-04-04-13" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.0.2/css/animation-style.css?t=2019-04-04-13"></noscript><link rel="preload" href="https://cdn.pagefly.io/pagefly/2.0.2/css/main-style.css?t=2019-04-04-13" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.0.2/css/main-style.css?t=2019-04-04-13"></noscript><style>
					/* PageFly Element Styles */
					.IoliW__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.IoliW { padding: 15px 0px; position: relative; }
.IoliW .sc-eLExRp { position: relative; }
.IoliW[data-container="true"] .sc-eLExRp { padding: 0px 15px; width: 100%; margin: auto; }
.IoliW .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.iUdgQL { margin: 0px -15px; }
.efhDmd { position: relative; }
.efhDmd.pf-editor-col::before, .efhDmd.pf-editor-col::after { content: ""; display: block; position: absolute; top: 0px; bottom: 0px; width: 10px; }
.efhDmd.pf-editor-col::before { left: -10px; }
.efhDmd.pf-editor-col::after { right: -10px; }
.hCTnDy { margin: 0px 0px 15px; }
.hCTnDy > a { color: inherit !important; }
.hCTnDy > span { font-weight: inherit; text-decoration: inherit; }
.hCTnDy { word-break: break-word; }
.hCTnDy.pf-i--left i { margin-right: 0.3em; }
.hCTnDy.pf-i--right i { margin-left: 0.3em; }
.hCTnDy.pf-i--top i { margin-bottom: 0.5em; }
.hCTnDy.pf-i--top > span, .hCTnDy.pf-i--top > a { display: block; }
.hCTnDy.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.hCTnDy [class*="--diamond"] { margin-right: 1em; }
.dWevfJ { display: inline-block; }
.dWevfJ { vertical-align: baseline; word-break: break-word; }
.dWevfJ:focus { outline: none; }
.RLwIO { margin: 0px 0px 15px; }
.RLwIO > a { color: inherit !important; }
.RLwIO > span { font-weight: inherit; text-decoration: inherit; }
.RLwIO { word-break: break-word; }
.RLwIO.pf-i--left i { margin-right: 0.3em; }
.RLwIO.pf-i--right i { margin-left: 0.3em; }
.RLwIO.pf-i--top i { margin-bottom: 0.5em; }
.RLwIO.pf-i--top > span, .RLwIO.pf-i--top > a { display: block; }
.RLwIO.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.RLwIO [class*="--diamond"] { margin-right: 1em; }
.huQPUn { margin: 0px 0px 15px; }
.huQPUn > a { color: inherit !important; }
.huQPUn > span { font-weight: inherit; text-decoration: inherit; }
.huQPUn { word-break: break-word; }
.huQPUn.pf-i--left i { margin-right: 0.3em; }
.huQPUn.pf-i--right i { margin-left: 0.3em; }
.huQPUn.pf-i--top i { margin-bottom: 0.5em; }
.huQPUn.pf-i--top > span, .huQPUn.pf-i--top > a { display: block; }
.huQPUn.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.huQPUn [class*="--diamond"] { margin-right: 1em; }
.gFMjkE > span:last-child { line-height: inherit; display: block; }
.gFMjkE[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; color: rgb(0, 0, 0); width: 50px; height: 50px; line-height: 50px; font-size: 2em; background: rgb(145, 157, 169); }
.gFMjkE[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.gFMjkE.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.gFMjkE.dropcap--circle > span:first-child { border-radius: 100%; }
.gFMjkE:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.gFMjkE ol, .gFMjkE ul { list-style-position: inside; }
.gFMjkE blockquote { font-size: inherit; }
.kxBUTU > span:last-child { line-height: inherit; display: block; }
.kxBUTU[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.kxBUTU[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.kxBUTU.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.kxBUTU.dropcap--circle > span:first-child { border-radius: 100%; }
.kxBUTU:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.kxBUTU ol, .kxBUTU ul { list-style-position: inside; }
.kxBUTU blockquote { font-size: inherit; }
.jbmXZx { margin: 0px -15px; }
.jbmXZx .pf__shopify-product { width: 100%; text-align: center; }
.jbmXZx .pf-c { padding: 15px; display: flex; }
.jbmXZx .product__thumbnail { display: -webkit-flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; overflow: hidden; max-width: 100%; position: relative; }
.jbmXZx .product__thumbnail img { vertical-align: middle; max-width: 100%; height: auto; }
.jbmXZx .product__thumbnail .pf-placeholder-svg { fill: rgb(166, 166, 166); background-color: rgb(245, 245, 245); width: 100%; max-width: 100%; max-height: 100%; border-radius: inherit; }
.jbmXZx .product__button > a { display: block; padding: 0px 20px; line-height: 36px; height: 36px; background: rgb(85, 193, 72); margin-top: 10px; color: rgb(255, 255, 255); text-align: center; text-decoration: none; }
.jbmXZx .product__button > a:hover { opacity: 0.7; color: rgb(255, 255, 255); }
.jbmXZx .product__info-price { margin-top: 10px; font-size: 13px; color: rgb(208, 2, 27); }
.jbmXZx .product__sale-price { margin-left: 10px; color: rgb(54, 54, 54); font-size: 0.8em; }
.jbmXZx .product__info-title { margin: 10px 0px 0px; font-size: 16px; font-weight: 500; line-height: 1.5; text-transform: none; font-family: inherit; color: rgb(45, 45, 45); }
.jbmXZx .product__info-title a { color: rgb(27, 28, 29); text-decoration: none; }
.jbmXZx .shopify__product-vertical, .jbmXZx .shopify__product-vertical .product__info { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-flow: column; }
.jbmXZx .shopify__product-vertical .product__info, .jbmXZx .shopify__product-vertical .product__info-title { flex: 1 0 auto; }
.jbmXZx .shopify__product-horizontal { display: -webkit-flex; }
.jbmXZx .shopify__product-horizontal .product__thumbnail { flex: 1 1 0%; height: auto !important; }
.jbmXZx .shopify__product-horizontal .product__info { text-align: left; flex: 3 1 0%; padding-left: 15px; }
.jbmXZx .shopify__product-horizontal .product__info-title { margin-top: 0px; }
.jbmXZx .shopify__product-horizontal .product__button > a { width: auto; display: inline-block; }
					/* PageFly Styles */
					
@media all {
	[data-pf-type="Block"].pf-004ae7e1 {
		text-align: center;
	}
	[data-pf-type="Section"].pf-41c67726 {
		padding: 100px 0px;
		 background-size: cover;
		 background-repeat: no-repeat;
		 background-image: url("https://media.pagefly.io/file/get/ecigarette3576177_1920jpg-1535855185893.jpg");
		 background-position: 50% 50%;
		 margin-top: -25px;
	}
	[data-pf-type="Heading"].pf-9de52ba5 {
		text-align: center;
		 font-size: 60px;
		 color: black;
		 line-height: 2;
		 margin-bottom: 5px;
		 margin-top: 10px;
	}
	[data-pf-type="Heading"].pf-2972d08e {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 36px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Text"].pf-c532a9a4 {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Paragraph"].pf-d0a9a386 {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Heading"].pf-52995468 {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: center;
	}
	[data-pf-type="Heading"].pf-039b111a {
		font-size: 30px;
		 margin-top: 0px;
		 font-weight: 700;
	}
	[data-pf-type="Paragraph"].pf-f37d8776 {
		text-align: justify;
		 font-size: 18px;
	}
	[data-pf-type="Heading"].pf-9d0c4f8e {
		font-size: 30px;
		 margin-top: 0px;
		 font-weight: 700;
	}
	[data-pf-type="Paragraph"].pf-3a925c0f {
		text-align: justify;
		 font-size: 18px;
	}
	[data-pf-type="Heading"].pf-eb4073e0 {
		font-size: 30px;
		 margin-top: 0px;
		 font-weight: 700;
	}
	[data-pf-type="Paragraph"].pf-3031b3de {
		text-align: justify;
		 font-size: 18px;
	}
	[data-pf-type="Heading"].pf-749b6e57 {
		font-size: 30px;
		 margin-top: 0px;
		 font-weight: 700;
	}
	[data-pf-type="Paragraph"].pf-87e84b29 {
		text-align: justify;
		 font-size: 18px;
	}
	[data-pf-type="Heading"].pf-3858bc4d {
		font-size: 30px;
		 margin-top: 0px;
		 font-weight: 700;
	}
	[data-pf-type="Paragraph"].pf-4a68acf6 {
		text-align: justify;
		 font-size: 18px;
	}
	[data-pf-type="Shopify.Products"].pf-03cc52c0 {
		font-size: 18px;
	}
	[data-pf-type="Shopify.Products"].pf-03cc52c0 > .pf-c > div > div > div > .product__button {
		background-color: black;
	}
	[data-pf-type="Shopify.Products"].pf-03cc52c0 > .pf-c > div {
		font-size: 18px;
	}
	[data-pf-type="Shopify.Products"].pf-03cc52c0 > .pf-c > div > div > h3 > a {
		font-size: 14px;
	}
	[data-pf-type="Heading"].pf-ff4832fa {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: center;
		 color: white;
	}
	[data-pf-type="Paragraph"].pf-62d9e2c6 {
		text-align: center;
		 font-size: 20px;
		 color: white;
		 font-weight: 700;
	}
	[data-pf-type="Paragraph"].pf-5176fd6c {
		font-size: 36px;
		 color: white;
		 text-align: center;
		 font-weight: 700;
		 border-style: dashed;
	}
	[data-pf-type="Section"].pf-8f565186 {
		background-color: black;
	}
}
					/*PageFlyCustomCSS*/
				</style><script src="https://cdnjs.cloudflare.com/ajax/libs/loadCSS/2.0.1/cssrelpreload.min.js" async></script><link rel="stylesheet" href="{{ 'pagefly.a347c574.scss.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div class="pf-a4119290 sc-kTUwUJ ljwnSF" data-pf-type="Body"><div class="pf-b6c3ae05 sc-GMQeP jXMCGy" data-pf-type="Layout"><div data-container="true" class="pf-30ee5d24 sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-2606007f pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-efcb09f7 sc-cQFLBn efhDmd" data-pf-type="Column"><h1 mode="view" class="pf-9de52ba5 sc-iQKALj hCTnDy" data-pf-type="Heading"><span class="pf-6aa26b6d sc-hGoxap dWevfJ" data-pf-type="Text">Benefits of Eating CBD<br></span></h1><h2 mode="view" class="pf-2972d08e sc-RefOD RLwIO" data-pf-type="Heading"><span class="pf-de236f7e sc-hGoxap dWevfJ" data-pf-type="Text">Are you looking for a slow release of CBD? Read on.</span></h2></div> </div></div><div class="pf-cc79d5af pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-2b33ddbf sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-a89751ed sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-09f5f06f sc-hGoxap dWevfJ" data-pf-type="Text">Becky Spencer-Davies, 02/04/2019&nbsp;</span></h3></div> </div></div><div class="pf-6a83eede pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-b202a0ee sc-cQFLBn efhDmd" data-pf-type="Column"><p class="pf-d0a9a386 dropcap--none sc-emmjRN gFMjkE" data-pf-type="Paragraph"><span class="pf-c532a9a4 sc-hGoxap dWevfJ" data-pf-type="Text">O</span><span class="pf-36ea41d4 sc-hGoxap dWevfJ" data-pf-type="Text"><div>ne of the ways in which you can take CBD is by ingesting it. You can do so with tincture drops, edibles or by cooking with CBD. There are lots of recipes where you can add CBD to your dish to help relieve some conditions, ailments and daily stresses.<br><br><span style="font-weight: bold;">CBD has been found to help with conditions such as:<br></span><br>Anxiety and depression<br>Seizures<br>Cancer symptoms<br>Parkinsons<br>Sleep disorders<br>Depression<br>Stress <br>PTSD<br>Nausea and headaches<br>Pain and inflammation<br></div></span></p></div> </div></div><div class="pf-11de2533 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-6ac902e0 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-52995468 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-0247db61 sc-hGoxap dWevfJ" data-pf-type="Text">What are the benefits of eating CBD?&nbsp;</span></h3></div> </div></div><div class="pf-a053b1d1 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-edaf301d sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-039b111a sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-8ba7efaf sc-hGoxap dWevfJ" data-pf-type="Text">Long lasting relief&nbsp;</span></h3><p class="pf-f37d8776 sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-2569ac6a sc-hGoxap dWevfJ" data-pf-type="Text">When you ingest CBD it takes between 30 minutes and 2 hours to have an effect. However, the effects lasts 2-4 hours longer than other methods. The CBD will slowly release into your bloodstream as the food is digested. While this might be frustrating if you want fast relief it will stick around a little longer.<br></span></p></div> </div></div><div class="pf-91dd7b9c pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-48fb8d06 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-9d0c4f8e sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-70cb3d4e sc-hGoxap dWevfJ" data-pf-type="Text">Discrete</span></h3><p class="pf-3a925c0f sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-3d2ed557 sc-hGoxap dWevfJ" data-pf-type="Text">Eating CBD is a very discrete way to take it. When you use a dry herb vaporiser or a vaping device you will need to go outside in most places. You will also exhale little clouds, which might not be discrete enough for you. If you have some CBD edibles, such as CBD brownies in your bag you’ll be able to enjoy them whenever you need relief.&nbsp;<br></span></p></div> </div></div><div class="pf-89505f96 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-6fb011a1 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-eb4073e0 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-240fbb5a sc-hGoxap dWevfJ" data-pf-type="Text">Non-psychoactive&nbsp;</span></h3><p class="pf-3031b3de sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-105e0479 sc-hGoxap dWevfJ" data-pf-type="Text">When you take CBD, whether it is edible or e-juice, it will not contain any THC. THC is the psychoactive part of the plant that leaves users feeling “high”. When you ingest CBD you will be left feeling calm with positive energy. You can enjoy a long lasting relief from mild pain and stress of daily life.<br></span></p><div class="pf-2af167ed pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-cf7907e3 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-749b6e57 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-869923c9 sc-hGoxap dWevfJ" data-pf-type="Text">Easy</span></h3><p class="pf-87e84b29 sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-d9df229b sc-hGoxap dWevfJ" data-pf-type="Text">Making your own CBD edibles, such as brownies or biscuits is really easy. You can either use CBD oil or the leftover plant matter from your dry herb vaporiser. Stir this into your brownie mix, butter, or biscuit batter for a delicious treat to enjoy anytime.<br></span></p></div> </div></div></div> </div></div><div class="pf-bcbdc86d pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-e14a81a9 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-3858bc4d sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-f31f48e6 sc-hGoxap dWevfJ" data-pf-type="Text">How should I take CBD?</span></h3><p class="pf-4a68acf6 sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-de48b37c sc-hGoxap dWevfJ" data-pf-type="Text">How you take your CBD is up to you. Some might find that eating it works best for them, where another might enjoy vaping it. <a href="https://vapeandjuice.co.uk/blogs/main-blog/how-should-i-take-cbd-1" target="_self">Read our blog</a> to help you decide how you should take CBD.</span></p></div> </div></div></div></div><div data-container="true" class="pf-35222359 sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-f4f2b912 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-9b44bea2 sc-cQFLBn efhDmd" data-pf-type="Column"><div class="pf-03cc52c0 pf-r pf-r-ew pf-r-ew--4 sc-jtggT jbmXZx" data-animation="pulse" data-pf-type="Shopify.Products">{% for product in collections['cbd-eliquid'].products  limit:4 %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a class="product__thumbnail" href="{{ product.url }}" style="height: 200px; width: 100%;">{% if product.featured_image != blank %}<img src="{{ product.featured_image | img_url: '270x200', crop: 'center' , scale: 2 }}" alt="{{ product.featured_image.alt | escape }}" width="270" height="200">{% else %}<img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="270">{% endif %}</a><div class="product__info"><h3 class="product__info-title"><a href="{{ product.url }}" style="display: block;">{{product.title}}</a></h3><div class="product__info-price" style="color: black; font-size: 13px;">{%- assign compare_at_price = product.compare_at_price -%}
								{%- assign price = product.price -%}
								{%- assign price_varies = product.price_varies -%}
								{%- assign money_price = price | money -%}{% if compare_at_price > price %}<span class="product__regular-price">{{ money_price }}</span><s class="product__sale-price" style="color: rgb(208, 2, 27);">{{ compare_at_price | money }}</s>{% else %}{% if price_varies %}{{ product.price_min | money }} - {{ product.price_max | money }}{% else %}<span class="product__regular-price" style="color: black;">{{ money_price }}</span>{% endif %}{% endif %}</div><div class="product__button">{% if product.available %}{% if product.variants.size == 1 %}<a class="product__button" href="#" data-action="AddToCart" data-text="Add To Cart"><span data-variant="{{ product.variants.first.id }}">Add To Cart</span></a>{% else %}<a href="{{ product.url }}" class="product__button"><span>View Options</span></a>{% endif %}{% else %}<a href="javascript:void(0);" aria-disabled="true" class="product__button"><span>{{ 'pagefly.products.product.sold_out' | t }}</span></a>{% endif %}</div></div></div></div>{% else %}{% for i in (1..4) %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a href="javascript:void(0);" class="product__thumbnail" style="height: 200px; width: 100%;"><img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="270"></a><div class="product__info"><h3 class="product__info-title"><a href="javascript:void(0);" style="display: block;">Example product title</a></h3><div class="product__info-price" style="color: black; font-size: 13px;"><span class="product__regular-price">$99.00</span></div><div class="product__button"><a href="javascript:void(0);" class="product__button">Add To Cart</a></div></div></div></div>{% endfor %}{% endfor %}</div></div> </div></div></div></div><div data-container="true" class="pf-8f565186 sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-08466009 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-0176e9fc sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-ff4832fa sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-2f40e1fe sc-hGoxap dWevfJ" data-pf-type="Text">Want 10% Off?<br></span></h3><p class="pf-62d9e2c6 sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-4613069e sc-hGoxap dWevfJ" data-pf-type="Text">We like to reward our blog readers with exclusive discounts! Get an extra 10% off your purchases today with this discount code!&nbsp;&nbsp;</span></p></div> </div></div><div class="pf-ad5b05b3 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-7448e1d0 sc-cQFLBn efhDmd" data-pf-type="Column"><p class="pf-5176fd6c sc-emmjRN kxBUTU" data-animation="tada" data-pf-type="Paragraph"><span class="pf-116dd4dc sc-hGoxap dWevfJ" data-pf-type="Text">WELCOME10</span></p></div> </div></div></div></div></div></div></div><script>
					window.__pagefly_options__=window.__pagefly_options__||[],window.__pagefly_options__.push({});
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","isBackend":false};
					0;
				</script><script src="https://cdn.pagefly.io/pagefly/2.0.2/core/helper.js?t=2019-04-04-13" defer></script> </article>