<article itemscope itemtype="http://schema.org/Article">{% include 'pagefly-article-info' %} {% include 'pagefly-featured-image' %}<link rel="preload" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400"></noscript><link rel="preload" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></noscript><link rel="preload" href="https://apps.pagefly.io/static/css/animation-style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://apps.pagefly.io/static/css/animation-style.css"></noscript><link rel="preload" href="https://apps.pagefly.io/static/css/main-style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://apps.pagefly.io/static/css/main-style.css"></noscript><style>
					/* PageFly Element Styles */
					.jRwjkz__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.jRwjkz { padding: 15px 0px; position: relative; }
.jRwjkz[data-container] .sc-dymIpo { padding: 0px 15px; width: 100%; margin: auto; }
.jRwjkz .pf-parallax__img { position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.bUuZhj.bUuZhj { margin: 0px -15px; }
.iTCmS { position: relative; }
.idSXNf { margin-top: 17.5px; margin-bottom: 15px; }
.idSXNf > a { color: inherit !important; }
.idSXNf > span { font-weight: inherit; text-decoration: inherit; }
.idSXNf { word-break: break-word; }
.idSXNf.pagefly_heading__icon--none i, .idSXNf.pagefly_heading__icon--left i { margin-right: 0.3em; }
.idSXNf.pagefly_heading__icon--right i { margin-left: 0.3em; }
.idSXNf.pagefly_heading__icon--top i { margin-bottom: 0.5em; }
.idSXNf.pagefly_heading__icon--top > span, .idSXNf.pagefly_heading__icon--top > a, .idSXNf.pagefly_heading__icon--top > span[data-empty][contenteditable] { display: block; }
.idSXNf [class*="--diamond"] { margin-right: 1em; }
.iavTDB { display: inline-block; }
.iavTDB { vertical-align: baseline; word-break: break-word; }
.iavTDB:focus { outline: none; }
.kTdcTt > span:last-child { line-height: inherit; display: block; }
.kTdcTt[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; color: rgb(0, 0, 0); width: 50px; height: 50px; line-height: 50px; font-size: 2em; background: rgb(145, 157, 169); }
.kTdcTt[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.kTdcTt.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.kTdcTt.dropcap--circle > span:first-child { border-radius: 100%; }
.kTdcTt:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.kTdcTt ol, .kTdcTt ul { list-style-position: inside; }
.kTdcTt blockquote { font-size: inherit; }
.fRnTAR > span:last-child { line-height: inherit; display: block; }
.fRnTAR[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.fRnTAR[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.fRnTAR.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.fRnTAR.dropcap--circle > span:first-child { border-radius: 100%; }
.fRnTAR:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.fRnTAR ol, .fRnTAR ul { list-style-position: inside; }
.fRnTAR blockquote { font-size: inherit; }
.henXsE { position: relative; overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; vertical-align: middle; max-width: 100%; }
.henXsE img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; position: unset; }
.gxVtiD { margin: 0px -15px; }
.gxVtiD .pf__shopify-product { width: 100%; text-align: center; }
.gxVtiD .pf-c { padding: 15px; display: flex; }
.gxVtiD .product__thumbnail { display: -webkit-flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; overflow: hidden; max-width: 100%; position: relative; }
.gxVtiD .product__thumbnail img { vertical-align: middle; max-width: 100%; height: auto; }
.gxVtiD .product__thumbnail .pf-placeholder-svg { fill: rgb(166, 166, 166); background-color: rgb(245, 245, 245); width: 100%; max-width: 100%; max-height: 100%; border-radius: inherit; }
.gxVtiD .product__button > a { display: block; padding: 0px 20px; line-height: 36px; height: 36px; background: rgb(85, 193, 72); margin-top: 10px; color: rgb(255, 255, 255); text-align: center; text-decoration: none; }
.gxVtiD .product__button > a:hover { opacity: 0.7; color: rgb(255, 255, 255); }
.gxVtiD .product__info-price { margin-top: 10px; font-size: 13px; color: rgb(208, 2, 27); }
.gxVtiD .product__sale-price { margin-left: 10px; color: rgb(54, 54, 54); font-size: 0.8em; }
.gxVtiD .product__info-title { margin: 10px 0px 0px; font-size: 16px; font-weight: 500; line-height: 1.5; text-transform: none; font-family: inherit; color: rgb(45, 45, 45); }
.gxVtiD .product__info-title a { color: rgb(27, 28, 29); text-decoration: none; }
.gxVtiD .shopify__product-vertical, .gxVtiD .shopify__product-vertical .product__info { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-flow: column; }
.gxVtiD .shopify__product-vertical .product__info, .gxVtiD .shopify__product-vertical .product__info-title { flex: 1 0 auto; }
.gxVtiD .shopify__product-horizontal { display: -webkit-flex; }
.gxVtiD .shopify__product-horizontal .product__thumbnail { flex: 1 1 0%; height: auto !important; }
.gxVtiD .shopify__product-horizontal .product__info { text-align: left; flex: 3 1 0%; padding-left: 15px; }
.gxVtiD .shopify__product-horizontal .product__info-title { margin-top: 0px; }
.gxVtiD .shopify__product-horizontal .product__button > a { width: auto; display: inline-block; }
					/* PageFly Styles */
					
@media all {
	[data-pf-type="Block"].pf-029b24d2 {
		text-align: center;
	}
	[data-pf-type="Section"].pf-20eb7d79 {
		padding: 100px 0px;
		 background-size: cover;
		 margin-top: -25px;
		 background-image: url("https://media.pagefly.io/file/get/nicotine-level-to-vape-png-1537273544123.png");
		 background-position: 50% 0%;
		 background-repeat: no-repeat;
	}
	[data-pf-type="Heading"].pf-8786be10 {
		text-align: center;
		 font-size: 60px;
		 color: black;
		 line-height: 2;
		 margin-bottom: 5px;
		 margin-top: 10px;
	}
	[data-pf-type="Heading"].pf-14bece7d {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 36px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Text"].pf-7c10990c {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Paragraph"].pf-969bb9bc {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Heading"].pf-aa193c98 {
		text-align: left;
		 margin-bottom: 0px;
		 font-size: 30px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Paragraph"].pf-d43fc5c3 {
		font-size: 18px;
		 text-align: left;
		 line-height: 1.5;
	}
	[data-pf-type="Heading"].pf-b509beb9 {
		text-align: left;
		 margin-bottom: 0px;
		 font-size: 30px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Paragraph"].pf-3508a69f {
		font-size: 18px;
		 text-align: left;
		 line-height: 1.5;
	}
	[data-pf-type="Heading"].pf-c4bb0938 {
		text-align: left;
		 margin-bottom: 0px;
		 font-size: 30px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Paragraph"].pf-7adeed65 {
		font-size: 18px;
		 text-align: left;
		 line-height: 1.5;
	}
	[data-pf-type="Heading"].pf-ec30e051 {
		text-align: left;
		 margin-bottom: 0px;
		 font-size: 30px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Paragraph"].pf-a8d86a12 {
		font-size: 18px;
		 text-align: left;
		 line-height: 1.5;
	}
	[data-pf-type="Heading"].pf-0cbb0912 {
		text-align: left;
		 margin-bottom: 0px;
		 font-size: 30px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Paragraph"].pf-9e6022a5 {
		font-size: 18px;
		 text-align: left;
		 line-height: 1.5;
	}
	[data-pf-type="Heading"].pf-d7eb342e {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: center;
		 color: white;
	}
	[data-pf-type="Paragraph"].pf-fd9944c1 {
		text-align: center;
		 font-size: 20px;
		 color: white;
		 font-weight: 700;
	}
	[data-pf-type="Paragraph"].pf-68f1bc22 {
		font-size: 36px;
		 color: white;
		 text-align: center;
		 font-weight: 700;
		 border-style: dashed;
	}
	[data-pf-type="Section"].pf-3d90059f {
		background-color: black;
	}
}
@media only screen and (max-width: 767px) {
	[data-pf-type="Heading"].pf-8786be10 {
		font-size: 2em;
	}
	[data-pf-type="Heading"].pf-14bece7d {
		font-size: 2em;
	}
}
					/*PageFlyCustomCSS*/
				</style><script src="https://cdnjs.cloudflare.com/ajax/libs/loadCSS/2.0.1/cssrelpreload.min.js" async></script><link rel="stylesheet" href="{{ 'pagefly.9d08264d.scss.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div class="pf-9fabf636 sc-cmTdod kHxQNt" data-pf-type="Body"><div class="pf-8f219780 sc-esOvli bMqLzo" data-pf-type="Layout"><div data-container="true" class="pf-20eb7d79 sc-bnXvFD jRwjkz" data-pf-type="Section"><div class="sc-dymIpo kdtjOQ" style="max-width: 1170px;"><div class="pf-d54e9cc8 pf-r pf-r-eh sc-eerKOB bUuZhj" data-pf-type="Row"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-977dbdf0 sc-gHboQg eLpzfs" data-pf-type="Column"><div class="pf-029b24d2 sc-iELTvK iTCmS" data-pf-type="Block"></div></div> </div></div></div></div><div data-container="true" class="pf-0131c668 sc-bnXvFD jRwjkz" data-pf-type="Section"><div class="sc-dymIpo kdtjOQ" style="max-width: 1170px;"><div class="pf-f22134d7 pf-r pf-r-eh pf-r-ew sc-eerKOB bUuZhj" data-pf-type="Row"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-61a25f46 sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" data-event="{}" class="pf-8786be10 sc-dfVpRl idSXNf" data-pf-type="Heading"><span placeholder="Heading text" class="pf-e1288bb2 sc-eLExRp iavTDB" data-pf-type="Text">Vape and Juice Charity Esports Event</span></h3><h3 mode="view" data-event="{}" class="pf-14bece7d sc-dfVpRl idSXNf" data-pf-type="Heading"><span placeholder="Heading text" class="pf-cfc357f5 sc-eLExRp iavTDB" data-pf-type="Text">Your favourite brands go head to head at our esports event</span></h3></div> </div></div><div class="pf-06b3ac04 pf-r pf-r-eh pf-r-ew sc-eerKOB bUuZhj" data-pf-type="Row"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-9ed82c1d sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" data-event="{}" class="pf-09696efa sc-dfVpRl idSXNf" data-pf-type="Heading"><span placeholder="Heading text" class="pf-36813fba sc-eLExRp iavTDB" data-pf-type="Text">Becky Spencer-Davies, 22/01/2019&nbsp;</span></h3></div> </div></div><div class="pf-82137d1f pf-r pf-r-eh pf-r-ew sc-eerKOB bUuZhj" data-pf-type="Row"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-b7587362 sc-gHboQg eLpzfs" data-pf-type="Column"><p class="pf-969bb9bc dropcap--none sc-bAeIUo kTdcTt" data-pf-type="Paragraph"><span placeholder="Enter text here..." class="pf-7c10990c sc-eLExRp iavTDB" data-pf-type="Text">O</span><span placeholder="Enter text here..." class="pf-8189b5bc sc-eLExRp iavTDB" data-pf-type="Text">n the 23rd of February we are hosting a charity esports gaming event at our store in Islington. Teams will be made up of all of your favourite vape brands, including Doozy, IVG, Dinner Lady, Grinny Heaths, Simple Vape Co. and more. Never mind about who's juice is better, let's look at who can score an absolute screamer on FIFA.&nbsp;<br><br>The event is in aid of Mason Foundation, a charity which helps find ways to screen for cancer sooner.<br><br></span></p><h3 mode="view" data-event="{}" class="pf-aa193c98 sc-dfVpRl idSXNf" data-pf-type="Heading"><span placeholder="Heading text" class="pf-3a4acebb sc-eLExRp iavTDB" data-pf-type="Text">What is ESports?<br></span></h3></div> </div></div><div class="pf-f35bb0ea pf-r pf-r-eh pf-r-ew sc-eerKOB bUuZhj" data-pf-type="Row"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-2f4cd664 sc-gHboQg eLpzfs" data-pf-type="Column"><div class="pf-e9e20581 pf-r pf-r-eh sc-eerKOB bUuZhj" data-pf-type="Row"><div class="pf-c pf-c-lg--4 pf-c-xs--12 pf-c-sm--12 pf-c-md--6" style="padding: 15px;"><div class="pf-2c67c5c9 sc-gHboQg eLpzfs" data-pf-type="Column"><picture class="pf-c59d0b37 sc-cMhqgX henXsE" data-pf-type="Image"><img src="https://media.pagefly.io/file/get/vape-and-juice-esports-charitypng-1548174483873.png"></picture></div> </div><div class="pf-c pf-c-lg--8 pf-c-xs--12 pf-c-sm--12 pf-c-md--6" style="padding: 15px;"><div class="pf-8735bd18 sc-gHboQg eLpzfs" data-pf-type="Column"><p class="pf-d43fc5c3 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span placeholder="Enter text here..." class="pf-cd2d3795 sc-eLExRp iavTDB" data-pf-type="Text">E-sports, also known as electronic sports has been going on as long as multiplayer online gaming has been. <br><br>These events are usually organised multiplayer video game competitions, between different players and teams. <br><br>For this event spectators can watch our event online, via Youtube, Twitter or Twitch, or come along to the store.<br><br>&nbsp;<br><br></span></p></div> </div></div></div> </div></div><div class="pf-dc07de15 pf-r pf-r-eh pf-r-ew sc-eerKOB bUuZhj" data-pf-type="Row"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-318853b9 sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" data-event="{}" class="pf-b509beb9 sc-dfVpRl idSXNf" data-pf-type="Heading"><span placeholder="Heading text" class="pf-5fda5cc8 sc-eLExRp iavTDB" data-pf-type="Text">The E-Sports Gaming Event at Vape and Juice</span></h3></div> </div></div><div class="pf-4a057d6c pf-r pf-r-eh pf-r-ew sc-eerKOB bUuZhj" data-pf-type="Row"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-843f7bac sc-gHboQg eLpzfs" data-pf-type="Column"><div class="pf-f35bb8cf pf-r pf-r-eh sc-eerKOB bUuZhj" data-pf-type="Row"><div class="pf-c pf-c-lg--4 pf-c-xs--12 pf-c-sm--12 pf-c-md--6" style="padding: 15px;"><div class="pf-63e44b95 sc-gHboQg eLpzfs" data-pf-type="Column"><picture class="pf-f2184f7b sc-cMhqgX henXsE" data-pf-type="Image"><img src="https://media.pagefly.io/file/get/esports-vape-and-juicepng-1548174535461.png"></picture></div> </div><div class="pf-c pf-c-lg--8 pf-c-xs--12 pf-c-sm--12 pf-c-md--6" style="padding: 15px;"><div class="pf-2e6611b8 sc-gHboQg eLpzfs" data-pf-type="Column"><p class="pf-3508a69f sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span placeholder="Enter text here..." class="pf-b22f366b sc-eLExRp iavTDB" data-pf-type="Text">At our esports event, your favourite juice brands are going head to head in an online tournament of games such as COD and FIFA. <br><br>We are going to stream the whole event on Youtube, Twitter or Twitch (@VapeandJuice), or you can come down to the Islington shop from 4pm onwards. Make sure you are subscribed to our channels if you want to keep up to date on how the tournament is going.<br>&nbsp;<br>In store there will be freebies and samples for you to try from some of the best juice brands out there.&nbsp;<br><br><br></span></p></div> </div></div></div> </div></div><div class="pf-9f132a45 pf-r pf-r-eh pf-r-ew sc-eerKOB bUuZhj" data-pf-type="Row"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-409f062f sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" data-event="{}" class="pf-c4bb0938 sc-dfVpRl idSXNf" data-pf-type="Heading"><span placeholder="Heading text" class="pf-04d40ba5 sc-eLExRp iavTDB" data-pf-type="Text">The Raffle</span></h3></div> </div></div><div class="pf-2bb1dbd0 pf-r pf-r-eh pf-r-ew sc-eerKOB bUuZhj" data-pf-type="Row"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-43eeaf61 sc-gHboQg eLpzfs" data-pf-type="Column"><div class="pf-10eddb93 pf-r pf-r-eh sc-eerKOB bUuZhj" data-pf-type="Row"><div class="pf-c pf-c-lg--4 pf-c-xs--12 pf-c-sm--12 pf-c-md--6" style="padding: 15px;"><div class="pf-ade19a72 sc-gHboQg eLpzfs" data-pf-type="Column"><picture class="pf-687b4f4b sc-cMhqgX henXsE" data-pf-type="Image"><img src="https://media.pagefly.io/file/get/vape-and-juice-esports-eventpng-1548174609925.png"></picture></div> </div><div class="pf-c pf-c-lg--8 pf-c-xs--12 pf-c-sm--12 pf-c-md--6" style="padding: 15px;"><div class="pf-12b15e77 sc-gHboQg eLpzfs" data-pf-type="Column"><p class="pf-7adeed65 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span placeholder="Enter text here..." class="pf-ede26171 sc-eLExRp iavTDB" data-pf-type="Text">In the lead up to the Vape and Juice esports event we are selling raffle tickets online for some pretty generous prizes. So far we have raffled off a dry herb vaporizer that retails at £75, and a CBD bundle. <br><br>Tickets are just £2 and are limited to just 30 tickets, giving you higher odds of winning. All of the money from the raffle tickets will be going straight into our Just Giving page for the Mason Foundation.<br><br>Follow us on Facebook and Instagram to hear what prize is next up.<br><br>Instagram:&nbsp;<a href="https://www.instagram.com/vapeandjuiceuk/" target="_self"><span style="text-decoration-line: underline;">@VapeandjuiceUK</span><br></a>Facebook: <a href="https://www.facebook.com/vapeandjuiceuk/" target="_self" style="text-decoration-line: underline;">@VapeandJuiceUK</a>&nbsp;<br>&nbsp;<br><br><br></span></p></div> </div></div></div> </div></div><div class="pf-6467c70d pf-r pf-r-eh pf-r-ew sc-eerKOB bUuZhj" data-pf-type="Row"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-d6a02aba sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" data-event="{}" class="pf-ec30e051 sc-dfVpRl idSXNf" data-pf-type="Heading"><span placeholder="Heading text" class="pf-c47373b0 sc-eLExRp iavTDB" data-pf-type="Text">The Charity&nbsp;</span></h3></div> </div></div><div class="pf-b4f97dca pf-r pf-r-eh pf-r-ew sc-eerKOB bUuZhj" data-pf-type="Row"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-9a8c589d sc-gHboQg eLpzfs" data-pf-type="Column"><div class="pf-f9b26e45 pf-r pf-r-eh sc-eerKOB bUuZhj" data-pf-type="Row"><div class="pf-c pf-c-lg--4 pf-c-xs--12 pf-c-sm--12 pf-c-md--6" style="padding: 15px;"><div class="pf-09ff9d05 sc-gHboQg eLpzfs" data-pf-type="Column"><picture class="pf-34e9d948 sc-cMhqgX henXsE" data-pf-type="Image"><img src="https://media.pagefly.io/file/get/the-mason-foundation-esports-eventpng-1548174657538.png"></picture></div> </div><div class="pf-c pf-c-lg--8 pf-c-xs--12 pf-c-sm--12 pf-c-md--6" style="padding: 15px;"><div class="pf-f6f1b00d sc-gHboQg eLpzfs" data-pf-type="Column"><p class="pf-a8d86a12 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span placeholder="Enter text here..." class="pf-097a3388 sc-eLExRp iavTDB" data-pf-type="Text">The charity we are supporting is an early cancer screening charity called the Mason Foundation. <br><br>This is a charity which helps find ways to screen for cancer sooner to help prevent more deaths from cancer. <br><br>The Mason Foundation is close to our hearts hear at Vape and Juice, and no doubt to lots of you reading this blog.<br>&nbsp;<br>&nbsp;<br><br><br><br></span></p></div> </div></div></div> </div></div><div class="pf-47c82b40 pf-r pf-r-eh pf-r-ew sc-eerKOB bUuZhj" data-pf-type="Row"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-795a2326 sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" data-event="{}" class="pf-0cbb0912 sc-dfVpRl idSXNf" data-pf-type="Heading"><span placeholder="Heading text" class="pf-2bcbd7a2 sc-eLExRp iavTDB" data-pf-type="Text">How can I get involved in the Vape and Juice Esports Event?</span></h3></div> </div></div><div class="pf-1da81a51 pf-r pf-r-eh sc-eerKOB bUuZhj" data-pf-type="Row"><div class="pf-c pf-c-lg--8 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-8a345f15 sc-gHboQg eLpzfs" data-pf-type="Column"><p class="pf-9e6022a5 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span placeholder="Enter text here..." class="pf-d1e9c90f sc-eLExRp iavTDB" data-pf-type="Text">You can join us at the live event in Islington from 4pm onwards, watch the live stream, or just buy a raffle ticket to help us raise money to screen for cancer sooner. <a href="https://vapeandjuice.co.uk/products/esports-vape-raffle" target="_self" style="text-decoration-line: underline;">Buy your raffle tickets here</a>&nbsp;<br></span></p></div> </div></div></div></div><div data-container="true" class="pf-cf819709 sc-bnXvFD jRwjkz" data-pf-type="Section"><div class="sc-dymIpo kdtjOQ" style="max-width: 1170px;"><div class="pf-cbe5ae4f pf-r pf-r-eh pf-r-ew sc-eerKOB bUuZhj" data-pf-type="Row"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-2c2d9f16 sc-gHboQg eLpzfs" data-pf-type="Column"><div class="pf-359fc5e3 pf-r pf-r-ew pf-r-ew--4 sc-iqzUVk gxVtiD" data-pf-type="Shopify.Products">{% for product in collections['cbd-e-liquid'].products  limit:4 %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a class="product__thumbnail" href="{{ product.url }}" style="height: 200px; width: 100%;">{% if product.featured_image != blank %}<img src="{{ product.featured_image | img_url: '270x200', crop: 'center' , scale: 2 }}" alt="{{ product.featured_image.alt | escape }}" width="270" height="200">{% else %}<img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="270">{% endif %}</a><div class="product__info"><h3 class="product__info-title"><a href="{{ product.url }}">{{product.title}}</a></h3><div class="product__info-price" style="color: rgb(208, 2, 27); font-size: 13px;">{%- assign compare_at_price = product.compare_at_price -%}
								{%- assign price = product.price -%}
								{%- assign price_varies = product.price_varies -%}
								{%- assign money_price = price | money -%}{% if compare_at_price &gt; price %}<span class="product__regular-price">{{ money_price }}</span><s class="product__sale-price" style="color: rgb(54, 54, 54);">{{ compare_at_price | money }}</s>{% else %}{% if price_varies %}{{ product.price_min | money }} - {{ product.price_max | money }}{% else %}<span class="product__regular-price" style="color: rgb(208, 2, 27);">{{ money_price }}</span>{% endif %}{% endif %}</div><div class="product__button">{% if product.available %}{% if product.variants.size == 1 %}<a class="product__button" href="#" data-action="AddToCart" data-text="Add To Cart"><span data-variant="{{ product.variants.first.id }}">Add To Cart</span></a>{% else %}<a href="{{ product.url }}" class="product__button"><span>View Options</span></a>{% endif %}{% else %}<a href="javascript:void(0);" aria-disabled="true" class="product__button"><span>{{ 'pagefly.products.product.sold_out' | t }}</span></a>{% endif %}</div></div></div></div>{% else %}{% for i in (1..4) %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a href="javascript:void(0);" class="product__thumbnail" style="height: 200px; width: 100%;"><img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="270"></a><div class="product__info"><h3 class="product__info-title"><a href="javascript:void(0);">Example product title</a></h3><div class="product__info-price" style="color: rgb(208, 2, 27); font-size: 13px;"><span class="product__regular-price">$99.00</span></div><div class="product__button"><a href="javascript:void(0);" class="product__button">Add To Cart</a></div></div></div></div>{% endfor %}{% endfor %}</div></div> </div></div></div></div><div data-container="true" class="pf-3d90059f sc-bnXvFD jRwjkz" data-pf-type="Section"><div class="sc-dymIpo kdtjOQ" style="max-width: 1170px;"><div class="pf-d952ff66 pf-r pf-r-eh pf-r-ew sc-eerKOB bUuZhj" data-pf-type="Row"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-333841ec sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" data-event="{}" class="pf-d7eb342e sc-dfVpRl idSXNf" data-pf-type="Heading"><span placeholder="Heading text" class="pf-2b78f17f sc-eLExRp iavTDB" data-pf-type="Text">Want 10% Off?<br></span></h3><p class="pf-fd9944c1 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span placeholder="Enter text here..." class="pf-61e3a27b sc-eLExRp iavTDB" data-pf-type="Text">We like to reward our blog readers with exclusive discounts! Get an extra 10% off your purchases today with this discount code!&nbsp;&nbsp;</span></p></div> </div></div><div class="pf-89ed98c7 pf-r pf-r-eh pf-r-ew sc-eerKOB bUuZhj" data-pf-type="Row"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-c52e152f sc-gHboQg eLpzfs" data-pf-type="Column"><p class="pf-68f1bc22 sc-bAeIUo fRnTAR" data-animation="tada" data-pf-type="Paragraph"><span placeholder="Enter text here..." class="pf-a2ceb5e2 sc-eLExRp iavTDB" data-pf-type="Text">WELCOME10</span></p></div> </div></div></div></div></div></div></div><script>
					window.__pagefly_options__=window.__pagefly_options__||[],window.__pagefly_options__.push({});
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","isBackend":false};
				</script><script src="https://apps.pagefly.io/static/core/helper.js"></script> {% include 'pagefly-article-tags' %}{% include 'pagefly-comment-form' %}</article>