<article itemscope itemtype="http://schema.org/Article"> {% include 'pagefly-featured-image' %}<link rel="preload" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400"></noscript><link rel="preload" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></noscript><link rel="preload" href="https://cdn.pagefly.io/pagefly/2.0.1/css/animation-style.css?t=2019-03-04-14" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.0.1/css/animation-style.css?t=2019-03-04-14"></noscript><link rel="preload" href="https://cdn.pagefly.io/pagefly/2.0.1/css/main-style.css?t=2019-03-04-14" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.0.1/css/main-style.css?t=2019-03-04-14"></noscript><style>
					/* PageFly Element Styles */
					.dwTIAb__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.dwTIAb { padding: 15px 0px; position: relative; }
.dwTIAb .sc-dymIpo { position: relative; }
.dwTIAb[data-container="true"] .sc-dymIpo { padding: 0px 15px; width: 100%; margin: auto; }
.dwTIAb .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.krxlvo { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; overflow: hidden; }
.iTCmS { position: relative; }
.hrEkYi { margin-top: 17.5px; margin-bottom: 15px; }
.hrEkYi > a { color: inherit !important; }
.hrEkYi > span { font-weight: inherit; text-decoration: inherit; }
.hrEkYi { word-break: break-word; }
.hrEkYi.pf-i--left i { margin-right: 0.3em; }
.hrEkYi.pf-i--right i { margin-left: 0.3em; }
.hrEkYi.pf-i--top i { margin-bottom: 0.5em; }
.hrEkYi.pf-i--top > span, .hrEkYi.pf-i--top > a { display: block; }
.hrEkYi.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.hrEkYi [class*="--diamond"] { margin-right: 1em; }
.iavTDB { display: inline-block; }
.iavTDB { vertical-align: baseline; word-break: break-word; }
.iavTDB:focus { outline: none; }
.hIuBaq { margin-top: 17.5px; margin-bottom: 15px; }
.hIuBaq > a { color: inherit !important; }
.hIuBaq > span { font-weight: inherit; text-decoration: inherit; }
.hIuBaq { word-break: break-word; }
.hIuBaq.pf-i--left i { margin-right: 0.3em; }
.hIuBaq.pf-i--right i { margin-left: 0.3em; }
.hIuBaq.pf-i--top i { margin-bottom: 0.5em; }
.hIuBaq.pf-i--top > span, .hIuBaq.pf-i--top > a { display: block; }
.hIuBaq.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.hIuBaq [class*="--diamond"] { margin-right: 1em; }
.kTdcTt > span:last-child { line-height: inherit; display: block; }
.kTdcTt[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; color: rgb(0, 0, 0); width: 50px; height: 50px; line-height: 50px; font-size: 2em; background: rgb(145, 157, 169); }
.kTdcTt[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.kTdcTt.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.kTdcTt.dropcap--circle > span:first-child { border-radius: 100%; }
.kTdcTt:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.kTdcTt ol, .kTdcTt ul { list-style-position: inside; }
.kTdcTt blockquote { font-size: inherit; }
.fRnTAR > span:last-child { line-height: inherit; display: block; }
.fRnTAR[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.fRnTAR[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.fRnTAR.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.fRnTAR.dropcap--circle > span:first-child { border-radius: 100%; }
.fRnTAR:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.fRnTAR ol, .fRnTAR ul { list-style-position: inside; }
.fRnTAR blockquote { font-size: inherit; }
.henXsE { position: relative; overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; vertical-align: middle; max-width: 100%; }
.henXsE img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; position: unset; }
.gxVtiD { margin: 0px -15px; }
.gxVtiD .pf__shopify-product { width: 100%; text-align: center; }
.gxVtiD .pf-c { padding: 15px; display: flex; }
.gxVtiD .product__thumbnail { display: -webkit-flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; overflow: hidden; max-width: 100%; position: relative; }
.gxVtiD .product__thumbnail img { vertical-align: middle; max-width: 100%; height: auto; }
.gxVtiD .product__thumbnail .pf-placeholder-svg { fill: rgb(166, 166, 166); background-color: rgb(245, 245, 245); width: 100%; max-width: 100%; max-height: 100%; border-radius: inherit; }
.gxVtiD .product__button > a { display: block; padding: 0px 20px; line-height: 36px; height: 36px; background: rgb(85, 193, 72); margin-top: 10px; color: rgb(255, 255, 255); text-align: center; text-decoration: none; }
.gxVtiD .product__button > a:hover { opacity: 0.7; color: rgb(255, 255, 255); }
.gxVtiD .product__info-price { margin-top: 10px; font-size: 13px; color: rgb(208, 2, 27); }
.gxVtiD .product__sale-price { margin-left: 10px; color: rgb(54, 54, 54); font-size: 0.8em; }
.gxVtiD .product__info-title { margin: 10px 0px 0px; font-size: 16px; font-weight: 500; line-height: 1.5; text-transform: none; font-family: inherit; color: rgb(45, 45, 45); }
.gxVtiD .product__info-title a { color: rgb(27, 28, 29); text-decoration: none; }
.gxVtiD .shopify__product-vertical, .gxVtiD .shopify__product-vertical .product__info { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-flow: column; }
.gxVtiD .shopify__product-vertical .product__info, .gxVtiD .shopify__product-vertical .product__info-title { flex: 1 0 auto; }
.gxVtiD .shopify__product-horizontal { display: -webkit-flex; }
.gxVtiD .shopify__product-horizontal .product__thumbnail { flex: 1 1 0%; height: auto !important; }
.gxVtiD .shopify__product-horizontal .product__info { text-align: left; flex: 3 1 0%; padding-left: 15px; }
.gxVtiD .shopify__product-horizontal .product__info-title { margin-top: 0px; }
.gxVtiD .shopify__product-horizontal .product__button > a { width: auto; display: inline-block; }
					/* PageFly Styles */
					
@media all {
	[data-pf-type="Block"].pf-23f6d46b {
		text-align: center;
	}
	[data-pf-type="Section"].pf-efd90dd4 {
		padding: 100px 0px;
		 background-size: cover;
		 background-repeat: no-repeat;
		 background-position: 50% 0%;
		 margin-top: -25px;
		 background-image: url("https://media.pagefly.io/file/get/nicotine-level-to-vape-png-1537273544123.png");
	}
	[data-pf-type="Heading"].pf-bf0a812c {
		text-align: center;
		 font-size: 60px;
		 color: black;
		 line-height: 2;
		 margin-bottom: 5px;
		 margin-top: 10px;
	}
	[data-pf-type="Heading"].pf-85d64706 {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 36px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Text"].pf-f24d837e {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Paragraph"].pf-9aa69ab0 {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Heading"].pf-23fa8215 {
		text-align: left;
		 margin-bottom: 0px;
		 font-size: 30px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Paragraph"].pf-4a0ae771 {
		font-size: 18px;
		 text-align: left;
		 line-height: 1.5;
	}
	[data-pf-type="Heading"].pf-40274c16 {
		text-align: left;
		 margin-bottom: 0px;
		 font-size: 30px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Paragraph"].pf-bb2a1d06 {
		font-size: 18px;
		 text-align: left;
		 line-height: 1.5;
	}
	[data-pf-type="Heading"].pf-13fd12f1 {
		text-align: left;
		 margin-bottom: 0px;
		 font-size: 30px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Paragraph"].pf-24b9c7c8 {
		font-size: 18px;
		 text-align: left;
		 line-height: 1.5;
	}
	[data-pf-type="Heading"].pf-2b76e63a {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: center;
		 color: white;
	}
	[data-pf-type="Paragraph"].pf-8252ca25 {
		text-align: center;
		 font-size: 20px;
		 color: white;
		 font-weight: 700;
	}
	[data-pf-type="Paragraph"].pf-a3411dee {
		font-size: 36px;
		 color: white;
		 text-align: center;
		 font-weight: 700;
		 border-style: dashed;
	}
	[data-pf-type="Section"].pf-04cebfc7 {
		background-color: black;
	}
}
@media only screen and (max-width: 767px) {
	[data-pf-type="Heading"].pf-bf0a812c {
		font-size: 2em;
	}
	[data-pf-type="Heading"].pf-85d64706 {
		font-size: 2em;
	}
}
					/*PageFlyCustomCSS*/
				</style><script src="https://cdnjs.cloudflare.com/ajax/libs/loadCSS/2.0.1/cssrelpreload.min.js" async></script><link rel="stylesheet" href="{{ 'pagefly.48c60c22.scss.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div class="pf-2a31caae sc-cmTdod kHxQNt" data-pf-type="Body"><div class="pf-23f51d01 sc-esOvli bMqLzo" data-pf-type="Layout"><div data-container="true" class="pf-efd90dd4 sc-bnXvFD dwTIAb" data-pf-type="Section"><div class="sc-cpmLhU krxlvo" style="background-color: rgba(0, 0, 0, 0);"></div><div class="sc-dymIpo kdtjOQ" style="max-width: 1170px;"><div class="pf-22ad1abb pf-r pf-r-eh sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-359a677b sc-gHboQg eLpzfs" data-pf-type="Column"><div class="pf-23f6d46b sc-iELTvK iTCmS" data-pf-type="Block"></div></div> </div></div></div></div><div data-container="true" class="pf-9e754a2d sc-bnXvFD dwTIAb" data-pf-type="Section"><div class="sc-cpmLhU krxlvo" style="background-color: rgba(0, 0, 0, 0);"></div><div class="sc-dymIpo kdtjOQ" style="max-width: 1170px;"><div class="pf-e2f42b74 pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-2d7e398f sc-gHboQg eLpzfs" data-pf-type="Column"><h1 mode="view" class="pf-bf0a812c sc-iyvyFf hrEkYi" data-pf-type="Heading"><span class="pf-3f019456 sc-eLExRp iavTDB" data-pf-type="Text">CBD Treatment for Dogs&nbsp;</span></h1><h3 mode="view" class="pf-85d64706 sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-32b6f714 sc-eLExRp iavTDB" data-pf-type="Text">Can CBD help treat your dogs health issues?</span></h3></div> </div></div><div class="pf-f55e6729 pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-2b3d4092 sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" class="pf-dabbbc23 sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-7db62cc4 sc-eLExRp iavTDB" data-pf-type="Text">Becky Spencer-Davies, 10/01/2019&nbsp;</span></h3></div> </div></div><div class="pf-57f6cffd pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-00e9e0f6 sc-gHboQg eLpzfs" data-pf-type="Column"><p class="pf-9aa69ab0 dropcap--none sc-bAeIUo kTdcTt" data-pf-type="Paragraph"><span class="pf-f24d837e sc-eLExRp iavTDB" data-pf-type="Text">W</span><span class="pf-9497d283 sc-eLExRp iavTDB" data-pf-type="Text">e recently had a chat with a lady about her dog and CBD. Her dog had some joint problems and she wanted to know whether CBD could help her little pooch like it had helped her friend with his joint pains. In this blog we’re going to share some information about CBD treatment for dogs to help you decide whether it could be right for your pets problems.<br><br></span></p><h3 mode="view" class="pf-23fa8215 sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-3036f89a sc-eLExRp iavTDB" data-pf-type="Text">WHAT IS CBD OIL?</span></h3></div> </div></div><div class="pf-afbabc71 pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-8bae27fb sc-gHboQg eLpzfs" data-pf-type="Column"><div class="pf-671f10ca pf-r pf-r-eh sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--4 pf-c-xs--12 pf-c-sm--12 pf-c-md--6" style="padding: 15px;"><div class="pf-5b1e01fd sc-gHboQg eLpzfs" data-pf-type="Column"><picture class="pf-6ac3b2f0 sc-cMhqgX henXsE" data-pf-type="Image"><img src="https://media.pagefly.io/file/get/cbd-for-dogspng-1547123629947.png"></picture></div> </div><div class="pf-c pf-c-lg--8 pf-c-xs--12 pf-c-sm--12 pf-c-md--6" style="padding: 15px;"><div class="pf-65cc39b2 sc-gHboQg eLpzfs" data-pf-type="Column"><p class="pf-4a0ae771 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-cb708a24 sc-eLExRp iavTDB" data-pf-type="Text">&nbsp;First off, let’s start with what is CBD oil. CBD oil is a compound for in the cannabis plant. This might raise alarms - after all cannabis is illegal here in the UK.<br>&nbsp;<br>However, CBD does not contain any THC which is the psychoactive part of the plant, this means that CBD is legal. CBD oil has been used for years to help treat ailments and health problems such as anxiety and depression, seizures, Parkinson’s, acne, sleep disorders and even symptoms of cancer. Dog lovers are curious as to whether CBD will work the same way for their pets.&nbsp;<br><br></span></p></div> </div></div></div> </div></div><div class="pf-a3538d11 pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-54bf1012 sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" class="pf-40274c16 sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-3b9affbf sc-eLExRp iavTDB" data-pf-type="Text">CAN CBD BE USED AS A TREATMENT FOR DOGS?</span></h3></div> </div></div><div class="pf-02d8978c pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-d7ce0f25 sc-gHboQg eLpzfs" data-pf-type="Column"><div class="pf-2ae73cf1 pf-r pf-r-eh sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--4 pf-c-xs--12 pf-c-sm--12 pf-c-md--6" style="padding: 15px;"><div class="pf-85b9d9bc sc-gHboQg eLpzfs" data-pf-type="Column"><picture class="pf-ed05f5f3 sc-cMhqgX henXsE" data-pf-type="Image"><img src="https://media.pagefly.io/file/get/cbd-for-dogs-treatmentpng-1547123656637.png"></picture></div> </div><div class="pf-c pf-c-lg--8 pf-c-xs--12 pf-c-sm--12 pf-c-md--6" style="padding: 15px;"><div class="pf-a8c2d8df sc-gHboQg eLpzfs" data-pf-type="Column"><p class="pf-bb2a1d06 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-274b91d9 sc-eLExRp iavTDB" data-pf-type="Text">There have been a number of small studies on using CBD to help treat and reduce symptoms of health conditions in dogs. There have also been a great deal of people who have used CBD to treat their dog suffering from anxiety, cancer, digestive issues, pain and epilepsy and have had great success.<br><br>In one study on the use of CBD on dogs with epilepsy Dr. Stephanie McGrath, a neurologist at Colorado State University’s James L. Voss Veterinary Teaching Hospital, found that 89 percent of dogs who received CBD in a clinical trial had a reduction in the frequency of seizures.<br><br>We do know that, in humans, cannabinoids interact with the endocannabinoid receptors located in the central and peripheral nervous systems. It is this which helps to maintain a balance in the body. Some veterinarians are keen for their clients to try CBD for dogs as they believe CBD has the same effect in dogs as in humans, whereas others remain sceptical. It is always best to check with your vet to see what they suggest.<br><br><br></span></p></div> </div></div></div> </div></div><div class="pf-437ce41f pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-c44aada5 sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" class="pf-13fd12f1 sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-3875c93a sc-eLExRp iavTDB" data-pf-type="Text">THINGS TO CONSIDER WHEN BUYING CBD PRODUCTS FOR YOUR DOG&nbsp;<br></span></h3><div class="pf-bf3c0a59 pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-075cfb3b sc-gHboQg eLpzfs" data-pf-type="Column"><p class="pf-24b9c7c8 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-57bb3d83 sc-eLExRp iavTDB" data-pf-type="Text">- Buy it from a reputable company and make sure the main ingredient is CBD, you don't want it to contain pesticides, solvents, additives or fungicides<br>- Don’t scrimp on the price. The higher the quality of the CBD the more you will pay<br>- Try different products but stick to the recommended dose&nbsp;<br><br>Remember to always check with your vet and maybe even ask a few different vets of their opinion on CBD treatment for dogs. You can have a look at our selection of CBD products here, or stop by one of our CBD stores to hear about latest research and have a look at our products.&nbsp;<br><br></span></p></div> </div></div></div> </div></div></div></div><div data-container="true" class="pf-d5a3f06b sc-bnXvFD dwTIAb" data-pf-type="Section"><div class="sc-cpmLhU krxlvo" style="background-color: rgba(0, 0, 0, 0);"></div><div class="sc-dymIpo kdtjOQ" style="max-width: 1170px;"><div class="pf-3ea432df pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-c17bbaf7 sc-gHboQg eLpzfs" data-pf-type="Column"><div class="pf-df75a4e4 pf-r pf-r-ew pf-r-ew--4 sc-iqzUVk gxVtiD" data-pf-type="Shopify.Products">{% for product in collections['cbd-eliquid'].products  limit:4 %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a class="product__thumbnail" href="{{ product.url }}" style="height: 200px; width: 100%;">{% if product.featured_image != blank %}<img src="{{ product.featured_image | img_url: '270x200', crop: 'center' , scale: 2 }}" alt="{{ product.featured_image.alt | escape }}" width="270" height="200">{% else %}<img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="270">{% endif %}</a><div class="product__info"><h3 class="product__info-title"><a href="{{ product.url }}" style="display: block;">{{product.title}}</a></h3><div class="product__info-price" style="color: rgb(208, 2, 27); font-size: 13px;">{%- assign compare_at_price = product.compare_at_price -%}
								{%- assign price = product.price -%}
								{%- assign price_varies = product.price_varies -%}
								{%- assign money_price = price | money -%}{% if compare_at_price > price %}<span class="product__regular-price">{{ money_price }}</span><s class="product__sale-price" style="color: rgb(54, 54, 54);">{{ compare_at_price | money }}</s>{% else %}{% if price_varies %}{{ product.price_min | money }} - {{ product.price_max | money }}{% else %}<span class="product__regular-price" style="color: rgb(208, 2, 27);">{{ money_price }}</span>{% endif %}{% endif %}</div><div class="product__button">{% if product.available %}{% if product.variants.size == 1 %}<a class="product__button" href="#" data-action="AddToCart" data-text="Add To Cart"><span data-variant="{{ product.variants.first.id }}">Add To Cart</span></a>{% else %}<a href="{{ product.url }}" class="product__button"><span>View Options</span></a>{% endif %}{% else %}<a href="javascript:void(0);" aria-disabled="true" class="product__button"><span>{{ 'pagefly.products.product.sold_out' | t }}</span></a>{% endif %}</div></div></div></div>{% else %}{% for i in (1..4) %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a href="javascript:void(0);" class="product__thumbnail" style="height: 200px; width: 100%;"><img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="270"></a><div class="product__info"><h3 class="product__info-title"><a href="javascript:void(0);" style="display: block;">Example product title</a></h3><div class="product__info-price" style="color: rgb(208, 2, 27); font-size: 13px;"><span class="product__regular-price">$99.00</span></div><div class="product__button"><a href="javascript:void(0);" class="product__button">Add To Cart</a></div></div></div></div>{% endfor %}{% endfor %}</div></div> </div></div></div></div><div data-container="true" class="pf-04cebfc7 sc-bnXvFD dwTIAb" data-pf-type="Section"><div class="sc-cpmLhU krxlvo" style="background-color: rgba(0, 0, 0, 0);"></div><div class="sc-dymIpo kdtjOQ" style="max-width: 1170px;"><div class="pf-715ea02e pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-613627b8 sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" class="pf-2b76e63a sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-63d9de16 sc-eLExRp iavTDB" data-pf-type="Text">Want 10% Off?<br></span></h3><p class="pf-8252ca25 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-2118a02e sc-eLExRp iavTDB" data-pf-type="Text">We like to reward our blog readers with exclusive discounts! Get an extra 10% off your purchases today with this discount code!&nbsp;&nbsp;</span></p></div> </div></div><div class="pf-fb33ae48 pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-36c05f70 sc-gHboQg eLpzfs" data-pf-type="Column"><p class="pf-a3411dee sc-bAeIUo fRnTAR" data-animation="tada" data-pf-type="Paragraph"><span class="pf-ec65544d sc-eLExRp iavTDB" data-pf-type="Text">WELCOME10</span></p></div> </div></div></div></div></div></div></div><script>
					window.__pagefly_options__=window.__pagefly_options__||[],window.__pagefly_options__.push({});
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","isBackend":false};
					0;
				</script><script src="https://cdn.pagefly.io/pagefly/2.0.1/core/helper.js?t=2019-03-04-14"></script> {% include 'pagefly-article-tags' %}{% include 'pagefly-comment-form' %}</article>