<article itemscope itemtype="http://schema.org/Article"> <link rel="preload" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400"></noscript><link rel="preload" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></noscript><link rel="preload" href="https://cdn.pagefly.io/pagefly/2.0.2/css/animation-style.css?t=2019-04-11-10" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.0.2/css/animation-style.css?t=2019-04-11-10"></noscript><link rel="preload" href="https://cdn.pagefly.io/pagefly/2.0.2/css/main-style.css?t=2019-04-11-10" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.0.2/css/main-style.css?t=2019-04-11-10"></noscript><style>
					/* PageFly Element Styles */
					.IoliW__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.IoliW { padding: 15px 0px; position: relative; }
.IoliW .sc-eLExRp { position: relative; }
.IoliW[data-container="true"] .sc-eLExRp { padding: 0px 15px; width: 100%; margin: auto; }
.IoliW .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.iUdgQL { margin: 0px -15px; }
.efhDmd { position: relative; }
.efhDmd.pf-editor-col::before, .efhDmd.pf-editor-col::after { content: ""; display: block; position: absolute; top: 0px; bottom: 0px; width: 10px; }
.efhDmd.pf-editor-col::before { left: -10px; }
.efhDmd.pf-editor-col::after { right: -10px; }
.iORGHt { position: relative; }
.hCTnDy { margin: 0px 0px 15px; }
.hCTnDy > a { color: inherit !important; }
.hCTnDy > span { font-weight: inherit; text-decoration: inherit; }
.hCTnDy { word-break: break-word; }
.hCTnDy.pf-i--left i { margin-right: 0.3em; }
.hCTnDy.pf-i--right i { margin-left: 0.3em; }
.hCTnDy.pf-i--top i { margin-bottom: 0.5em; }
.hCTnDy.pf-i--top > span, .hCTnDy.pf-i--top > a { display: block; }
.hCTnDy.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.hCTnDy [class*="--diamond"] { margin-right: 1em; }
.dWevfJ { display: inline-block; }
.dWevfJ { vertical-align: baseline; word-break: break-word; }
.dWevfJ:focus { outline: none; }
.RLwIO { margin: 0px 0px 15px; }
.RLwIO > a { color: inherit !important; }
.RLwIO > span { font-weight: inherit; text-decoration: inherit; }
.RLwIO { word-break: break-word; }
.RLwIO.pf-i--left i { margin-right: 0.3em; }
.RLwIO.pf-i--right i { margin-left: 0.3em; }
.RLwIO.pf-i--top i { margin-bottom: 0.5em; }
.RLwIO.pf-i--top > span, .RLwIO.pf-i--top > a { display: block; }
.RLwIO.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.RLwIO [class*="--diamond"] { margin-right: 1em; }
.huQPUn { margin: 0px 0px 15px; }
.huQPUn > a { color: inherit !important; }
.huQPUn > span { font-weight: inherit; text-decoration: inherit; }
.huQPUn { word-break: break-word; }
.huQPUn.pf-i--left i { margin-right: 0.3em; }
.huQPUn.pf-i--right i { margin-left: 0.3em; }
.huQPUn.pf-i--top i { margin-bottom: 0.5em; }
.huQPUn.pf-i--top > span, .huQPUn.pf-i--top > a { display: block; }
.huQPUn.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.huQPUn [class*="--diamond"] { margin-right: 1em; }
.gFMjkE > span:last-child { line-height: inherit; display: block; }
.gFMjkE[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; color: rgb(0, 0, 0); width: 50px; height: 50px; line-height: 50px; font-size: 2em; background: rgb(145, 157, 169); }
.gFMjkE[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.gFMjkE.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.gFMjkE.dropcap--circle > span:first-child { border-radius: 100%; }
.gFMjkE:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.gFMjkE ol, .gFMjkE ul { list-style-position: inside; }
.gFMjkE blockquote { font-size: inherit; }
.kxBUTU > span:last-child { line-height: inherit; display: block; }
.kxBUTU[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.kxBUTU[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.kxBUTU.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.kxBUTU.dropcap--circle > span:first-child { border-radius: 100%; }
.kxBUTU:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.kxBUTU ol, .kxBUTU ul { list-style-position: inside; }
.kxBUTU blockquote { font-size: inherit; }
.iVqvQb { position: relative; overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; vertical-align: middle; max-width: 100%; }
.iVqvQb img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; position: unset; }
.eWmgqN { display: inline-block; line-height: 1; padding: 0.7em 1.2em; box-sizing: border-box; cursor: pointer; text-align: center; border: none; border-radius: 0px; text-decoration: none; position: relative; max-width: 100%; outline: none; vertical-align: middle; }
.eWmgqN:hover, .eWmgqN:active, .eWmgqN:focus { color: inherit; text-decoration: none; }
.eWmgqN > span { text-decoration: inherit; line-height: inherit; display: inline-block; max-width: 100%; }
.eWmgqN[data-active="true"] { background: black; color: white; }
.eWmgqN.pf-i--left i { margin-right: 0.3em; }
.eWmgqN + .sc-dqBHgY, .eWmgqN.pf-i--right i { margin-left: 0.3em; }
.eWmgqN.pf-i--top i { margin-bottom: 0.5em; display: block; }
.jbmXZx { margin: 0px -15px; }
.jbmXZx .pf__shopify-product { width: 100%; text-align: center; }
.jbmXZx .pf-c { padding: 15px; display: flex; }
.jbmXZx .product__thumbnail { display: -webkit-flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; overflow: hidden; max-width: 100%; position: relative; }
.jbmXZx .product__thumbnail img { vertical-align: middle; max-width: 100%; height: auto; }
.jbmXZx .product__thumbnail .pf-placeholder-svg { fill: rgb(166, 166, 166); background-color: rgb(245, 245, 245); width: 100%; max-width: 100%; max-height: 100%; border-radius: inherit; }
.jbmXZx .product__button > a { display: block; padding: 0px 20px; line-height: 36px; height: 36px; background: rgb(85, 193, 72); margin-top: 10px; color: rgb(255, 255, 255); text-align: center; text-decoration: none; }
.jbmXZx .product__button > a:hover { opacity: 0.7; color: rgb(255, 255, 255); }
.jbmXZx .product__info-price { margin-top: 10px; font-size: 13px; color: rgb(208, 2, 27); }
.jbmXZx .product__sale-price { margin-left: 10px; color: rgb(54, 54, 54); font-size: 0.8em; }
.jbmXZx .product__info-title { margin: 10px 0px 0px; font-size: 16px; font-weight: 500; line-height: 1.5; text-transform: none; font-family: inherit; color: rgb(45, 45, 45); }
.jbmXZx .product__info-title a { color: rgb(27, 28, 29); text-decoration: none; }
.jbmXZx .shopify__product-vertical, .jbmXZx .shopify__product-vertical .product__info { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-flow: column; }
.jbmXZx .shopify__product-vertical .product__info, .jbmXZx .shopify__product-vertical .product__info-title { flex: 1 0 auto; }
.jbmXZx .shopify__product-horizontal { display: -webkit-flex; }
.jbmXZx .shopify__product-horizontal .product__thumbnail { flex: 1 1 0%; height: auto !important; }
.jbmXZx .shopify__product-horizontal .product__info { text-align: left; flex: 3 1 0%; padding-left: 15px; }
.jbmXZx .shopify__product-horizontal .product__info-title { margin-top: 0px; }
.jbmXZx .shopify__product-horizontal .product__button > a { width: auto; display: inline-block; }
					/* PageFly Styles */
					
@media all {
	[data-pf-type="Block"].pf-b50e735e {
		text-align: center;
	}
	[data-pf-type="Section"].pf-4e45d45c {
		padding: 100px 0px;
		 background-size: cover;
		 background-repeat: no-repeat;
		 background-image: url("https://media.pagefly.io/file/get/ecigarette3576177_1920jpg-1535855185893.jpg");
		 background-position: 50% 50%;
		 margin-top: -25px;
	}
	[data-pf-type="Heading"].pf-bd2f0a60 {
		text-align: center;
		 font-size: 60px;
		 color: black;
		 line-height: 2;
		 margin-bottom: 5px;
		 margin-top: 10px;
	}
	[data-pf-type="Heading"].pf-30ea123c {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 36px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Text"].pf-e2dacf1b {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Paragraph"].pf-2976e419 {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Heading"].pf-6acdd01d {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: center;
	}
	[data-pf-type="Paragraph"].pf-4358ae1c {
		text-align: justify;
		 font-size: 18px;
	}
	[data-pf-type="Heading"].pf-3a06c5eb {
		font-size: 30px;
		 margin-top: 0px;
		 font-weight: 700;
	}
	[data-pf-type="Section"].pf-d4c596d1 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	[data-pf-type="Image"].pf-ede6af69 {
		width: 300px;
	}
	[data-pf-type="Button"].pf-d16cbf82 {
		color: white;
		 background-color: black;
		 font-weight: 700;
		 padding-top: 9px;
		 margin-top: 5px;
	}
	[data-pf-type="Column"].pf-39e35824 {
		text-align: center;
	}
	[data-pf-type="Heading"].pf-76398948 {
		margin-top: 0px;
		 text-align: left;
		 margin-bottom: 0px;
	}
	[data-pf-type="Paragraph"].pf-08633e6c {
		font-size: 18px;
		 text-align: left;
		 margin-top: 10px;
	}
	[data-pf-type="Heading"].pf-213f5552 {
		font-size: 30px;
		 margin-top: 20px;
		 font-weight: 700;
		 padding-top: 20px;
	}
	[data-pf-type="Image"].pf-0f9e4577 {
		width: 300px;
		 align-items: center;
		 justify-content: center;
	}
	[data-pf-type="Button"].pf-2cb13228 {
		color: white;
		 background-color: black;
		 font-weight: 700;
		 padding-top: 9px;
		 margin-top: 5px;
		 text-align: center;
	}
	[data-pf-type="Column"].pf-542fb232 {
		text-align: center;
	}
	[data-pf-type="Heading"].pf-d6f10a2f {
		margin-top: 0px;
		 text-align: left;
		 margin-bottom: 0px;
	}
	[data-pf-type="Paragraph"].pf-0ed6f33d {
		font-size: 18px;
		 text-align: left;
		 margin-top: 10px;
	}
	[data-pf-type="Row"].pf-03f84695 {
		text-align: center;
	}
	[data-pf-type="Paragraph"].pf-8692ae08 {
		text-align: justify;
		 font-size: 18px;
	}
	[data-pf-type="Section"].pf-544dd2ab {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	[data-pf-type="Shopify.Products"].pf-49c1523e {
		font-size: 18px;
	}
	[data-pf-type="Shopify.Products"].pf-49c1523e > .pf-c > div > div > div > .product__button {
		background-color: black;
	}
	[data-pf-type="Shopify.Products"].pf-49c1523e > .pf-c > div {
		font-size: 18px;
	}
	[data-pf-type="Shopify.Products"].pf-49c1523e > .pf-c > div > div > h3 > a {
		font-size: 14px;
	}
	[data-pf-type="Heading"].pf-65b99bf6 {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: center;
		 color: white;
	}
	[data-pf-type="Paragraph"].pf-decee21f {
		text-align: center;
		 font-size: 20px;
		 color: white;
		 font-weight: 700;
	}
	[data-pf-type="Paragraph"].pf-5852c257 {
		font-size: 36px;
		 color: white;
		 text-align: center;
		 font-weight: 700;
		 border-style: dashed;
	}
	[data-pf-type="Section"].pf-906aa03c {
		background-color: black;
	}
}
					/*PageFlyCustomCSS*/
				</style><script src="https://cdnjs.cloudflare.com/ajax/libs/loadCSS/2.0.1/cssrelpreload.min.js" async></script><link rel="stylesheet" href="{{ 'pagefly.f446dfda.scss.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div class="pf-0399f541 sc-kTUwUJ ljwnSF" data-pf-type="Body"><div class="pf-23f52e4c sc-GMQeP jXMCGy" data-pf-type="Layout"><div data-container="true" class="pf-4e45d45c sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-7b49e659 pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-876cd263 sc-cQFLBn efhDmd" data-pf-type="Column"><div class="pf-b50e735e sc-jtRfpW iORGHt" data-pf-type="Block"></div></div> </div></div></div></div><div data-container="true" class="pf-08297008 sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-e61b1b72 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-8dde7616 sc-cQFLBn efhDmd" data-pf-type="Column"><h1 mode="view" class="pf-bd2f0a60 sc-iQKALj hCTnDy" data-pf-type="Heading"><span class="pf-7a87e290 sc-hGoxap dWevfJ" data-pf-type="Text">What is the Cost of Vaping?</span></h1><h2 mode="view" class="pf-30ea123c sc-RefOD RLwIO" data-pf-type="Heading"><span class="pf-fd1678d7 sc-hGoxap dWevfJ" data-pf-type="Text">Will vaping be just as expensive as smoking?</span></h2></div> </div></div><div class="pf-87267fe3 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-bcd7bd86 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-19652e2d sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-9ccdd591 sc-hGoxap dWevfJ" data-pf-type="Text">Becky Spencer-Davies, 11/04/2019</span></h3></div> </div></div><div class="pf-88365b9d pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-9e6dc68e sc-cQFLBn efhDmd" data-pf-type="Column"><p class="pf-2976e419 dropcap--none sc-emmjRN gFMjkE" data-pf-type="Paragraph"><span class="pf-e2dacf1b sc-hGoxap dWevfJ" data-pf-type="Text">S</span><span class="pf-f6f8359d sc-hGoxap dWevfJ" data-pf-type="Text">moking a pack a day every day for a year will set you back £72 a week or £3785.60 a year. This might be the reason why you have decided to pack in the habit, along with health concerns. No doubt you’ve heard your mates have quit smoking using vaping, but is that expensive too? What is the cost of vaping?<br></span></p></div> </div></div><div class="pf-1d683ad4 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-dc38d6e5 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-6acdd01d sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-24800476 sc-hGoxap dWevfJ" data-pf-type="Text">How much does it cost to start vaping?</span></h3></div> </div></div><div class="pf-05b66ef8 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-fd843985 sc-cQFLBn efhDmd" data-pf-type="Column"><p class="pf-4358ae1c sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-dfab4561 sc-hGoxap dWevfJ" data-pf-type="Text">When you decide to start vaping there is an initial cost. You will need to buy a device and a few juices to get you started. Your device can cost anywhere between £10 and £100, depending on how much you want to invest and what you want from your vape experience. <br><br><span style="font-weight: bold;">What are the ongoing costs of vaping?</span><br>Once you have brought your <a href="https://vapeandjuice.co.uk/collections/whole-kits" target="_self">device</a> and a juice to start with there are a few things to buy each month. You will need to buy e-liquid and replacement coils. Your coils should last you between 2-3 weeks and you can buy in packs of 5 or 10 to save a little money. How often you need to buy e-liquid will depend on how often you use your vape, the device you have and your drag. <br><br>On average, if you smoked 20 a day then you should get through a 10ml bottle of juice in around 5-7 days. Quality e-liquid for beginner devices is around £4. You can buy larger bottles with 0mg nicotine and add your own nic shot.<br><br><span style="font-weight: bold;">What will my costs be each month?</span><br>So how much does vaping cost?<br>Aspire Rover X30 (Mid range vape device, cost split over 12 months)&nbsp; &nbsp;<span style="font-weight: bold;">£3.33</span><br>E-liquid for 1 month, used to smoke pack a day&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="font-weight: bold;">£24.00</span><br>Replacement coil&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="font-weight: bold;">&nbsp;£2.00</span><br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="font-weight: bold;">£29.33</span><br><span style="font-weight: bold;">Over the year that is £351.96.</span><br>What does this setup look like?<br></span></p></div> </div></div></div></div><div data-container="true" class="pf-d4c596d1 sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-c324487b pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-1ffc9302 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-3a06c5eb sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-70a238c8 sc-hGoxap dWevfJ" data-pf-type="Text">X30 ROVER - ASPIRE</span></h3></div> </div></div></div></div><div data-container="true" class="pf-544dd2ab sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-77f0da4b pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--4" style="padding: 15px;"><div class="pf-39e35824 sc-cQFLBn efhDmd" data-pf-type="Column"><picture class="pf-ede6af69 sc-bMVAic iVqvQb" data-animation="wobble" data-pf-type="Image"><img src="https://cdn.shopify.com/s/files/1/0290/5629/t/62/assets/ASPIREROVER-cost-of-vaping.png?15155"></picture><a class="pf-d16cbf82 sc-dqBHgY eWmgqN" href="https://vapeandjuice.co.uk/collections/starter-kits/products/aspire-x30-rover-30w-mod-kit?variant=40843329993" target="_self" data-pf-type="Button"><span class="pf-fc1680aa sc-hGoxap dWevfJ" data-pf-type="Text">ADD TO CART</span></a></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--8" style="padding: 15px;"><div class="pf-c403cd2b sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-76398948 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-c030d849 sc-hGoxap dWevfJ" data-pf-type="Text">£39.99</span></h3><p class="pf-08633e6c sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-7f71b947 sc-hGoxap dWevfJ" data-pf-type="Text">The X30 Rover is a great all rounder. <br>It has the ability for you to make adjustments and tailor your vape experience using wattage. There is a screen displaying battery life and power. Buying a device that has a few more features than your basic starter kit will be save you money in the long run as you’ll be less likely to need an upgrade so soon. This device is pocket sized, easy to use and discrete. <br>&nbsp;<br><br><span style="font-weight: bold;"><a href="https://vapeandjuice.co.uk/collections/starter-kits/products/aspire-x30-rover-30w-mod-kit?variant=40843329993" target="_self">Read more...</a></span></span></p></div> </div></div><div class="pf-30df0cd3 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-67aee730 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-213f5552 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-75c203a7 sc-hGoxap dWevfJ" data-pf-type="Text">RED ROCKET - 10ML E-LIQUID&nbsp;</span></h3></div> </div></div><div class="pf-03f84695 pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--4" style="padding: 15px;"><div class="pf-542fb232 sc-cQFLBn efhDmd" data-pf-type="Column"><picture class="pf-0f9e4577 sc-bMVAic iVqvQb" data-animation="wobble" data-pf-type="Image"><img src="https://cdn.shopify.com/s/files/1/0290/5629/t/62/assets/what-is-cost-of-vaping-red-rocket.png?15159"></picture><a class="pf-2cb13228 sc-dqBHgY eWmgqN" href="https://vapeandjuice.co.uk/collections/starter-eliquids/products/red-rocket" target="_self" data-pf-type="Button"><span class="pf-eb0ad4ea sc-hGoxap dWevfJ" data-pf-type="Text">ADD TO CART</span></a></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--8" style="padding: 15px;"><div class="pf-e58072fc sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-d6f10a2f sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-63a173fd sc-hGoxap dWevfJ" data-pf-type="Text">£45.00</span></h3><p class="pf-0ed6f33d sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-5d7d5f5b sc-hGoxap dWevfJ" data-pf-type="Text">Red rocket is a mix of berries, cherries, eucalyptus and menthol. It is incredible. It has a blend of 50/50 PG/VG, and is an ideal beginner e-liquid. It comes in 6mg,12mg and 18mg and will set you back just £5. There are a number of vape and juice basic e-liquids which you can buy 3 for £10, saving you a little bit more.&nbsp;<br><a href="https://vapeandjuice.co.uk/collections/starter-eliquids/products/red-rocket"><br><span style="font-weight: bold;">Read more...</span></a></span></p></div> </div></div><div class="pf-f9476df0 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-54d54f73 sc-cQFLBn efhDmd" data-pf-type="Column"><p class="pf-8692ae08 sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-89c8942f sc-hGoxap dWevfJ" data-pf-type="Text">Find out about other devices and e-liquids that might suit you on our website. If you are still unsure then chat to us live online or drop into one of our stores across the UK.
</span></p></div> </div></div></div></div><div data-container="true" class="pf-8f31da6d sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-7a0966db pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-338a0d06 sc-cQFLBn efhDmd" data-pf-type="Column"><div class="pf-49c1523e pf-r pf-r-ew pf-r-ew--4 sc-jtggT jbmXZx" data-animation="pulse" data-pf-type="Shopify.Products">{% for product in collections['starter-kits'].products  limit:4 %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a class="product__thumbnail" href="{{ product.url }}" style="height: 200px; width: 100%;">{% if product.featured_image != blank %}<img src="{{ product.featured_image | img_url: '270x200', crop: 'center' , scale: 2 }}" alt="{{ product.featured_image.alt | escape }}" width="270" height="200">{% else %}<img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="270">{% endif %}</a><div class="product__info"><h3 class="product__info-title"><a href="{{ product.url }}" style="display: block;">{{product.title}}</a></h3><div class="product__info-price" style="color: black; font-size: 13px;">{%- assign compare_at_price = product.compare_at_price -%}
								{%- assign price = product.price -%}
								{%- assign price_varies = product.price_varies -%}
								{%- assign money_price = price | money -%}{% if compare_at_price > price %}<span class="product__regular-price">{{ money_price }}</span><s class="product__sale-price" style="color: rgb(208, 2, 27);">{{ compare_at_price | money }}</s>{% else %}{% if price_varies %}{{ product.price_min | money }} - {{ product.price_max | money }}{% else %}<span class="product__regular-price" style="color: black;">{{ money_price }}</span>{% endif %}{% endif %}</div><div class="product__button">{% if product.available %}{% if product.variants.size == 1 %}<a class="product__button" href="#" data-action="AddToCart" data-text="Add To Cart"><span data-variant="{{ product.variants.first.id }}">Add To Cart</span></a>{% else %}<a href="{{ product.url }}" class="product__button"><span>View Options</span></a>{% endif %}{% else %}<a href="javascript:void(0);" aria-disabled="true" class="product__button"><span>{{ 'pagefly.products.product.sold_out' | t }}</span></a>{% endif %}</div></div></div></div>{% else %}{% for i in (1..4) %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a href="javascript:void(0);" class="product__thumbnail" style="height: 200px; width: 100%;"><img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="270"></a><div class="product__info"><h3 class="product__info-title"><a href="javascript:void(0);" style="display: block;">Example product title</a></h3><div class="product__info-price" style="color: black; font-size: 13px;"><span class="product__regular-price">$99.00</span></div><div class="product__button"><a href="javascript:void(0);" class="product__button">Add To Cart</a></div></div></div></div>{% endfor %}{% endfor %}</div></div> </div></div></div></div><div data-container="true" class="pf-906aa03c sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-5be4ea0e pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-74a3fb9e sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-65b99bf6 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-31889a5d sc-hGoxap dWevfJ" data-pf-type="Text">Want 10% Off?<br></span></h3><p class="pf-decee21f sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-4c5ca994 sc-hGoxap dWevfJ" data-pf-type="Text">We like to reward our blog readers with exclusive discounts! Get an extra 10% off your purchases today with this discount code!&nbsp;&nbsp;</span></p></div> </div></div><div class="pf-f52dfc0e pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-66417981 sc-cQFLBn efhDmd" data-pf-type="Column"><p class="pf-5852c257 sc-emmjRN kxBUTU" data-animation="tada" data-pf-type="Paragraph"><span class="pf-dc8ab9d5 sc-hGoxap dWevfJ" data-pf-type="Text">WELCOME10</span></p></div> </div></div></div></div></div></div></div><script>
					window.__pagefly_options__=window.__pagefly_options__||[],window.__pagefly_options__.push({});
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","isBackend":false};
					0;
				</script><script src="https://cdn.pagefly.io/pagefly/2.0.2/core/helper.js?t=2019-04-11-10" defer></script> </article>