<article itemscope itemtype="http://schema.org/Article"> <link rel="preload" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400"></noscript><link rel="preload" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></noscript><link rel="preload" href="https://cdn.pagefly.io/pagefly/2.0.1/css/animation-style.css?t=2019-03-04-17" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.0.1/css/animation-style.css?t=2019-03-04-17"></noscript><link rel="preload" href="https://cdn.pagefly.io/pagefly/2.0.1/css/main-style.css?t=2019-03-04-17" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.0.1/css/main-style.css?t=2019-03-04-17"></noscript><style>
					/* PageFly Element Styles */
					.dwTIAb__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.dwTIAb { padding: 15px 0px; position: relative; }
.dwTIAb .sc-dymIpo { position: relative; }
.dwTIAb[data-container="true"] .sc-dymIpo { padding: 0px 15px; width: 100%; margin: auto; }
.dwTIAb .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.krxlvo { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; overflow: hidden; }
.iTCmS { position: relative; }
.hrEkYi { margin-top: 17.5px; margin-bottom: 15px; }
.hrEkYi > a { color: inherit !important; }
.hrEkYi > span { font-weight: inherit; text-decoration: inherit; }
.hrEkYi { word-break: break-word; }
.hrEkYi.pf-i--left i { margin-right: 0.3em; }
.hrEkYi.pf-i--right i { margin-left: 0.3em; }
.hrEkYi.pf-i--top i { margin-bottom: 0.5em; }
.hrEkYi.pf-i--top > span, .hrEkYi.pf-i--top > a { display: block; }
.hrEkYi.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.hrEkYi [class*="--diamond"] { margin-right: 1em; }
.iavTDB { display: inline-block; }
.iavTDB { vertical-align: baseline; word-break: break-word; }
.iavTDB:focus { outline: none; }
.bDNiBy { margin-top: 17.5px; margin-bottom: 15px; }
.bDNiBy > a { color: inherit !important; }
.bDNiBy > span { font-weight: inherit; text-decoration: inherit; }
.bDNiBy { word-break: break-word; }
.bDNiBy.pf-i--left i { margin-right: 0.3em; }
.bDNiBy.pf-i--right i { margin-left: 0.3em; }
.bDNiBy.pf-i--top i { margin-bottom: 0.5em; }
.bDNiBy.pf-i--top > span, .bDNiBy.pf-i--top > a { display: block; }
.bDNiBy.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.bDNiBy [class*="--diamond"] { margin-right: 1em; }
.hIuBaq { margin-top: 17.5px; margin-bottom: 15px; }
.hIuBaq > a { color: inherit !important; }
.hIuBaq > span { font-weight: inherit; text-decoration: inherit; }
.hIuBaq { word-break: break-word; }
.hIuBaq.pf-i--left i { margin-right: 0.3em; }
.hIuBaq.pf-i--right i { margin-left: 0.3em; }
.hIuBaq.pf-i--top i { margin-bottom: 0.5em; }
.hIuBaq.pf-i--top > span, .hIuBaq.pf-i--top > a { display: block; }
.hIuBaq.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.hIuBaq [class*="--diamond"] { margin-right: 1em; }
.kTdcTt > span:last-child { line-height: inherit; display: block; }
.kTdcTt[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; color: rgb(0, 0, 0); width: 50px; height: 50px; line-height: 50px; font-size: 2em; background: rgb(145, 157, 169); }
.kTdcTt[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.kTdcTt.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.kTdcTt.dropcap--circle > span:first-child { border-radius: 100%; }
.kTdcTt:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.kTdcTt ol, .kTdcTt ul { list-style-position: inside; }
.kTdcTt blockquote { font-size: inherit; }
.fRnTAR > span:last-child { line-height: inherit; display: block; }
.fRnTAR[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.fRnTAR[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.fRnTAR.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.fRnTAR.dropcap--circle > span:first-child { border-radius: 100%; }
.fRnTAR:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.fRnTAR ol, .fRnTAR ul { list-style-position: inside; }
.fRnTAR blockquote { font-size: inherit; }
.henXsE { position: relative; overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; vertical-align: middle; max-width: 100%; }
.henXsE img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; position: unset; }
.dbCSLI { display: inline-block; line-height: 1; padding: 0.7em 1.2em; box-sizing: border-box; cursor: pointer; text-align: center; border: none; border-radius: 0px; text-decoration: none; position: relative; max-width: 100%; outline: none; vertical-align: middle; }
.dbCSLI:hover, .dbCSLI:active, .dbCSLI:focus { color: inherit; text-decoration: none; }
.dbCSLI > span { text-decoration: inherit; line-height: inherit; display: inline-block; max-width: 100%; }
.dbCSLI[data-active="true"] { background: black; color: white; }
.dbCSLI.pf-i--left i { margin-right: 0.3em; }
.dbCSLI + .sc-jwKygS, .dbCSLI.pf-i--right i { margin-left: 0.3em; }
.dbCSLI.pf-i--top i { margin-bottom: 0.5em; display: block; }
.gxVtiD { margin: 0px -15px; }
.gxVtiD .pf__shopify-product { width: 100%; text-align: center; }
.gxVtiD .pf-c { padding: 15px; display: flex; }
.gxVtiD .product__thumbnail { display: -webkit-flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; overflow: hidden; max-width: 100%; position: relative; }
.gxVtiD .product__thumbnail img { vertical-align: middle; max-width: 100%; height: auto; }
.gxVtiD .product__thumbnail .pf-placeholder-svg { fill: rgb(166, 166, 166); background-color: rgb(245, 245, 245); width: 100%; max-width: 100%; max-height: 100%; border-radius: inherit; }
.gxVtiD .product__button > a { display: block; padding: 0px 20px; line-height: 36px; height: 36px; background: rgb(85, 193, 72); margin-top: 10px; color: rgb(255, 255, 255); text-align: center; text-decoration: none; }
.gxVtiD .product__button > a:hover { opacity: 0.7; color: rgb(255, 255, 255); }
.gxVtiD .product__info-price { margin-top: 10px; font-size: 13px; color: rgb(208, 2, 27); }
.gxVtiD .product__sale-price { margin-left: 10px; color: rgb(54, 54, 54); font-size: 0.8em; }
.gxVtiD .product__info-title { margin: 10px 0px 0px; font-size: 16px; font-weight: 500; line-height: 1.5; text-transform: none; font-family: inherit; color: rgb(45, 45, 45); }
.gxVtiD .product__info-title a { color: rgb(27, 28, 29); text-decoration: none; }
.gxVtiD .shopify__product-vertical, .gxVtiD .shopify__product-vertical .product__info { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-flow: column; }
.gxVtiD .shopify__product-vertical .product__info, .gxVtiD .shopify__product-vertical .product__info-title { flex: 1 0 auto; }
.gxVtiD .shopify__product-horizontal { display: -webkit-flex; }
.gxVtiD .shopify__product-horizontal .product__thumbnail { flex: 1 1 0%; height: auto !important; }
.gxVtiD .shopify__product-horizontal .product__info { text-align: left; flex: 3 1 0%; padding-left: 15px; }
.gxVtiD .shopify__product-horizontal .product__info-title { margin-top: 0px; }
.gxVtiD .shopify__product-horizontal .product__button > a { width: auto; display: inline-block; }
					/* PageFly Styles */
					
@media all {
	[data-pf-type="Block"].pf-398aa374 {
		text-align: center;
	}
	[data-pf-type="Section"].pf-18e9ae7b {
		padding: 100px 0px;
		 background-size: cover;
		 background-repeat: no-repeat;
		 background-image: url("https://media.pagefly.io/file/get/ecigarette3576177_1920jpg-1535855185893.jpg");
		 background-position: 50% 50%;
		 margin-top: -25px;
	}
	[data-pf-type="Heading"].pf-ee150142 {
		text-align: center;
		 font-size: 60px;
		 color: black;
		 line-height: 2;
		 margin-bottom: 5px;
		 margin-top: 10px;
	}
	[data-pf-type="Heading"].pf-6257d451 {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 36px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Text"].pf-45f228a1 {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Paragraph"].pf-710779f4 {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Heading"].pf-892e831b {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: center;
	}
	[data-pf-type="Paragraph"].pf-a306275f {
		text-align: justify;
		 font-size: 18px;
	}
	[data-pf-type="Heading"].pf-5b2f24bc {
		font-size: 30px;
		 margin-top: 0px;
		 font-weight: 700;
	}
	[data-pf-type="Section"].pf-a3ac88d0 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	[data-pf-type="Image"].pf-581d7c32 {
		width: 300px;
	}
	[data-pf-type="Button"].pf-3e3cb7e1 {
		color: white;
		 background-color: black;
		 font-weight: 700;
		 padding-top: 9px;
		 margin-top: 5px;
	}
	[data-pf-type="Column"].pf-ad23e599 {
		text-align: center;
	}
	[data-pf-type="Heading"].pf-637a7079 {
		margin-top: 0px;
		 text-align: left;
		 margin-bottom: 0px;
	}
	[data-pf-type="Paragraph"].pf-8a916cec {
		font-size: 18px;
		 text-align: left;
		 margin-top: 10px;
	}
	[data-pf-type="Heading"].pf-e4de63a3 {
		font-size: 30px;
		 margin-top: 20px;
		 font-weight: 700;
		 padding-top: 20px;
	}
	[data-pf-type="Image"].pf-c1dedae1 {
		width: 300px;
		 align-items: center;
		 justify-content: center;
	}
	[data-pf-type="Button"].pf-73ce2287 {
		color: white;
		 background-color: black;
		 font-weight: 700;
		 padding-top: 9px;
		 margin-top: 5px;
		 text-align: center;
	}
	[data-pf-type="Column"].pf-0bbd4423 {
		text-align: center;
	}
	[data-pf-type="Heading"].pf-d0ff66a5 {
		margin-top: 0px;
		 text-align: left;
		 margin-bottom: 0px;
	}
	[data-pf-type="Paragraph"].pf-a9215945 {
		font-size: 18px;
		 text-align: left;
		 margin-top: 10px;
	}
	[data-pf-type="Row"].pf-f5715251 {
		text-align: center;
	}
	[data-pf-type="Heading"].pf-95551f54 {
		font-size: 30px;
		 margin-top: 20px;
		 font-weight: 700;
		 padding-top: 20px;
	}
	[data-pf-type="Image"].pf-06a02123 {
		width: 300px;
		 align-items: center;
		 justify-content: center;
	}
	[data-pf-type="Button"].pf-bb82767f {
		color: white;
		 background-color: black;
		 font-weight: 700;
		 padding-top: 9px;
		 margin-top: 5px;
		 text-align: center;
	}
	[data-pf-type="Column"].pf-ee3c6f4d {
		text-align: center;
	}
	[data-pf-type="Heading"].pf-ce178a3f {
		margin-top: 0px;
		 text-align: left;
		 margin-bottom: 0px;
	}
	[data-pf-type="Paragraph"].pf-1a238236 {
		font-size: 18px;
		 text-align: left;
		 margin-top: 10px;
	}
	[data-pf-type="Heading"].pf-5e9b86bc {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: center;
	}
	[data-pf-type="Paragraph"].pf-3e69677d {
		text-align: justify;
		 font-size: 18px;
	}
	[data-pf-type="Section"].pf-7c82f8e7 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	[data-pf-type="Shopify.Products"].pf-daa43b9b {
		font-size: 18px;
	}
	[data-pf-type="Shopify.Products"].pf-daa43b9b > .pf-c > div > div > div > .product__button {
		background-color: black;
	}
	[data-pf-type="Shopify.Products"].pf-daa43b9b > .pf-c > div {
		font-size: 18px;
	}
	[data-pf-type="Shopify.Products"].pf-daa43b9b > .pf-c > div > div > h3 > a {
		font-size: 14px;
	}
	[data-pf-type="Heading"].pf-8bc3b348 {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: center;
		 color: white;
	}
	[data-pf-type="Paragraph"].pf-f212bcee {
		text-align: center;
		 font-size: 20px;
		 color: white;
		 font-weight: 700;
	}
	[data-pf-type="Paragraph"].pf-dbed397d {
		font-size: 36px;
		 color: white;
		 text-align: center;
		 font-weight: 700;
		 border-style: dashed;
	}
	[data-pf-type="Section"].pf-a7499e1d {
		background-color: black;
	}
}
					/*PageFlyCustomCSS*/
				</style><script src="https://cdnjs.cloudflare.com/ajax/libs/loadCSS/2.0.1/cssrelpreload.min.js" async></script><link rel="stylesheet" href="{{ 'pagefly.bb6ed892.scss.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div class="pf-e119d6f2 sc-cmTdod kHxQNt" data-pf-type="Body"><div class="pf-9be2a183 sc-esOvli bMqLzo" data-pf-type="Layout"><div data-container="true" class="pf-18e9ae7b sc-bnXvFD dwTIAb" data-pf-type="Section"><div class="sc-cpmLhU krxlvo" style="background-color: rgba(0, 0, 0, 0);"></div><div class="sc-dymIpo kdtjOQ" style="max-width: 1170px;"><div class="pf-f672fc58 pf-r pf-r-eh sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-79453787 sc-gHboQg eLpzfs" data-pf-type="Column"><div class="pf-398aa374 sc-iELTvK iTCmS" data-pf-type="Block"></div></div> </div></div></div></div><div data-container="true" class="pf-fbaf7c51 sc-bnXvFD dwTIAb" data-pf-type="Section"><div class="sc-cpmLhU krxlvo" style="background-color: rgba(0, 0, 0, 0);"></div><div class="sc-dymIpo kdtjOQ" style="max-width: 1170px;"><div class="pf-10c973d9 pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-67d2ed55 sc-gHboQg eLpzfs" data-pf-type="Column"><h1 mode="view" class="pf-ee150142 sc-iyvyFf hrEkYi" data-pf-type="Heading"><span class="pf-1c2218c0 sc-eLExRp iavTDB" data-pf-type="Text">Best Vape Starter Kits To Quit Smoking&nbsp;</span></h1><h2 mode="view" class="pf-6257d451 sc-gzOgki bDNiBy" data-pf-type="Heading"><span class="pf-24f323c1 sc-eLExRp iavTDB" data-pf-type="Text">Step One to Becoming Smoke Free!&nbsp;</span></h2></div> </div></div><div class="pf-d93d77de pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-d9efcc26 sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" class="pf-dc1ac896 sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-7a04842f sc-eLExRp iavTDB" data-pf-type="Text">Author Name, 22/08/2018&nbsp;</span></h3></div> </div></div><div class="pf-1bf8d66c pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-42af4de9 sc-gHboQg eLpzfs" data-pf-type="Column"><p class="pf-710779f4 dropcap--none sc-bAeIUo kTdcTt" data-pf-type="Paragraph"><span class="pf-45f228a1 sc-eLExRp iavTDB" data-pf-type="Text">Q</span><span class="pf-08167c59 sc-eLExRp iavTDB" data-pf-type="Text">uiting smoking is no easy feat, you might have been smoking for years or even decades but it is never too late to give up! Vaping is a great alternative to smoking and can help you stub out smoking forever! With a whole world of flavours and devices out there you'll find the perfect vaping experience that fits you. Cigarettes are becoming a thing of the past, with even the most hardened smokers putting down the lighter and picking up the vape. Break the habit of a lifetime and find a satisfying alternative that is proving itself to be a healthier, safer and satisfying alternative.&nbsp; &nbsp;</span></p></div> </div></div><div class="pf-ca5385d5 pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-77d86d39 sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" class="pf-892e831b sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-59cccd46 sc-eLExRp iavTDB" data-pf-type="Text">Where to start?</span></h3></div> </div></div><div class="pf-8d149edc pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-789dd007 sc-gHboQg eLpzfs" data-pf-type="Column"><p class="pf-a306275f sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-1d39be30 sc-eLExRp iavTDB" data-pf-type="Text">You should find a starter kit with a vape that you like the look of, remember you'll be using the vape a lot in your first few weeks of quitting cigarettes. Starter kits have varying amounts of nicotine so you might want to start with a higher nicotine content and ween yourself down to a lower nicotine content. The kits are really easy to use and lots of them you just need to fill up, plug in and you'll be vaping in minutes!&nbsp; We've created a list of our top 3 most loved starter kits:</span></p></div> </div></div></div></div><div data-container="true" class="pf-a3ac88d0 sc-bnXvFD dwTIAb" data-pf-type="Section"><div class="sc-cpmLhU krxlvo" style="background-color: rgba(0, 0, 0, 0);"></div><div class="sc-dymIpo kdtjOQ" style="max-width: 1170px;"><div class="pf-11daee7e pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-4ab04500 sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" class="pf-5b2f24bc sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-a777ba88 sc-eLExRp iavTDB" data-pf-type="Text">3. INNOKIN ENDURA T20</span></h3></div> </div></div></div></div><div data-container="true" class="pf-7c82f8e7 sc-bnXvFD dwTIAb" data-pf-type="Section"><div class="sc-cpmLhU krxlvo" style="background-color: rgba(0, 0, 0, 0);"></div><div class="sc-dymIpo kdtjOQ" style="max-width: 1170px;"><div class="pf-2a316e4a pf-r pf-r-eh sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--4 pf-c-xs--12 pf-c-sm--12 pf-c-md--6" style="padding: 15px;"><div class="pf-ad23e599 sc-gHboQg eLpzfs" data-pf-type="Column"><picture class="pf-581d7c32 sc-cMhqgX henXsE" data-animation="wobble" data-pf-type="Image"><img src="https://media.pagefly.io/file/get/vapejuicedevicesinnokinendurat202688034603115_667xprogressivepng-1534900699847.png"></picture><a class="pf-3e3cb7e1 sc-jwKygS dbCSLI" href="https://vapeandjuice.co.uk/2905629/checkouts/0e34c2af7c082201c7c6e2148b0f4590?checkout%5Bshipping_address%5D%5Baddress1%5D=&checkout%5Bshipping_address%5D%5Baddress2%5D=&checkout%5Bshipping_address%5D%5Bcity%5D=&checkout%5Bshipping_address%5D%5Bcompany%5D=&checkout%5Bshipping_address%5D%5Bcountry%5D=&checkout%5Bshipping_address%5D%5Bprovince%5D=&checkout%5Bshipping_address%5D%5Bzip%5D=&locale=en&method=shipping&step=contact_information" target="_self" data-pf-type="Button"><span class="pf-0c649a7e sc-eLExRp iavTDB" data-pf-type="Text">ADD TO CART</span></a></div> </div><div class="pf-c pf-c-lg--8 pf-c-xs--12 pf-c-sm--12 pf-c-md--6" style="padding: 15px;"><div class="pf-ec025842 sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" class="pf-637a7079 sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-7ef4a73e sc-eLExRp iavTDB" data-pf-type="Text">£29.99</span></h3><p class="pf-8a916cec sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-eba4b7df sc-eLExRp iavTDB" data-pf-type="Text">If you are looking for an easy to use but superior quality vape the Innokin Endura T20 is the device for you! The compact design and USB charger makes it a really portable device. The robust metallic casing comes in a range of colours and is ultra-durable.&nbsp;<br><br>This device produces a smooth stream of vape that is gentle and satisfying. It is very low maintenance and the long battery life means you can vape all day!&nbsp;<br><br><a href="https://vapeandjuice.co.uk/collections/starter-kits/products/innokin-endura-t20" target="_self">Read More...</a><br></span></p></div> </div></div><div class="pf-57291574 pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-81ffc362 sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" class="pf-e4de63a3 sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-abb4efce sc-eLExRp iavTDB" data-pf-type="Text">2. COOLFIRE MINI KIT&nbsp;</span></h3></div> </div></div><div class="pf-f5715251 pf-r pf-r-eh sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--4 pf-c-xs--12 pf-c-sm--12 pf-c-md--6" style="padding: 15px;"><div class="pf-0bbd4423 sc-gHboQg eLpzfs" data-pf-type="Column"><picture class="pf-c1dedae1 sc-cMhqgX henXsE" data-animation="wobble" data-pf-type="Image"><img src="https://media.pagefly.io/file/get/screen_shot_20170203_at_163409png-1534903700142.png"></picture><a class="pf-73ce2287 sc-jwKygS dbCSLI" href="https://vapeandjuice.co.uk/collections/starter-kits/products/coolfire-mini-kit" target="_self" data-pf-type="Button"><span class="pf-a4b92ff2 sc-eLExRp iavTDB" data-pf-type="Text">ADD TO CART</span></a></div> </div><div class="pf-c pf-c-lg--8 pf-c-xs--12 pf-c-sm--12 pf-c-md--6" style="padding: 15px;"><div class="pf-66ea5640 sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" class="pf-d0ff66a5 sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-b69ba8a7 sc-eLExRp iavTDB" data-pf-type="Text">£45.00</span></h3><p class="pf-a9215945 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-5b4cbb59 sc-eLExRp iavTDB" data-pf-type="Text">&nbsp;If you are looking for top of the range device you might go for the COOLFIRE mini kit. COOLFIRE is one of the bigger brands on the market and is known for high quality devices and large capacity tanks. With an LCD display and a range of settings you can adjust your vaping experience.&nbsp;<br><br><a href="https://vapeandjuice.co.uk/collections/starter-kits/products/coolfire-mini-kit" target="_self">Read More..</a>&nbsp;<br></span></p></div> </div></div><div class="pf-cba92bce pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-fce115ba sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" class="pf-95551f54 sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-7ca8a520 sc-eLExRp iavTDB" data-pf-type="Text">1. ASPIRE POCKEX&nbsp;</span></h3><div class="pf-42da5632 pf-r pf-r-eh sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--4 pf-c-xs--12 pf-c-sm--12 pf-c-md--4" style="padding: 15px;"><div class="pf-ee3c6f4d sc-gHboQg eLpzfs" data-pf-type="Column"><picture class="pf-06a02123 sc-cMhqgX henXsE" data-animation="wobble" data-pf-type="Image"><img src="https://media.pagefly.io/file/get/vapejuicedevicesaspirepockex2687861096555_667xprogressive-1png-1535307426802.png"></picture><a class="pf-bb82767f sc-jwKygS dbCSLI" href="https://vapeandjuice.co.uk/collections/starter-kits/products/aspire-pockex-kit" target="_self" data-pf-type="Button"><span class="pf-2ea794e6 sc-eLExRp iavTDB" data-pf-type="Text">ADD TO CART</span></a></div> </div><div class="pf-c pf-c-lg--8 pf-c-xs--12 pf-c-sm--12 pf-c-md--4" style="padding: 15px;"><div class="pf-b265da63 sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" class="pf-ce178a3f sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-9e3915d4 sc-eLExRp iavTDB" data-pf-type="Text">£45.00</span></h3><p class="pf-1a238236 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-0a9e968c sc-eLExRp iavTDB" data-pf-type="Text">&nbsp;If you are looking for top of the range device you might go for the COOLFIRE mini kit. COOLFIRE is one of the bigger brands on the market and is known for high quality devices and large capacity tanks. With an LCD display and a range of settings you can adjust your vaping experience.<br><br><a href="https://vapeandjuice.co.uk/collections/starter-kits/products/aspire-pockex-kit" target="_self">Read More...&nbsp;</a>&nbsp;<br></span></p></div> </div><div class="pf-c pf-c-lg--4 pf-c-xs--12 pf-c-sm--12 pf-c-md--4" style="padding: 15px;"><div class="pf-0d8cc81e sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" class="pf-5e9b86bc sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-2c8226d5 sc-eLExRp iavTDB" data-pf-type="Text">What Liquid?</span></h3></div> </div></div><p class="pf-3e69677d sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-30c1d70a sc-eLExRp iavTDB" data-pf-type="Text">Vaping brings a whole new dimension to your smoke break. With thousands of flavours from traditional tobacco to strawberry cheese cake you can personalise your vaping experience. If you are quitting smoking you might want to start with the familiar taste of tobacco, but you might also want to try something new so pick up a couple of juices and see which you like best. <br><br><a href="https://vapeandjuice.co.uk/pages/search-results-page?q=juices" target="_self">Vaping liquids</a> have varying amounts of nicotine in them, so you might want to start with a strong dosage and work your way down as you switch from smoking to vaping. <br><br>We have a broad <a href="https://vapeandjuice.co.uk/pages/search-results-page?q=juices" target="_self">range of flavours</a> from the worlds favourite vaping brands:&nbsp;&nbsp;</span></p></div> </div></div></div></div><div data-container="true" class="pf-ee16c933 sc-bnXvFD dwTIAb" data-pf-type="Section"><div class="sc-cpmLhU krxlvo" style="background-color: rgba(0, 0, 0, 0);"></div><div class="sc-dymIpo kdtjOQ" style="max-width: 1170px;"><div class="pf-62133800 pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-1cde7087 sc-gHboQg eLpzfs" data-pf-type="Column"><div class="pf-daa43b9b pf-r pf-r-ew pf-r-ew--4 sc-iqzUVk gxVtiD" data-animation="pulse" data-pf-type="Shopify.Products">{% for product in collections['starter-kits'].products  limit:4 %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a class="product__thumbnail" href="{{ product.url }}" style="height: 200px; width: 100%;">{% if product.featured_image != blank %}<img src="{{ product.featured_image | img_url: '270x200', crop: 'center' , scale: 2 }}" alt="{{ product.featured_image.alt | escape }}" width="270" height="200">{% else %}<img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="270">{% endif %}</a><div class="product__info"><h3 class="product__info-title"><a href="{{ product.url }}" style="display: block;">{{product.title}}</a></h3><div class="product__info-price" style="color: black; font-size: 13px;">{%- assign compare_at_price = product.compare_at_price -%}
								{%- assign price = product.price -%}
								{%- assign price_varies = product.price_varies -%}
								{%- assign money_price = price | money -%}{% if compare_at_price > price %}<span class="product__regular-price">{{ money_price }}</span><s class="product__sale-price" style="color: rgb(208, 2, 27);">{{ compare_at_price | money }}</s>{% else %}{% if price_varies %}{{ product.price_min | money }} - {{ product.price_max | money }}{% else %}<span class="product__regular-price" style="color: black;">{{ money_price }}</span>{% endif %}{% endif %}</div><div class="product__button">{% if product.available %}{% if product.variants.size == 1 %}<a class="product__button" href="#" data-action="AddToCart" data-text="Add To Cart"><span data-variant="{{ product.variants.first.id }}">Add To Cart</span></a>{% else %}<a href="{{ product.url }}" class="product__button"><span>View Options</span></a>{% endif %}{% else %}<a href="javascript:void(0);" aria-disabled="true" class="product__button"><span>{{ 'pagefly.products.product.sold_out' | t }}</span></a>{% endif %}</div></div></div></div>{% else %}{% for i in (1..4) %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a href="javascript:void(0);" class="product__thumbnail" style="height: 200px; width: 100%;"><img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="270"></a><div class="product__info"><h3 class="product__info-title"><a href="javascript:void(0);" style="display: block;">Example product title</a></h3><div class="product__info-price" style="color: black; font-size: 13px;"><span class="product__regular-price">$99.00</span></div><div class="product__button"><a href="javascript:void(0);" class="product__button">Add To Cart</a></div></div></div></div>{% endfor %}{% endfor %}</div></div> </div></div></div></div><div data-container="true" class="pf-a7499e1d sc-bnXvFD dwTIAb" data-pf-type="Section"><div class="sc-cpmLhU krxlvo" style="background-color: rgba(0, 0, 0, 0);"></div><div class="sc-dymIpo kdtjOQ" style="max-width: 1170px;"><div class="pf-a8e79184 pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-d8d0cc32 sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" class="pf-8bc3b348 sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-a6882e09 sc-eLExRp iavTDB" data-pf-type="Text">Want 10% Off?<br></span></h3><p class="pf-f212bcee sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-50d6b671 sc-eLExRp iavTDB" data-pf-type="Text">We like to reward our blog readers with exclusive discounts! Get an extra 10% off your purchases today with this discount code!&nbsp;&nbsp;</span></p></div> </div></div><div class="pf-7649c42c pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-389be5eb sc-gHboQg eLpzfs" data-pf-type="Column"><p class="pf-dbed397d sc-bAeIUo fRnTAR" data-animation="tada" data-pf-type="Paragraph"><span class="pf-042fa7c6 sc-eLExRp iavTDB" data-pf-type="Text">WELCOME10</span></p></div> </div></div></div></div></div></div></div><script>
					window.__pagefly_options__=window.__pagefly_options__||[],window.__pagefly_options__.push({});
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","isBackend":false};
					0;
				</script><script src="https://cdn.pagefly.io/pagefly/2.0.1/core/helper.js?t=2019-03-04-17"></script> {% include 'pagefly-article-tags' %}{% include 'pagefly-comment-form' %}</article>