<article itemscope itemtype="http://schema.org/Article"> <link rel="preload" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400"></noscript><link rel="preload" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></noscript><link rel="preload" href="https://cdn.pagefly.io/pagefly/2.0.2/css/animation-style.css?t=2019-04-04-15" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.0.2/css/animation-style.css?t=2019-04-04-15"></noscript><link rel="preload" href="https://cdn.pagefly.io/pagefly/2.0.2/css/main-style.css?t=2019-04-04-15" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.0.2/css/main-style.css?t=2019-04-04-15"></noscript><style>
					/* PageFly Element Styles */
					.IoliW__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.IoliW { padding: 15px 0px; position: relative; }
.IoliW .sc-eLExRp { position: relative; }
.IoliW[data-container="true"] .sc-eLExRp { padding: 0px 15px; width: 100%; margin: auto; }
.IoliW .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.iUdgQL { margin: 0px -15px; }
.efhDmd { position: relative; }
.efhDmd.pf-editor-col::before, .efhDmd.pf-editor-col::after { content: ""; display: block; position: absolute; top: 0px; bottom: 0px; width: 10px; }
.efhDmd.pf-editor-col::before { left: -10px; }
.efhDmd.pf-editor-col::after { right: -10px; }
.hCTnDy { margin: 0px 0px 15px; }
.hCTnDy > a { color: inherit !important; }
.hCTnDy > span { font-weight: inherit; text-decoration: inherit; }
.hCTnDy { word-break: break-word; }
.hCTnDy.pf-i--left i { margin-right: 0.3em; }
.hCTnDy.pf-i--right i { margin-left: 0.3em; }
.hCTnDy.pf-i--top i { margin-bottom: 0.5em; }
.hCTnDy.pf-i--top > span, .hCTnDy.pf-i--top > a { display: block; }
.hCTnDy.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.hCTnDy [class*="--diamond"] { margin-right: 1em; }
.dWevfJ { display: inline-block; }
.dWevfJ { vertical-align: baseline; word-break: break-word; }
.dWevfJ:focus { outline: none; }
.RLwIO { margin: 0px 0px 15px; }
.RLwIO > a { color: inherit !important; }
.RLwIO > span { font-weight: inherit; text-decoration: inherit; }
.RLwIO { word-break: break-word; }
.RLwIO.pf-i--left i { margin-right: 0.3em; }
.RLwIO.pf-i--right i { margin-left: 0.3em; }
.RLwIO.pf-i--top i { margin-bottom: 0.5em; }
.RLwIO.pf-i--top > span, .RLwIO.pf-i--top > a { display: block; }
.RLwIO.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.RLwIO [class*="--diamond"] { margin-right: 1em; }
.huQPUn { margin: 0px 0px 15px; }
.huQPUn > a { color: inherit !important; }
.huQPUn > span { font-weight: inherit; text-decoration: inherit; }
.huQPUn { word-break: break-word; }
.huQPUn.pf-i--left i { margin-right: 0.3em; }
.huQPUn.pf-i--right i { margin-left: 0.3em; }
.huQPUn.pf-i--top i { margin-bottom: 0.5em; }
.huQPUn.pf-i--top > span, .huQPUn.pf-i--top > a { display: block; }
.huQPUn.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.huQPUn [class*="--diamond"] { margin-right: 1em; }
.gFMjkE > span:last-child { line-height: inherit; display: block; }
.gFMjkE[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; color: rgb(0, 0, 0); width: 50px; height: 50px; line-height: 50px; font-size: 2em; background: rgb(145, 157, 169); }
.gFMjkE[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.gFMjkE.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.gFMjkE.dropcap--circle > span:first-child { border-radius: 100%; }
.gFMjkE:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.gFMjkE ol, .gFMjkE ul { list-style-position: inside; }
.gFMjkE blockquote { font-size: inherit; }
.kxBUTU > span:last-child { line-height: inherit; display: block; }
.kxBUTU[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.kxBUTU[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.kxBUTU.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.kxBUTU.dropcap--circle > span:first-child { border-radius: 100%; }
.kxBUTU:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.kxBUTU ol, .kxBUTU ul { list-style-position: inside; }
.kxBUTU blockquote { font-size: inherit; }
.jbmXZx { margin: 0px -15px; }
.jbmXZx .pf__shopify-product { width: 100%; text-align: center; }
.jbmXZx .pf-c { padding: 15px; display: flex; }
.jbmXZx .product__thumbnail { display: -webkit-flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; overflow: hidden; max-width: 100%; position: relative; }
.jbmXZx .product__thumbnail img { vertical-align: middle; max-width: 100%; height: auto; }
.jbmXZx .product__thumbnail .pf-placeholder-svg { fill: rgb(166, 166, 166); background-color: rgb(245, 245, 245); width: 100%; max-width: 100%; max-height: 100%; border-radius: inherit; }
.jbmXZx .product__button > a { display: block; padding: 0px 20px; line-height: 36px; height: 36px; background: rgb(85, 193, 72); margin-top: 10px; color: rgb(255, 255, 255); text-align: center; text-decoration: none; }
.jbmXZx .product__button > a:hover { opacity: 0.7; color: rgb(255, 255, 255); }
.jbmXZx .product__info-price { margin-top: 10px; font-size: 13px; color: rgb(208, 2, 27); }
.jbmXZx .product__sale-price { margin-left: 10px; color: rgb(54, 54, 54); font-size: 0.8em; }
.jbmXZx .product__info-title { margin: 10px 0px 0px; font-size: 16px; font-weight: 500; line-height: 1.5; text-transform: none; font-family: inherit; color: rgb(45, 45, 45); }
.jbmXZx .product__info-title a { color: rgb(27, 28, 29); text-decoration: none; }
.jbmXZx .shopify__product-vertical, .jbmXZx .shopify__product-vertical .product__info { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-flow: column; }
.jbmXZx .shopify__product-vertical .product__info, .jbmXZx .shopify__product-vertical .product__info-title { flex: 1 0 auto; }
.jbmXZx .shopify__product-horizontal { display: -webkit-flex; }
.jbmXZx .shopify__product-horizontal .product__thumbnail { flex: 1 1 0%; height: auto !important; }
.jbmXZx .shopify__product-horizontal .product__info { text-align: left; flex: 3 1 0%; padding-left: 15px; }
.jbmXZx .shopify__product-horizontal .product__info-title { margin-top: 0px; }
.jbmXZx .shopify__product-horizontal .product__button > a { width: auto; display: inline-block; }
					/* PageFly Styles */
					
@media all {
	[data-pf-type="Heading"].pf-47b1a117 {
		text-align: center;
		 font-size: 60px;
		 color: black;
		 line-height: 2;
		 margin-bottom: 5px;
		 margin-top: 10px;
	}
	[data-pf-type="Heading"].pf-7fe1cd3d {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 36px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Text"].pf-10020536 {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Paragraph"].pf-6f6f6dcb {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Heading"].pf-e217fbca {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: left;
	}
	[data-pf-type="Paragraph"].pf-f567bd15 {
		text-align: justify;
		 font-size: 18px;
	}
	[data-pf-type="Heading"].pf-d05bb2d6 {
		font-size: 30px;
		 margin-top: 0px;
		 font-weight: 700;
	}
	[data-pf-type="Section"].pf-492fe5db {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	[data-pf-type="Image"].pf-e1ca2f64 {
		width: 300px;
	}
	[data-pf-type="Button"].pf-0c3df430 {
		color: white;
		 background-color: black;
		 font-weight: 700;
		 padding-top: 9px;
		 margin-top: 5px;
	}
	[data-pf-type="Column"].pf-3109e5da {
		text-align: center;
	}
	[data-pf-type="Heading"].pf-8980bb82 {
		margin-top: 0px;
		 text-align: left;
		 margin-bottom: 0px;
	}
	[data-pf-type="Paragraph"].pf-a42f865a {
		font-size: 18px;
		 text-align: left;
		 margin-top: 10px;
	}
	[data-pf-type="Heading"].pf-2d57431f {
		font-size: 30px;
		 margin-top: 20px;
		 font-weight: 700;
		 padding-top: 20px;
	}
	[data-pf-type="Image"].pf-05929f4e {
		width: 300px;
		 align-items: center;
		 justify-content: center;
	}
	[data-pf-type="Button"].pf-05e908b1 {
		color: white;
		 background-color: black;
		 font-weight: 700;
		 padding-top: 9px;
		 margin-top: 5px;
		 text-align: center;
	}
	[data-pf-type="Column"].pf-33ca1d7d {
		text-align: center;
	}
	[data-pf-type="Heading"].pf-561a5081 {
		margin-top: 0px;
		 text-align: left;
		 margin-bottom: 0px;
	}
	[data-pf-type="Paragraph"].pf-425c46ee {
		font-size: 18px;
		 text-align: left;
		 margin-top: 10px;
	}
	[data-pf-type="Row"].pf-752d7135 {
		text-align: center;
	}
	[data-pf-type="Heading"].pf-1357b1d8 {
		font-size: 30px;
		 margin-top: 20px;
		 font-weight: 700;
		 padding-top: 20px;
	}
	[data-pf-type="Image"].pf-6d77f89d {
		width: 300px;
		 align-items: center;
		 justify-content: center;
	}
	[data-pf-type="Button"].pf-981ec23c {
		color: white;
		 background-color: black;
		 font-weight: 700;
		 padding-top: 9px;
		 margin-top: 5px;
		 text-align: center;
	}
	[data-pf-type="Column"].pf-2bfee881 {
		text-align: center;
	}
	[data-pf-type="Heading"].pf-f8c36e99 {
		margin-top: 0px;
		 text-align: left;
		 margin-bottom: 0px;
	}
	[data-pf-type="Paragraph"].pf-1d93cf04 {
		font-size: 18px;
		 text-align: left;
		 margin-top: 10px;
	}
	[data-pf-type="Heading"].pf-f9a317f0 {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: center;
	}
	[data-pf-type="Paragraph"].pf-85472376 {
		text-align: justify;
		 font-size: 18px;
	}
	[data-pf-type="Section"].pf-542cb6c2 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	[data-pf-type="Shopify.Products"].pf-7708932f {
		font-size: 18px;
	}
	[data-pf-type="Shopify.Products"].pf-7708932f > .pf-c > div > div > div > .product__button {
		background-color: black;
	}
	[data-pf-type="Shopify.Products"].pf-7708932f > .pf-c > div {
		font-size: 18px;
	}
	[data-pf-type="Shopify.Products"].pf-7708932f > .pf-c > div > div > h3 > a {
		font-size: 14px;
	}
	[data-pf-type="Heading"].pf-bb590583 {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: center;
		 color: white;
	}
	[data-pf-type="Paragraph"].pf-ef1a86ef {
		text-align: center;
		 font-size: 20px;
		 color: white;
		 font-weight: 700;
	}
	[data-pf-type="Paragraph"].pf-e4970f48 {
		font-size: 36px;
		 color: white;
		 text-align: center;
		 font-weight: 700;
		 border-style: dashed;
	}
	[data-pf-type="Section"].pf-79756265 {
		background-color: black;
	}
	[data-pf-type="Heading"].pf-6cd81fe7 {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: left;
	}
	[data-pf-type="Paragraph"].pf-21ed9cdd {
		text-align: justify;
		 font-size: 18px;
	}
	[data-pf-type="Paragraph"].pf-2a19e614 {
		text-align: justify;
		 font-size: 18px;
	}
	[data-pf-type="Paragraph"].pf-1a6630f3 {
		text-align: justify;
		 font-size: 18px;
	}
	[data-pf-type="Heading"].pf-46bdfec0 {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: left;
	}
}
					/*PageFlyCustomCSS*/
				</style><script src="https://cdnjs.cloudflare.com/ajax/libs/loadCSS/2.0.1/cssrelpreload.min.js" async></script><link rel="stylesheet" href="{{ 'pagefly.1f1bcd8f.scss.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div class="pf-26537bb5 sc-kTUwUJ ljwnSF" data-pf-type="Body"><div class="pf-e45247ec sc-GMQeP jXMCGy" data-pf-type="Layout"><div data-container="true" class="pf-8c31eace sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-5308baee pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-2d7a2486 sc-cQFLBn efhDmd" data-pf-type="Column"><h1 mode="view" class="pf-47b1a117 sc-iQKALj hCTnDy" data-pf-type="Heading"><span class="pf-3f618aab sc-hGoxap dWevfJ" data-pf-type="Text">Can you Vape if you have Asthma?&nbsp;</span></h1><h2 mode="view" class="pf-7fe1cd3d sc-RefOD RLwIO" data-pf-type="Heading"><span class="pf-74d8a757 sc-hGoxap dWevfJ" data-pf-type="Text">Will vaping make asthma worse?</span></h2></div> </div></div><div class="pf-1b91b9b4 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-4bc83386 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-4b304b1d sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-910b0718 sc-hGoxap dWevfJ" data-pf-type="Text">Becky Spencer-Davies, 04/04/2019&nbsp;</span></h3></div> </div></div><div class="pf-036aebc8 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-f3611645 sc-cQFLBn efhDmd" data-pf-type="Column"><p class="pf-6f6f6dcb dropcap--none sc-emmjRN gFMjkE" data-pf-type="Paragraph"><span class="pf-10020536 sc-hGoxap dWevfJ" data-pf-type="Text">I</span><span class="pf-afae1bec sc-hGoxap dWevfJ" data-pf-type="Text"><div>f you are someone who has smoked, despite having asthma, then you might be looking to quit smoking. When looking into quit smoking methods you might consider patches, going cold turkey, hypnosis, gum or vaping. But can you <a href="https://vapeandjuice.co.uk/">vape</a> if you have asthma?<br></div></span></p></div> </div></div><div class="pf-3dfccc3c pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-e71383e3 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-e217fbca sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-d5f4e272 sc-hGoxap dWevfJ" data-pf-type="Text">What is vaping, is it safer than smoking?&nbsp;</span></h3></div> </div></div><div class="pf-96f69012 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-5467aed5 sc-cQFLBn efhDmd" data-pf-type="Column"><p class="pf-f567bd15 sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-56127652 sc-hGoxap dWevfJ" data-pf-type="Text"><a href="https://www.gov.uk/government/news/e-cigarettes-around-95-less-harmful-than-tobacco-estimates-landmark-review" target="_self">Public Health England </a>declared that vaping is 95% safer than smoking cigarettes. When you vape you inhale a vapour created from heated <br><a href="https://vapeandjuice.co.uk/collections/new-ejuices" target="_self">e-juice</a>. This is flavoured and can contain nicotine in various strengths which you select depending on how much you smoked. Vaping allows you to keep up the habit of smoking without the cancer causing chemicals found in tobacco. If you have asthma and smoke you may find that your symptoms worsen.</span></p><div class="pf-e7e4a703 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-307b6073 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-6cd81fe7 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-d8f90a89 sc-hGoxap dWevfJ" data-pf-type="Text">Can you vape if you have asthma?&nbsp;</span></h3><p class="pf-2a19e614 sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-8e8f9d61 sc-hGoxap dWevfJ" data-pf-type="Text">If you have tried other means of quitting smoking to no avail then you could consider vaping. However, you need to be aware that asthma can be sensitive to vaping, as well as environmental things including pollen and cold air. If vaping irritates your asthma then it is advisable to seek another way to quit smoking.<br><br>We have known asthmatics who have quit tobacco, moved onto e-cigarettes and managed to stop using their preventer and rarely use their inhaler. <br><br>We asked an asthmatic to share his experience of smoking and moving on to vaping, to eventually quitting both. Here is what he said about how smoking affected his asthma:<br><br>“Smoking made my asthma much worse. I got wheezy a lot sometimes just from walking around. Also I found when I got a cold I would get awful chesty coughs which also made me super wheezy with my asthma. Never had that again since quitting cigarettes. I was an idiot for smoking."<br><br>We then asked about vaping and whether that was better.<br><br>“I vaped for 4 years and it wasn’t so bad for aggravating my asthma symptoms but I never did the big lung filling, cloud chase vaping. I vaped like it was a fag with small throat hits. I did have a problem with menthol liquid which made me wheezy. My inhaler use dropped significantly compared to when I was smoking.”<br><br>We asked how his asthma management has been since quitting vaping.<br><br>“I’ve been off the vape 4 months now and my asthma management is about the same. Unfortunately though I still have symptoms but only when running or climbing 5 flights of stairs.”<br><br></span></p><h3 mode="view" class="pf-46bdfec0 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-2e3d6199 sc-hGoxap dWevfJ" data-pf-type="Text">Is passive vaping dangerous to those with asthma?</span></h3></div> </div></div><p class="pf-1a6630f3 sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-4a1bd4a7 sc-hGoxap dWevfJ" data-pf-type="Text">We know that second hand tobacco smoke can cause damage to the lungs of bystanders. For those with asthma it can potentially trigger an asthma attack. While Public Health England’s review 2018 found that there were no identified health risks of passive vaping, it could be possible that vapour may trigger asthma symptoms. However, it is a case by case basis, some people can tolerate it, whereas others cannot. Be courteous to those around you if you are vaping.<br><br>Asthma UK is calling on more research for the long-term effects of vaping to make sure that they are safe for asthmatics.&nbsp;<br></span></p></div> </div></div></div></div><div data-container="true" class="pf-b6b40d01 sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-ab6d3ac0 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-0fb425b9 sc-cQFLBn efhDmd" data-pf-type="Column"><div class="pf-7708932f pf-r pf-r-ew pf-r-ew--4 sc-jtggT jbmXZx" data-animation="pulse" data-pf-type="Shopify.Products">{% for product in collections['starter-kits'].products  limit:4 %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a class="product__thumbnail" href="{{ product.url }}" style="height: 200px; width: 100%;">{% if product.featured_image != blank %}<img src="{{ product.featured_image | img_url: '270x200', crop: 'center' , scale: 2 }}" alt="{{ product.featured_image.alt | escape }}" width="270" height="200">{% else %}<img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="270">{% endif %}</a><div class="product__info"><h3 class="product__info-title"><a href="{{ product.url }}" style="display: block;">{{product.title}}</a></h3><div class="product__info-price" style="color: black; font-size: 13px;">{%- assign compare_at_price = product.compare_at_price -%}
								{%- assign price = product.price -%}
								{%- assign price_varies = product.price_varies -%}
								{%- assign money_price = price | money -%}{% if compare_at_price > price %}<span class="product__regular-price">{{ money_price }}</span><s class="product__sale-price" style="color: rgb(208, 2, 27);">{{ compare_at_price | money }}</s>{% else %}{% if price_varies %}{{ product.price_min | money }} - {{ product.price_max | money }}{% else %}<span class="product__regular-price" style="color: black;">{{ money_price }}</span>{% endif %}{% endif %}</div><div class="product__button">{% if product.available %}{% if product.variants.size == 1 %}<a class="product__button" href="#" data-action="AddToCart" data-text="Add To Cart"><span data-variant="{{ product.variants.first.id }}">Add To Cart</span></a>{% else %}<a href="{{ product.url }}" class="product__button"><span>View Options</span></a>{% endif %}{% else %}<a href="javascript:void(0);" aria-disabled="true" class="product__button"><span>{{ 'pagefly.products.product.sold_out' | t }}</span></a>{% endif %}</div></div></div></div>{% else %}{% for i in (1..4) %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a href="javascript:void(0);" class="product__thumbnail" style="height: 200px; width: 100%;"><img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="270"></a><div class="product__info"><h3 class="product__info-title"><a href="javascript:void(0);" style="display: block;">Example product title</a></h3><div class="product__info-price" style="color: black; font-size: 13px;"><span class="product__regular-price">$99.00</span></div><div class="product__button"><a href="javascript:void(0);" class="product__button">Add To Cart</a></div></div></div></div>{% endfor %}{% endfor %}</div></div> </div></div></div></div><div data-container="true" class="pf-79756265 sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-236760a0 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-b712c939 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-bb590583 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-d69c2601 sc-hGoxap dWevfJ" data-pf-type="Text">Want 10% Off?<br></span></h3><p class="pf-ef1a86ef sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-aab6411e sc-hGoxap dWevfJ" data-pf-type="Text">We like to reward our blog readers with exclusive discounts! Get an extra 10% off your purchases today with this discount code!&nbsp;&nbsp;</span></p></div> </div></div><div class="pf-e0c890bb pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-67b89a37 sc-cQFLBn efhDmd" data-pf-type="Column"><p class="pf-e4970f48 sc-emmjRN kxBUTU" data-animation="tada" data-pf-type="Paragraph"><span class="pf-0f6ff688 sc-hGoxap dWevfJ" data-pf-type="Text">WELCOME10</span></p></div> </div></div></div></div></div></div></div><script>
					window.__pagefly_options__=window.__pagefly_options__||[],window.__pagefly_options__.push({});
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","isBackend":false};
					0;
				</script><script src="https://cdn.pagefly.io/pagefly/2.0.2/core/helper.js?t=2019-04-04-15" defer></script> </article>