<article itemscope itemtype="http://schema.org/Article"> <link rel="preload" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400"></noscript><link rel="preload" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></noscript><link rel="preload" href="https://cdn.pagefly.io/pagefly/2.0.2/css/animation-style.css?t=2019-03-25-12" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.0.2/css/animation-style.css?t=2019-03-25-12"></noscript><link rel="preload" href="https://cdn.pagefly.io/pagefly/2.0.2/css/main-style.css?t=2019-03-25-12" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.0.2/css/main-style.css?t=2019-03-25-12"></noscript><style>
					/* PageFly Element Styles */
					.IoliW__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.IoliW { padding: 15px 0px; position: relative; }
.IoliW .sc-eLExRp { position: relative; }
.IoliW[data-container="true"] .sc-eLExRp { padding: 0px 15px; width: 100%; margin: auto; }
.IoliW .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.iUdgQL { margin: 0px -15px; }
.efhDmd { position: relative; }
.efhDmd.pf-editor-col::before, .efhDmd.pf-editor-col::after { content: ""; display: block; position: absolute; top: 0px; bottom: 0px; width: 10px; }
.efhDmd.pf-editor-col::before { left: -10px; }
.efhDmd.pf-editor-col::after { right: -10px; }
.iORGHt { position: relative; }
.hCTnDy { margin: 0px 0px 15px; }
.hCTnDy > a { color: inherit !important; }
.hCTnDy > span { font-weight: inherit; text-decoration: inherit; }
.hCTnDy { word-break: break-word; }
.hCTnDy.pf-i--left i { margin-right: 0.3em; }
.hCTnDy.pf-i--right i { margin-left: 0.3em; }
.hCTnDy.pf-i--top i { margin-bottom: 0.5em; }
.hCTnDy.pf-i--top > span, .hCTnDy.pf-i--top > a { display: block; }
.hCTnDy.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.hCTnDy [class*="--diamond"] { margin-right: 1em; }
.dWevfJ { display: inline-block; }
.dWevfJ { vertical-align: baseline; word-break: break-word; }
.dWevfJ:focus { outline: none; }
.RLwIO { margin: 0px 0px 15px; }
.RLwIO > a { color: inherit !important; }
.RLwIO > span { font-weight: inherit; text-decoration: inherit; }
.RLwIO { word-break: break-word; }
.RLwIO.pf-i--left i { margin-right: 0.3em; }
.RLwIO.pf-i--right i { margin-left: 0.3em; }
.RLwIO.pf-i--top i { margin-bottom: 0.5em; }
.RLwIO.pf-i--top > span, .RLwIO.pf-i--top > a { display: block; }
.RLwIO.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.RLwIO [class*="--diamond"] { margin-right: 1em; }
.huQPUn { margin: 0px 0px 15px; }
.huQPUn > a { color: inherit !important; }
.huQPUn > span { font-weight: inherit; text-decoration: inherit; }
.huQPUn { word-break: break-word; }
.huQPUn.pf-i--left i { margin-right: 0.3em; }
.huQPUn.pf-i--right i { margin-left: 0.3em; }
.huQPUn.pf-i--top i { margin-bottom: 0.5em; }
.huQPUn.pf-i--top > span, .huQPUn.pf-i--top > a { display: block; }
.huQPUn.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.huQPUn [class*="--diamond"] { margin-right: 1em; }
.gFMjkE > span:last-child { line-height: inherit; display: block; }
.gFMjkE[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; color: rgb(0, 0, 0); width: 50px; height: 50px; line-height: 50px; font-size: 2em; background: rgb(145, 157, 169); }
.gFMjkE[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.gFMjkE.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.gFMjkE.dropcap--circle > span:first-child { border-radius: 100%; }
.gFMjkE:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.gFMjkE ol, .gFMjkE ul { list-style-position: inside; }
.gFMjkE blockquote { font-size: inherit; }
.kxBUTU > span:last-child { line-height: inherit; display: block; }
.kxBUTU[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.kxBUTU[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.kxBUTU.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.kxBUTU.dropcap--circle > span:first-child { border-radius: 100%; }
.kxBUTU:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.kxBUTU ol, .kxBUTU ul { list-style-position: inside; }
.kxBUTU blockquote { font-size: inherit; }
.iVqvQb { position: relative; overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; vertical-align: middle; max-width: 100%; }
.iVqvQb img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; position: unset; }
.leQzjv { display: inline-flex; vertical-align: middle; }
.leQzjv picture { width: 100%; }
.jbmXZx { margin: 0px -15px; }
.jbmXZx .pf__shopify-product { width: 100%; text-align: center; }
.jbmXZx .pf-c { padding: 15px; display: flex; }
.jbmXZx .product__thumbnail { display: -webkit-flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; overflow: hidden; max-width: 100%; position: relative; }
.jbmXZx .product__thumbnail img { vertical-align: middle; max-width: 100%; height: auto; }
.jbmXZx .product__thumbnail .pf-placeholder-svg { fill: rgb(166, 166, 166); background-color: rgb(245, 245, 245); width: 100%; max-width: 100%; max-height: 100%; border-radius: inherit; }
.jbmXZx .product__button > a { display: block; padding: 0px 20px; line-height: 36px; height: 36px; background: rgb(85, 193, 72); margin-top: 10px; color: rgb(255, 255, 255); text-align: center; text-decoration: none; }
.jbmXZx .product__button > a:hover { opacity: 0.7; color: rgb(255, 255, 255); }
.jbmXZx .product__info-price { margin-top: 10px; font-size: 13px; color: rgb(208, 2, 27); }
.jbmXZx .product__sale-price { margin-left: 10px; color: rgb(54, 54, 54); font-size: 0.8em; }
.jbmXZx .product__info-title { margin: 10px 0px 0px; font-size: 16px; font-weight: 500; line-height: 1.5; text-transform: none; font-family: inherit; color: rgb(45, 45, 45); }
.jbmXZx .product__info-title a { color: rgb(27, 28, 29); text-decoration: none; }
.jbmXZx .shopify__product-vertical, .jbmXZx .shopify__product-vertical .product__info { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-flow: column; }
.jbmXZx .shopify__product-vertical .product__info, .jbmXZx .shopify__product-vertical .product__info-title { flex: 1 0 auto; }
.jbmXZx .shopify__product-horizontal { display: -webkit-flex; }
.jbmXZx .shopify__product-horizontal .product__thumbnail { flex: 1 1 0%; height: auto !important; }
.jbmXZx .shopify__product-horizontal .product__info { text-align: left; flex: 3 1 0%; padding-left: 15px; }
.jbmXZx .shopify__product-horizontal .product__info-title { margin-top: 0px; }
.jbmXZx .shopify__product-horizontal .product__button > a { width: auto; display: inline-block; }
					/* PageFly Styles */
					
@media all {
	[data-pf-type="Block"].pf-26a174d8 {
		text-align: center;
	}
	[data-pf-type="Section"].pf-e257fbdb {
		padding: 100px 0px;
		 background-size: cover;
		 background-repeat: no-repeat;
		 background-position: 50% 0%;
		 margin-top: -25px;
		 background-image: url("https://media.pagefly.io/file/get/nicotine-level-to-vape-png-1537273544123.png");
	}
	[data-pf-type="Heading"].pf-644bd2e7 {
		text-align: center;
		 font-size: 60px;
		 color: black;
		 line-height: 2;
		 margin-bottom: 5px;
		 margin-top: 10px;
	}
	[data-pf-type="Heading"].pf-fae0d1c9 {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 36px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Text"].pf-3aa495c2 {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Paragraph"].pf-8e8f546f {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Heading"].pf-20acb05a {
		text-align: left;
		 margin-bottom: 0px;
		 font-size: 30px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Image"].pf-7d84786f {
		border-style: none;
		 border-width: 3px;
		 border-color: rgb(113, 127, 142);
		 width: 400px;
	}
	[data-pf-type="Paragraph"].pf-5576d4d8 {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Heading"].pf-9b053e68 {
		text-align: left;
		 margin-bottom: 0px;
		 font-size: 30px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Image"].pf-a0eb7b92 {
		border-style: none;
		 border-width: 3px;
		 border-color: rgb(113, 127, 142);
		 width: 400px;
	}
	[data-pf-type="Paragraph"].pf-1097a533 {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Heading"].pf-91e6f259 {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: center;
		 color: white;
	}
	[data-pf-type="Paragraph"].pf-a0105aeb {
		text-align: center;
		 font-size: 20px;
		 color: white;
		 font-weight: 700;
	}
	[data-pf-type="Paragraph"].pf-0b00041e {
		font-size: 36px;
		 color: white;
		 text-align: center;
		 font-weight: 700;
		 border-style: dashed;
	}
	[data-pf-type="Section"].pf-3278c93d {
		background-color: black;
	}
	[data-pf-type="Image"].pf-929aa339 {
		border-style: none;
		 border-width: 3px;
		 border-color: rgb(113, 127, 142);
		 width: 400px;
	}
	[data-pf-type="Paragraph"].pf-67e236c7 {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Heading"].pf-9bb8072c {
		text-align: left;
		 margin-bottom: 0px;
		 font-size: 30px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Image"].pf-30a3682f {
		border-style: none;
		 border-width: 3px;
		 border-color: rgb(113, 127, 142);
		 width: 400px;
	}
	[data-pf-type="Paragraph"].pf-d4f71077 {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Heading"].pf-48aa4105 {
		text-align: left;
		 margin-bottom: 0px;
		 font-size: 30px;
		 font-weight: 700;
		 margin-top: 0px;
	}
}
					/*PageFlyCustomCSS*/
				</style><script src="https://cdnjs.cloudflare.com/ajax/libs/loadCSS/2.0.1/cssrelpreload.min.js" async></script><link rel="stylesheet" href="{{ 'pagefly.b8a2648e.scss.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div class="pf-8ec4b6e3 sc-kTUwUJ ljwnSF" data-pf-type="Body"><div class="pf-abf3ac6d sc-GMQeP jXMCGy" data-pf-type="Layout"><div data-container="true" class="pf-e257fbdb sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-20b18851 pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-5bed419f sc-cQFLBn efhDmd" data-pf-type="Column"><div class="pf-26a174d8 sc-jtRfpW iORGHt" data-pf-type="Block"></div></div> </div></div></div></div><div data-container="true" class="pf-83ab6628 sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-a3a52993 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-d85f1518 sc-cQFLBn efhDmd" data-pf-type="Column"><h1 mode="view" class="pf-644bd2e7 sc-iQKALj hCTnDy" data-pf-type="Heading"><span class="pf-cd47ba73 sc-hGoxap dWevfJ" data-pf-type="Text">&nbsp;Tips for Traveling with your Vape &nbsp;<br></span></h1><h2 mode="view" class="pf-fae0d1c9 sc-RefOD RLwIO" data-pf-type="Heading"><span class="pf-1aa5f026 sc-hGoxap dWevfJ" data-pf-type="Text">Heading off on holiday? Read our traveling vaper tips<br></span></h2></div> </div></div><div class="pf-65cb4fb6 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-155bed4b sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-abc2db56 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-e19ae321 sc-hGoxap dWevfJ" data-pf-type="Text">Becky Spencer-Davies, 25/03/2019&nbsp;</span></h3></div> </div></div><div class="pf-badf57b1 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-fa3bdc8c sc-cQFLBn efhDmd" data-pf-type="Column"><p class="pf-8e8f546f dropcap--none sc-emmjRN gFMjkE" data-pf-type="Paragraph"><span class="pf-3aa495c2 sc-hGoxap dWevfJ" data-pf-type="Text">S</span><span class="pf-a9c28500 sc-hGoxap dWevfJ" data-pf-type="Text">ummer is approaching fast and no doubt you’ve got a couple of trips away planned. Whether you are off abroad or planning a staycation, you need to know a few top tips for travelling with your vape. This will ensure that you have a hassle free and smoke free holiday.</span></p></div> </div></div><div class="pf-48f350a9 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-d69abdee sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-20acb05a sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-6ae691fe sc-hGoxap dWevfJ" data-pf-type="Text">Check your destination</span></h3><div class="pf-e0731ef5 pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--4" style="padding: 15px;"><div class="pf-0de12056 sc-cQFLBn efhDmd" data-pf-type="Column"><picture class="pf-7d84786f sc-bMVAic iVqvQb" data-pf-type="Image"><img src="https://cdn.shopify.com/s/files/1/0290/5629/t/62/assets/can-you-travel-with-your-vape.png?9842" alt="CBD oil for anxiety"></picture></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--8" style="padding: 15px;"><div class="pf-68887e59 sc-cQFLBn efhDmd" data-pf-type="Column"><p class="pf-5576d4d8 sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-55a48878 sc-hGoxap dWevfJ" data-pf-type="Text">Before you travel check that vaping is not banned in any way and that you can take it into the country. If it isn't banned then make sure you read up the specific rules that the country might have - for example no vaping in public spaces. <br><br>We’ve all heard that horror story of our mates mate getting everything confiscated at the airport. Check you know where you can and can’t vape before you travel to avoid losing your kit or getting a hefty fine.<br><br>&nbsp;&nbsp;<br>
</span></p></div> </div></div><h3 mode="view" class="pf-48aa4105 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-7dd7dcd0 sc-hGoxap dWevfJ" data-pf-type="Text">Stock up on what you need</span></h3><div class="pf-c45c1213 pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--4" style="padding: 15px;"><div class="pf-5f30cf9c sc-cQFLBn efhDmd" data-pf-type="Column"><a href="https://vapeandjuice.co.uk/collections/coils/products/smok-v8-baby-x4-coils" target="_self" class="pf-a0eb7b92 sc-bAeIUo leQzjv" data-pf-type="Image"><picture class="sc-bMVAic iVqvQb"><img src="https://cdn.shopify.com/s/files/1/0290/5629/t/62/assets/travelwithyourvapetips.jpg?9807" alt="CBD oil for anxiety"></picture></a></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--8" style="padding: 15px;"><div class="pf-3afec285 sc-cQFLBn efhDmd" data-pf-type="Column"><p class="pf-1097a533 sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-cdaea255 sc-hGoxap dWevfJ" data-pf-type="Text">&nbsp;Now you know you can take your vape on holiday, you need to pack. <br><br>While lots of places these days have vape shops you can’t expect them to be everywhere. Vaping is still up and coming in many countries.<br><br> Be prepared with enough juice and coils to last you. We always advise to take more than you think you will need. No doubt you’ll be vaping more on holiday and getting through more than usual.<div><br></div></span></p></div> </div></div><h3 mode="view" class="pf-9b053e68 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-6cf4b30f sc-hGoxap dWevfJ" data-pf-type="Text">Pack right for traveling with your vape</span></h3></div> </div></div><div class="pf-5a0dfd89 pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--4" style="padding: 15px;"><div class="pf-c5aff242 sc-cQFLBn efhDmd" data-pf-type="Column"><a href="https://vapeandjuice.co.uk/collections/newest-products/products/smok-brit-mini-flavor-tank" target="_self" class="pf-929aa339 sc-bAeIUo leQzjv" data-pf-type="Image"><picture class="sc-bMVAic iVqvQb"><img src="https://cdn.shopify.com/s/files/1/0290/5629/t/62/assets/travel-tips-vaping.jpg?9855" alt="CBD oil for anxiety"></picture></a></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--8" style="padding: 15px;"><div class="pf-a1d6fbf9 sc-cQFLBn efhDmd" data-pf-type="Column"><p class="pf-67e236c7 sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-d198d541 sc-hGoxap dWevfJ" data-pf-type="Text"><div>When traveling with your vape you need to pack it right. Be sure to keep your liquids in your carry on in a plastic bag, like you do with your shampoo. <br><br>You may be asked to demonstrate what the kit is, so don’t allow the battery to be flat incase. On a plane you need to have your device off, and if batteries can be removed then remove them. Keep the batteries in a battery case on the plane.</div><div><br>&nbsp;&nbsp;<br>
</div></span></p></div> </div></div><div class="pf-1c39d1ee pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-9792509c sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-9bb8072c sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-875a2392 sc-hGoxap dWevfJ" data-pf-type="Text">Empty the tank</span></h3><div class="pf-3dc2fbe9 pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--4" style="padding: 15px;"><div class="pf-e87753ce sc-cQFLBn efhDmd" data-pf-type="Column"><picture class="pf-30a3682f sc-bMVAic iVqvQb" data-pf-type="Image"><img src="https://cdn.shopify.com/s/files/1/0290/5629/t/62/assets/travel-with-vape-kit.png?9849" alt="CBD oil for anxiety"></picture></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--8" style="padding: 15px;"><div class="pf-79c70a81 sc-cQFLBn efhDmd" data-pf-type="Column"><p class="pf-d4f71077 sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-fb12ffee sc-hGoxap dWevfJ" data-pf-type="Text">&nbsp;If you are traveling on a plane empty the tank before you travel. The air pressure in the cabin can cause some horrible leakages. Not only is this a waste of juice it is a right mess. <br><br>Even if you are on a train or in a car, you might want to consider emptying the tank to avoid leaks.<br><br><div>Lastly, follow the rules. Don’t vape on the plane or on a train where it is banned. You can end up with a fine and cause distress to other passengers. Keep it out of the way so you are not tempted to stealth vape!<br><br>Stock up on all of your vaping essentials before your holiday at <a href="https://burrelleducation.customerhub.net/session/new" target="_self">Vape and Juice</a>.</div><div><br><div><br></div></div></span></p></div> </div></div></div> </div></div></div></div><div data-container="true" class="pf-d610a497 sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-e0ae2a17 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-42ce59ea sc-cQFLBn efhDmd" data-pf-type="Column"><div class="pf-4201b7d3 pf-r pf-r-ew pf-r-ew--4 sc-jtggT jbmXZx" data-pf-type="Shopify.Products">{% for product in collections['cbd-shop'].products  limit:4 %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a class="product__thumbnail" href="{{ product.url }}" style="height: 200px; width: 100%;">{% if product.featured_image != blank %}<img src="{{ product.featured_image | img_url: '270x200', crop: 'center' , scale: 2 }}" alt="{{ product.featured_image.alt | escape }}" width="270" height="200">{% else %}<img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="270">{% endif %}</a><div class="product__info"><h3 class="product__info-title"><a href="{{ product.url }}" style="display: block;">{{product.title}}</a></h3><div class="product__info-price" style="color: rgb(208, 2, 27); font-size: 13px;">{%- assign compare_at_price = product.compare_at_price -%}
								{%- assign price = product.price -%}
								{%- assign price_varies = product.price_varies -%}
								{%- assign money_price = price | money -%}{% if compare_at_price > price %}<span class="product__regular-price">{{ money_price }}</span><s class="product__sale-price" style="color: rgb(54, 54, 54);">{{ compare_at_price | money }}</s>{% else %}{% if price_varies %}{{ product.price_min | money }} - {{ product.price_max | money }}{% else %}<span class="product__regular-price" style="color: rgb(208, 2, 27);">{{ money_price }}</span>{% endif %}{% endif %}</div><div class="product__button">{% if product.available %}{% if product.variants.size == 1 %}<a class="product__button" href="#" data-action="AddToCart" data-text="Add To Cart"><span data-variant="{{ product.variants.first.id }}">Add To Cart</span></a>{% else %}<a href="{{ product.url }}" class="product__button"><span>View Options</span></a>{% endif %}{% else %}<a href="javascript:void(0);" aria-disabled="true" class="product__button"><span>{{ 'pagefly.products.product.sold_out' | t }}</span></a>{% endif %}</div></div></div></div>{% else %}{% for i in (1..4) %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a href="javascript:void(0);" class="product__thumbnail" style="height: 200px; width: 100%;"><img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="270"></a><div class="product__info"><h3 class="product__info-title"><a href="javascript:void(0);" style="display: block;">Example product title</a></h3><div class="product__info-price" style="color: rgb(208, 2, 27); font-size: 13px;"><span class="product__regular-price">$99.00</span></div><div class="product__button"><a href="javascript:void(0);" class="product__button">Add To Cart</a></div></div></div></div>{% endfor %}{% endfor %}</div></div> </div></div></div></div><div data-container="true" class="pf-3278c93d sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-16b70956 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-bd7e7024 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-91e6f259 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-c075f23c sc-hGoxap dWevfJ" data-pf-type="Text">Want 10% Off?<br></span></h3><p class="pf-a0105aeb sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-725c9a02 sc-hGoxap dWevfJ" data-pf-type="Text">We like to reward our blog readers with exclusive discounts! Get an extra 10% off your purchases today with this discount code!&nbsp;&nbsp;</span></p></div> </div></div><div class="pf-f1135f3f pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-8fd50273 sc-cQFLBn efhDmd" data-pf-type="Column"><p class="pf-0b00041e sc-emmjRN kxBUTU" data-animation="tada" data-pf-type="Paragraph"><span class="pf-c40fb99d sc-hGoxap dWevfJ" data-pf-type="Text">WELCOME10</span></p></div> </div></div></div></div></div></div></div><script>
					window.__pagefly_options__=window.__pagefly_options__||[],window.__pagefly_options__.push({});
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","isBackend":false};
					0;
				</script><script src="https://cdn.pagefly.io/pagefly/2.0.2/core/helper.js?t=2019-03-25-12" defer></script> </article>