<article itemscope itemtype="http://schema.org/Article"> <link rel="preload" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400"></noscript><link rel="preload" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></noscript><link rel="preload" href="https://cdn.pagefly.io/pagefly/2.0.1/css/animation-style.css?t=2019-03-04-17" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.0.1/css/animation-style.css?t=2019-03-04-17"></noscript><link rel="preload" href="https://cdn.pagefly.io/pagefly/2.0.1/css/main-style.css?t=2019-03-04-17" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.0.1/css/main-style.css?t=2019-03-04-17"></noscript><style>
					/* PageFly Element Styles */
					.dwTIAb__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.dwTIAb { padding: 15px 0px; position: relative; }
.dwTIAb .sc-dymIpo { position: relative; }
.dwTIAb[data-container="true"] .sc-dymIpo { padding: 0px 15px; width: 100%; margin: auto; }
.dwTIAb .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.krxlvo { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; overflow: hidden; }
.iTCmS { position: relative; }
.hrEkYi { margin-top: 17.5px; margin-bottom: 15px; }
.hrEkYi > a { color: inherit !important; }
.hrEkYi > span { font-weight: inherit; text-decoration: inherit; }
.hrEkYi { word-break: break-word; }
.hrEkYi.pf-i--left i { margin-right: 0.3em; }
.hrEkYi.pf-i--right i { margin-left: 0.3em; }
.hrEkYi.pf-i--top i { margin-bottom: 0.5em; }
.hrEkYi.pf-i--top > span, .hrEkYi.pf-i--top > a { display: block; }
.hrEkYi.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.hrEkYi [class*="--diamond"] { margin-right: 1em; }
.iavTDB { display: inline-block; }
.iavTDB { vertical-align: baseline; word-break: break-word; }
.iavTDB:focus { outline: none; }
.bDNiBy { margin-top: 17.5px; margin-bottom: 15px; }
.bDNiBy > a { color: inherit !important; }
.bDNiBy > span { font-weight: inherit; text-decoration: inherit; }
.bDNiBy { word-break: break-word; }
.bDNiBy.pf-i--left i { margin-right: 0.3em; }
.bDNiBy.pf-i--right i { margin-left: 0.3em; }
.bDNiBy.pf-i--top i { margin-bottom: 0.5em; }
.bDNiBy.pf-i--top > span, .bDNiBy.pf-i--top > a { display: block; }
.bDNiBy.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.bDNiBy [class*="--diamond"] { margin-right: 1em; }
.hIuBaq { margin-top: 17.5px; margin-bottom: 15px; }
.hIuBaq > a { color: inherit !important; }
.hIuBaq > span { font-weight: inherit; text-decoration: inherit; }
.hIuBaq { word-break: break-word; }
.hIuBaq.pf-i--left i { margin-right: 0.3em; }
.hIuBaq.pf-i--right i { margin-left: 0.3em; }
.hIuBaq.pf-i--top i { margin-bottom: 0.5em; }
.hIuBaq.pf-i--top > span, .hIuBaq.pf-i--top > a { display: block; }
.hIuBaq.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.hIuBaq [class*="--diamond"] { margin-right: 1em; }
.kTdcTt > span:last-child { line-height: inherit; display: block; }
.kTdcTt[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; color: rgb(0, 0, 0); width: 50px; height: 50px; line-height: 50px; font-size: 2em; background: rgb(145, 157, 169); }
.kTdcTt[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.kTdcTt.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.kTdcTt.dropcap--circle > span:first-child { border-radius: 100%; }
.kTdcTt:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.kTdcTt ol, .kTdcTt ul { list-style-position: inside; }
.kTdcTt blockquote { font-size: inherit; }
.fRnTAR > span:last-child { line-height: inherit; display: block; }
.fRnTAR[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.fRnTAR[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.fRnTAR.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.fRnTAR.dropcap--circle > span:first-child { border-radius: 100%; }
.fRnTAR:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.fRnTAR ol, .fRnTAR ul { list-style-position: inside; }
.fRnTAR blockquote { font-size: inherit; }
.henXsE { position: relative; overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; vertical-align: middle; max-width: 100%; }
.henXsE img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; position: unset; }
.gxVtiD { margin: 0px -15px; }
.gxVtiD .pf__shopify-product { width: 100%; text-align: center; }
.gxVtiD .pf-c { padding: 15px; display: flex; }
.gxVtiD .product__thumbnail { display: -webkit-flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; overflow: hidden; max-width: 100%; position: relative; }
.gxVtiD .product__thumbnail img { vertical-align: middle; max-width: 100%; height: auto; }
.gxVtiD .product__thumbnail .pf-placeholder-svg { fill: rgb(166, 166, 166); background-color: rgb(245, 245, 245); width: 100%; max-width: 100%; max-height: 100%; border-radius: inherit; }
.gxVtiD .product__button > a { display: block; padding: 0px 20px; line-height: 36px; height: 36px; background: rgb(85, 193, 72); margin-top: 10px; color: rgb(255, 255, 255); text-align: center; text-decoration: none; }
.gxVtiD .product__button > a:hover { opacity: 0.7; color: rgb(255, 255, 255); }
.gxVtiD .product__info-price { margin-top: 10px; font-size: 13px; color: rgb(208, 2, 27); }
.gxVtiD .product__sale-price { margin-left: 10px; color: rgb(54, 54, 54); font-size: 0.8em; }
.gxVtiD .product__info-title { margin: 10px 0px 0px; font-size: 16px; font-weight: 500; line-height: 1.5; text-transform: none; font-family: inherit; color: rgb(45, 45, 45); }
.gxVtiD .product__info-title a { color: rgb(27, 28, 29); text-decoration: none; }
.gxVtiD .shopify__product-vertical, .gxVtiD .shopify__product-vertical .product__info { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-flow: column; }
.gxVtiD .shopify__product-vertical .product__info, .gxVtiD .shopify__product-vertical .product__info-title { flex: 1 0 auto; }
.gxVtiD .shopify__product-horizontal { display: -webkit-flex; }
.gxVtiD .shopify__product-horizontal .product__thumbnail { flex: 1 1 0%; height: auto !important; }
.gxVtiD .shopify__product-horizontal .product__info { text-align: left; flex: 3 1 0%; padding-left: 15px; }
.gxVtiD .shopify__product-horizontal .product__info-title { margin-top: 0px; }
.gxVtiD .shopify__product-horizontal .product__button > a { width: auto; display: inline-block; }
					/* PageFly Styles */
					
@media all {
	[data-pf-type="Block"].pf-ba43601d {
		text-align: center;
	}
	[data-pf-type="Section"].pf-b1932661 {
		padding: 100px 0px;
		 background-size: cover;
		 background-repeat: no-repeat;
		 background-position: 50% 0%;
		 margin-top: -25px;
		 background-image: url("https://media.pagefly.io/file/get/nicotine-level-to-vape-png-1537273544123.png");
	}
	[data-pf-type="Heading"].pf-952c9242 {
		text-align: center;
		 font-size: 60px;
		 color: black;
		 line-height: 2;
		 margin-bottom: 5px;
		 margin-top: 10px;
	}
	[data-pf-type="Heading"].pf-c5a2080e {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 36px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Text"].pf-4af39d34 {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Paragraph"].pf-29ac09e8 {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Heading"].pf-af070339 {
		text-align: left;
		 margin-bottom: 0px;
		 font-size: 30px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Image"].pf-322ec161 {
		border-style: solid;
		 border-width: 3px;
		 border-color: rgb(113, 127, 142);
		 width: 400px;
	}
	[data-pf-type="Paragraph"].pf-5c36c7e2 {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Heading"].pf-a8b854dc {
		text-align: left;
		 margin-bottom: 0px;
		 font-size: 30px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Paragraph"].pf-8ecd0d96 {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Heading"].pf-b62ef8df {
		text-align: left;
		 margin-bottom: 0px;
		 font-size: 30px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Paragraph"].pf-de1db02d {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Heading"].pf-217b46ee {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: center;
		 color: white;
	}
	[data-pf-type="Paragraph"].pf-126c8f55 {
		text-align: center;
		 font-size: 20px;
		 color: white;
		 font-weight: 700;
	}
	[data-pf-type="Paragraph"].pf-fffa860e {
		font-size: 36px;
		 color: white;
		 text-align: center;
		 font-weight: 700;
		 border-style: dashed;
	}
	[data-pf-type="Section"].pf-cae02715 {
		background-color: black;
	}
}
					/*PageFlyCustomCSS*/
				</style><script src="https://cdnjs.cloudflare.com/ajax/libs/loadCSS/2.0.1/cssrelpreload.min.js" async></script><link rel="stylesheet" href="{{ 'pagefly.5de72f03.scss.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div class="pf-2a400a71 sc-cmTdod kHxQNt" data-pf-type="Body"><div class="pf-a268083d sc-esOvli bMqLzo" data-pf-type="Layout"><div data-container="true" class="pf-b1932661 sc-bnXvFD dwTIAb" data-pf-type="Section"><div class="sc-cpmLhU krxlvo" style="background-color: rgba(0, 0, 0, 0);"></div><div class="sc-dymIpo kdtjOQ" style="max-width: 1170px;"><div class="pf-cc56962d pf-r pf-r-eh sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-47c2741f sc-gHboQg eLpzfs" data-pf-type="Column"><div class="pf-ba43601d sc-iELTvK iTCmS" data-pf-type="Block"></div></div> </div></div></div></div><div data-container="true" class="pf-389e5fde sc-bnXvFD dwTIAb" data-pf-type="Section"><div class="sc-cpmLhU krxlvo" style="background-color: rgba(0, 0, 0, 0);"></div><div class="sc-dymIpo kdtjOQ" style="max-width: 1170px;"><div class="pf-d126c4de pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-7d9a00d7 sc-gHboQg eLpzfs" data-pf-type="Column"><h1 mode="view" class="pf-952c9242 sc-iyvyFf hrEkYi" data-pf-type="Heading"><span class="pf-254fe57e sc-eLExRp iavTDB" data-pf-type="Text">Can I Vape Shatter Weed</span></h1><h2 mode="view" class="pf-c5a2080e sc-gzOgki bDNiBy" data-pf-type="Heading"><span class="pf-2a202590 sc-eLExRp iavTDB" data-pf-type="Text">Are you able to vape shatter weed?</span></h2></div> </div></div><div class="pf-8d64d403 pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-12543fed sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" class="pf-dbbe62c9 sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-4122d95e sc-eLExRp iavTDB" data-pf-type="Text">Becky Spencer-Davies, 25/11/2018&nbsp;</span></h3></div> </div></div><div class="pf-e0dd0480 pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-3f6a8fea sc-gHboQg eLpzfs" data-pf-type="Column"><p class="pf-29ac09e8 dropcap--none sc-bAeIUo kTdcTt" data-pf-type="Paragraph"><span class="pf-4af39d34 sc-eLExRp iavTDB" data-pf-type="Text">T</span><span class="pf-9ec3a71c sc-eLExRp iavTDB" data-pf-type="Text">here are lots of products on the market which allow you to vape shatter and wax, which are cannabis concentrates, also known as dabs. The ways of doing so depend on personal preferences, and what you want to achieve from vaping shatter.&nbsp;<br><br>The short answer to “can I vape shatter” is yes, you can.<br><br></span></p><h3 mode="view" class="pf-af070339 sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-813a3734 sc-eLExRp iavTDB" data-pf-type="Text">Why would you use a vaporizer to vape shatter?<br></span></h3></div> </div></div><div class="pf-ca8b1aef pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-03adba1f sc-gHboQg eLpzfs" data-pf-type="Column"><div class="pf-821170db pf-r pf-r-eh sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--4 pf-c-xs--12 pf-c-sm--12 pf-c-md--6" style="padding: 15px;"><div class="pf-64f30868 sc-gHboQg eLpzfs" data-pf-type="Column"><picture class="pf-322ec161 sc-cMhqgX henXsE" data-pf-type="Image"><img src="https://media.pagefly.io/file/get/what-is-shatter-weed-cbd-dispensary-png-1542880065384.png"></picture></div> </div><div class="pf-c pf-c-lg--8 pf-c-xs--12 pf-c-sm--12 pf-c-md--6" style="padding: 15px;"><div class="pf-8ac98c62 sc-gHboQg eLpzfs" data-pf-type="Column"><p class="pf-5c36c7e2 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-fd7857fc sc-eLExRp iavTDB" data-pf-type="Text">Just a single gram of shatter or wax goes a long way, containing several doses. <br><br>Using a vaporiser to inhale your concentrate gives you control over heat settings to ensure you get good flavour and activate the content of the cannabinoid. <br><br>Another reason why people choose to vape shatter is the fact that vape devices are discrete, affordable and portable.<br><br>While you can vape shatter, it is slightly harder to work with. This is due to the texture being solid, in the form of setting caramel, and can be slightly sticky. <br><br>You can vape shatter in the new Athena kits, exculsive to Vape and Juice.&nbsp;
</span></p></div> </div></div></div> </div></div><div class="pf-07e6d625 pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-a80e4a51 sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" class="pf-a8b854dc sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-1428b048 sc-eLExRp iavTDB" data-pf-type="Text">A few things to think about before you purchase your next device now you know you can vape shatter.</span></h3><div class="pf-0b04b539 pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-b1613ce6 sc-gHboQg eLpzfs" data-pf-type="Column"><p class="pf-8ecd0d96 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-b81e552d sc-eLExRp iavTDB" data-pf-type="Text">Firstly, you will want to know which kind of vaporizer you need. There are e-nails and vape pens best suited for vaping shatter and other concentrates. If you are a beginner then you might want to look into a vape pen as these are simple to use. If you are a pro, or love a bit of tech, then try the e-nail.&nbsp;<br><br>Next, you will need to consider your coil and which one will suit you and your needs. The ceramic coil will support your high temperatures, last a long time and takes a little longer to heat up- this keeps the flavour of your shatter in tact. Then there is the Quartz coil. This one heats up super fast and delivers on vapor, great for deep hits!</span></p><h3 mode="view" class="pf-b62ef8df sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-86c2be7d sc-eLExRp iavTDB" data-pf-type="Text">Can you vape shatter indoors?</span></h3><p class="pf-de1db02d sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-93b54b66 sc-eLExRp iavTDB" data-pf-type="Text">Just on a final note, you can vape shatter where you like, to an extent- as long as it is safe and legal to do so. You will probably be best vaping shatter away from public spaces such as bars, shops and restaurants and where smoking is banned.&nbsp;&nbsp;</span></p></div> </div></div></div> </div></div></div></div><div data-container="true" class="pf-2f99bc61 sc-bnXvFD dwTIAb" data-pf-type="Section"><div class="sc-cpmLhU krxlvo" style="background-color: rgba(0, 0, 0, 0);"></div><div class="sc-dymIpo kdtjOQ" style="max-width: 1170px;"><div class="pf-7e05ecfe pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-1b7c6298 sc-gHboQg eLpzfs" data-pf-type="Column"><div class="pf-6171ddcb pf-r pf-r-ew pf-r-ew--3 sc-iqzUVk gxVtiD" data-pf-type="Shopify.Products">{% for product in collections['dry-herb-vape-kits'].products  limit:3 %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a class="product__thumbnail" href="{{ product.url }}" style="height: 200px; width: 100%;">{% if product.featured_image != blank %}<img src="{{ product.featured_image | img_url: '270x200', crop: 'center' , scale: 2 }}" alt="{{ product.featured_image.alt | escape }}" width="270" height="200">{% else %}<img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="270">{% endif %}</a><div class="product__info"><h3 class="product__info-title"><a href="{{ product.url }}" style="display: block;">{{product.title}}</a></h3><div class="product__info-price" style="color: rgb(208, 2, 27); font-size: 13px;">{%- assign compare_at_price = product.compare_at_price -%}
								{%- assign price = product.price -%}
								{%- assign price_varies = product.price_varies -%}
								{%- assign money_price = price | money -%}{% if compare_at_price > price %}<span class="product__regular-price">{{ money_price }}</span><s class="product__sale-price" style="color: rgb(54, 54, 54);">{{ compare_at_price | money }}</s>{% else %}{% if price_varies %}{{ product.price_min | money }} - {{ product.price_max | money }}{% else %}<span class="product__regular-price" style="color: rgb(208, 2, 27);">{{ money_price }}</span>{% endif %}{% endif %}</div><div class="product__button">{% if product.available %}{% if product.variants.size == 1 %}<a class="product__button" href="#" data-action="AddToCart" data-text="Add To Cart"><span data-variant="{{ product.variants.first.id }}">Add To Cart</span></a>{% else %}<a href="{{ product.url }}" class="product__button"><span>View Options</span></a>{% endif %}{% else %}<a href="javascript:void(0);" aria-disabled="true" class="product__button"><span>{{ 'pagefly.products.product.sold_out' | t }}</span></a>{% endif %}</div></div></div></div>{% else %}{% for i in (1..3) %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a href="javascript:void(0);" class="product__thumbnail" style="height: 200px; width: 100%;"><img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="270"></a><div class="product__info"><h3 class="product__info-title"><a href="javascript:void(0);" style="display: block;">Example product title</a></h3><div class="product__info-price" style="color: rgb(208, 2, 27); font-size: 13px;"><span class="product__regular-price">$99.00</span></div><div class="product__button"><a href="javascript:void(0);" class="product__button">Add To Cart</a></div></div></div></div>{% endfor %}{% endfor %}</div></div> </div></div></div></div><div data-container="true" class="pf-cae02715 sc-bnXvFD dwTIAb" data-pf-type="Section"><div class="sc-cpmLhU krxlvo" style="background-color: rgba(0, 0, 0, 0);"></div><div class="sc-dymIpo kdtjOQ" style="max-width: 1170px;"><div class="pf-590ae963 pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-71b2f2b1 sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" class="pf-217b46ee sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-0ea00b91 sc-eLExRp iavTDB" data-pf-type="Text">Want 10% Off?<br></span></h3><p class="pf-126c8f55 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-b5c429b8 sc-eLExRp iavTDB" data-pf-type="Text">We like to reward our blog readers with exclusive discounts! Get an extra 10% off your purchases today with this discount code!&nbsp;&nbsp;</span></p></div> </div></div><div class="pf-12fbe50d pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-f6b88048 sc-gHboQg eLpzfs" data-pf-type="Column"><p class="pf-fffa860e sc-bAeIUo fRnTAR" data-animation="tada" data-pf-type="Paragraph"><span class="pf-d2c58bf9 sc-eLExRp iavTDB" data-pf-type="Text">WELCOME10</span></p></div> </div></div></div></div></div></div></div><script>
					window.__pagefly_options__=window.__pagefly_options__||[],window.__pagefly_options__.push({});
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","isBackend":false};
					0;
				</script><script src="https://cdn.pagefly.io/pagefly/2.0.1/core/helper.js?t=2019-03-04-17"></script> {% include 'pagefly-article-tags' %}{% include 'pagefly-comment-form' %}</article>