<article itemscope itemtype="http://schema.org/Article"> <link rel="preload" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400"></noscript><link rel="preload" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></noscript><link rel="preload" href="https://cdn.pagefly.io/pagefly/2.0.2/css/animation-style.css?t=2019-04-11-10" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.0.2/css/animation-style.css?t=2019-04-11-10"></noscript><link rel="preload" href="https://cdn.pagefly.io/pagefly/2.0.2/css/main-style.css?t=2019-04-11-10" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.0.2/css/main-style.css?t=2019-04-11-10"></noscript><style>
					/* PageFly Element Styles */
					.IoliW__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.IoliW { padding: 15px 0px; position: relative; }
.IoliW .sc-eLExRp { position: relative; }
.IoliW[data-container="true"] .sc-eLExRp { padding: 0px 15px; width: 100%; margin: auto; }
.IoliW .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.iUdgQL { margin: 0px -15px; }
.efhDmd { position: relative; }
.efhDmd.pf-editor-col::before, .efhDmd.pf-editor-col::after { content: ""; display: block; position: absolute; top: 0px; bottom: 0px; width: 10px; }
.efhDmd.pf-editor-col::before { left: -10px; }
.efhDmd.pf-editor-col::after { right: -10px; }
.iORGHt { position: relative; }
.hCTnDy { margin: 0px 0px 15px; }
.hCTnDy > a { color: inherit !important; }
.hCTnDy > span { font-weight: inherit; text-decoration: inherit; }
.hCTnDy { word-break: break-word; }
.hCTnDy.pf-i--left i { margin-right: 0.3em; }
.hCTnDy.pf-i--right i { margin-left: 0.3em; }
.hCTnDy.pf-i--top i { margin-bottom: 0.5em; }
.hCTnDy.pf-i--top > span, .hCTnDy.pf-i--top > a { display: block; }
.hCTnDy.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.hCTnDy [class*="--diamond"] { margin-right: 1em; }
.dWevfJ { display: inline-block; }
.dWevfJ { vertical-align: baseline; word-break: break-word; }
.dWevfJ:focus { outline: none; }
.RLwIO { margin: 0px 0px 15px; }
.RLwIO > a { color: inherit !important; }
.RLwIO > span { font-weight: inherit; text-decoration: inherit; }
.RLwIO { word-break: break-word; }
.RLwIO.pf-i--left i { margin-right: 0.3em; }
.RLwIO.pf-i--right i { margin-left: 0.3em; }
.RLwIO.pf-i--top i { margin-bottom: 0.5em; }
.RLwIO.pf-i--top > span, .RLwIO.pf-i--top > a { display: block; }
.RLwIO.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.RLwIO [class*="--diamond"] { margin-right: 1em; }
.huQPUn { margin: 0px 0px 15px; }
.huQPUn > a { color: inherit !important; }
.huQPUn > span { font-weight: inherit; text-decoration: inherit; }
.huQPUn { word-break: break-word; }
.huQPUn.pf-i--left i { margin-right: 0.3em; }
.huQPUn.pf-i--right i { margin-left: 0.3em; }
.huQPUn.pf-i--top i { margin-bottom: 0.5em; }
.huQPUn.pf-i--top > span, .huQPUn.pf-i--top > a { display: block; }
.huQPUn.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.huQPUn [class*="--diamond"] { margin-right: 1em; }
.gFMjkE > span:last-child { line-height: inherit; display: block; }
.gFMjkE[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; color: rgb(0, 0, 0); width: 50px; height: 50px; line-height: 50px; font-size: 2em; background: rgb(145, 157, 169); }
.gFMjkE[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.gFMjkE.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.gFMjkE.dropcap--circle > span:first-child { border-radius: 100%; }
.gFMjkE:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.gFMjkE ol, .gFMjkE ul { list-style-position: inside; }
.gFMjkE blockquote { font-size: inherit; }
.kxBUTU > span:last-child { line-height: inherit; display: block; }
.kxBUTU[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.kxBUTU[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.kxBUTU.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.kxBUTU.dropcap--circle > span:first-child { border-radius: 100%; }
.kxBUTU:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.kxBUTU ol, .kxBUTU ul { list-style-position: inside; }
.kxBUTU blockquote { font-size: inherit; }
.jbmXZx { margin: 0px -15px; }
.jbmXZx .pf__shopify-product { width: 100%; text-align: center; }
.jbmXZx .pf-c { padding: 15px; display: flex; }
.jbmXZx .product__thumbnail { display: -webkit-flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; overflow: hidden; max-width: 100%; position: relative; }
.jbmXZx .product__thumbnail img { vertical-align: middle; max-width: 100%; height: auto; }
.jbmXZx .product__thumbnail .pf-placeholder-svg { fill: rgb(166, 166, 166); background-color: rgb(245, 245, 245); width: 100%; max-width: 100%; max-height: 100%; border-radius: inherit; }
.jbmXZx .product__button > a { display: block; padding: 0px 20px; line-height: 36px; height: 36px; background: rgb(85, 193, 72); margin-top: 10px; color: rgb(255, 255, 255); text-align: center; text-decoration: none; }
.jbmXZx .product__button > a:hover { opacity: 0.7; color: rgb(255, 255, 255); }
.jbmXZx .product__info-price { margin-top: 10px; font-size: 13px; color: rgb(208, 2, 27); }
.jbmXZx .product__sale-price { margin-left: 10px; color: rgb(54, 54, 54); font-size: 0.8em; }
.jbmXZx .product__info-title { margin: 10px 0px 0px; font-size: 16px; font-weight: 500; line-height: 1.5; text-transform: none; font-family: inherit; color: rgb(45, 45, 45); }
.jbmXZx .product__info-title a { color: rgb(27, 28, 29); text-decoration: none; }
.jbmXZx .shopify__product-vertical, .jbmXZx .shopify__product-vertical .product__info { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-flow: column; }
.jbmXZx .shopify__product-vertical .product__info, .jbmXZx .shopify__product-vertical .product__info-title { flex: 1 0 auto; }
.jbmXZx .shopify__product-horizontal { display: -webkit-flex; }
.jbmXZx .shopify__product-horizontal .product__thumbnail { flex: 1 1 0%; height: auto !important; }
.jbmXZx .shopify__product-horizontal .product__info { text-align: left; flex: 3 1 0%; padding-left: 15px; }
.jbmXZx .shopify__product-horizontal .product__info-title { margin-top: 0px; }
.jbmXZx .shopify__product-horizontal .product__button > a { width: auto; display: inline-block; }
					/* PageFly Styles */
					
@media all {
	[data-pf-type="Block"].pf-d8ee1a88 {
		text-align: center;
	}
	[data-pf-type="Section"].pf-889f60e8 {
		padding: 100px 0px;
		 background-size: cover;
		 background-repeat: no-repeat;
		 background-image: url("https://media.pagefly.io/file/get/ecigarette3576177_1920jpg-1535855185893.jpg");
		 background-position: 50% 50%;
		 margin-top: -25px;
	}
	[data-pf-type="Heading"].pf-a2f683cc {
		text-align: center;
		 font-size: 60px;
		 color: black;
		 line-height: 2;
		 margin-bottom: 5px;
		 margin-top: 10px;
	}
	[data-pf-type="Heading"].pf-33a8fc4c {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 36px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Text"].pf-d073b26f {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Paragraph"].pf-87d54173 {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Heading"].pf-310dbbf4 {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: left;
	}
	[data-pf-type="Paragraph"].pf-cce02ed3 {
		text-align: justify;
		 font-size: 18px;
	}
	[data-pf-type="Heading"].pf-19b2b19b {
		font-size: 30px;
		 margin-top: 0px;
		 font-weight: 700;
	}
	[data-pf-type="Section"].pf-568bd5e3 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	[data-pf-type="Image"].pf-f492fae7 {
		width: 300px;
	}
	[data-pf-type="Button"].pf-cc868cdc {
		color: white;
		 background-color: black;
		 font-weight: 700;
		 padding-top: 9px;
		 margin-top: 5px;
	}
	[data-pf-type="Column"].pf-f6ba1da5 {
		text-align: center;
	}
	[data-pf-type="Heading"].pf-d206c63b {
		margin-top: 0px;
		 text-align: left;
		 margin-bottom: 0px;
	}
	[data-pf-type="Paragraph"].pf-63420750 {
		font-size: 18px;
		 text-align: left;
		 margin-top: 10px;
	}
	[data-pf-type="Heading"].pf-f0428b07 {
		font-size: 30px;
		 margin-top: 20px;
		 font-weight: 700;
		 padding-top: 20px;
	}
	[data-pf-type="Image"].pf-161b28ba {
		width: 300px;
		 align-items: center;
		 justify-content: center;
	}
	[data-pf-type="Button"].pf-d4e595e5 {
		color: white;
		 background-color: black;
		 font-weight: 700;
		 padding-top: 9px;
		 margin-top: 5px;
		 text-align: center;
	}
	[data-pf-type="Column"].pf-d8bfba42 {
		text-align: center;
	}
	[data-pf-type="Heading"].pf-1fad2262 {
		margin-top: 0px;
		 text-align: left;
		 margin-bottom: 0px;
	}
	[data-pf-type="Paragraph"].pf-73f1b0ae {
		font-size: 18px;
		 text-align: left;
		 margin-top: 10px;
	}
	[data-pf-type="Row"].pf-ed45580a {
		text-align: center;
	}
	[data-pf-type="Paragraph"].pf-a7c87d1b {
		text-align: justify;
		 font-size: 18px;
	}
	[data-pf-type="Section"].pf-15487ec4 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	[data-pf-type="Shopify.Products"].pf-5ced3873 {
		font-size: 18px;
	}
	[data-pf-type="Shopify.Products"].pf-5ced3873 > .pf-c > div > div > div > .product__button {
		background-color: black;
	}
	[data-pf-type="Shopify.Products"].pf-5ced3873 > .pf-c > div {
		font-size: 18px;
	}
	[data-pf-type="Shopify.Products"].pf-5ced3873 > .pf-c > div > div > h3 > a {
		font-size: 14px;
	}
	[data-pf-type="Heading"].pf-ec805030 {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: center;
		 color: white;
	}
	[data-pf-type="Paragraph"].pf-54dec283 {
		text-align: center;
		 font-size: 20px;
		 color: white;
		 font-weight: 700;
	}
	[data-pf-type="Paragraph"].pf-cd6a7766 {
		font-size: 36px;
		 color: white;
		 text-align: center;
		 font-weight: 700;
		 border-style: dashed;
	}
	[data-pf-type="Section"].pf-6e2959dc {
		background-color: black;
	}
	[data-pf-type="Heading"].pf-3f7fa677 {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: left;
	}
	[data-pf-type="Paragraph"].pf-dd92e093 {
		text-align: justify;
		 font-size: 18px;
	}
	[data-pf-type="Heading"].pf-dd04c67b {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: left;
	}
	[data-pf-type="Paragraph"].pf-dcaeb583 {
		text-align: justify;
		 font-size: 18px;
	}
	[data-pf-type="Heading"].pf-cbe0d93b {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: left;
	}
	[data-pf-type="Paragraph"].pf-255f0f91 {
		text-align: justify;
		 font-size: 18px;
	}
}
					/*PageFlyCustomCSS*/
				</style><script src="https://cdnjs.cloudflare.com/ajax/libs/loadCSS/2.0.1/cssrelpreload.min.js" async></script><link rel="stylesheet" href="{{ 'pagefly.bfacab03.scss.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div class="pf-2a1f1a51 sc-kTUwUJ ljwnSF" data-pf-type="Body"><div class="pf-03094440 sc-GMQeP jXMCGy" data-pf-type="Layout"><div data-container="true" class="pf-889f60e8 sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-5189976a pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-88914e1d sc-cQFLBn efhDmd" data-pf-type="Column"><div class="pf-d8ee1a88 sc-jtRfpW iORGHt" data-pf-type="Block"></div></div> </div></div></div></div><div data-container="true" class="pf-49aff3cb sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-dcce465b pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-cf0e9be4 sc-cQFLBn efhDmd" data-pf-type="Column"><h1 mode="view" class="pf-a2f683cc sc-iQKALj hCTnDy" data-pf-type="Heading"><span class="pf-2096d918 sc-hGoxap dWevfJ" data-pf-type="Text">Should you Vape when you are Sick?</span></h1><h2 mode="view" class="pf-33a8fc4c sc-RefOD RLwIO" data-pf-type="Heading"><span class="pf-d50ce28c sc-hGoxap dWevfJ" data-pf-type="Text">Feeling under the weather? Find out about vaping when sick</span></h2></div> </div></div><div class="pf-d67610c3 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-7bfb37b1 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-79c2d01c sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-d88cc5d4 sc-hGoxap dWevfJ" data-pf-type="Text">Becky Spencer Davies, 11/04/2019</span></h3></div> </div></div><div class="pf-0035431b pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-601ffe3c sc-cQFLBn efhDmd" data-pf-type="Column"><p class="pf-87d54173 dropcap--none sc-emmjRN gFMjkE" data-pf-type="Paragraph"><span class="pf-d073b26f sc-hGoxap dWevfJ" data-pf-type="Text">T</span><span class="pf-0dc4f95b sc-hGoxap dWevfJ" data-pf-type="Text">he common cold gets us all at some point. A cold can leave you feeling pretty crappy, with a stuffy nose, headache, stiff muscles, a sore throat and even a cough. We know that smoking while you have a cold is not the best idea, but can you vape while you are sick?<br>Smoking cigarettes can further irritate a sore throat, exasperate your headache and even lead your cough to carry on for longer. But what about vaping?<br><br>Yes you can vape while you are sick. However, there are a few things that you might wish to consider to ensure that you aren't left feeling worse.<br></span></p></div> </div></div><div class="pf-63c07a5b pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-562d575d sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-3f7fa677 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-745954a2 sc-hGoxap dWevfJ" data-pf-type="Text">Drink lots of water if you vape when sick</span></h3></div> </div></div><div class="pf-4340628d pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-3cceb486 sc-cQFLBn efhDmd" data-pf-type="Column"><p class="pf-dd92e093 sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-908735a9 sc-hGoxap dWevfJ" data-pf-type="Text">When you are sick you will probably be a dehydrated. Vaping can also lead to dehydration so make sure that during your sickness you are drinking enough water. Remember, caffeinated drinks and fizz don’t count towards hydration. Time for the H2O.<br></span></p></div> </div></div><div class="pf-0cc2a1ee pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-85cbc2a5 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-310dbbf4 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-618c6180 sc-hGoxap dWevfJ" data-pf-type="Text">Choose low nicotine levels&nbsp;</span></h3></div> </div></div><div class="pf-29ee52a5 pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-529ae804 sc-cQFLBn efhDmd" data-pf-type="Column"><p class="pf-cce02ed3 sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-d9464f38 sc-hGoxap dWevfJ" data-pf-type="Text">If your throat is already like sandpaper, the last thing you want is for it to be irritated. Try using a lower nicotine level to reduce the scratchy feeling. You may also find that if the illness is making you dizzy that high nicotine can make this worse. Keep those MGs low during this time.&nbsp;<br></span></p></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-a4551ec3 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-dd04c67b sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-b72803bd sc-hGoxap dWevfJ" data-pf-type="Text">Change your e-liquid to menthol</span></h3></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-044f3a87 sc-cQFLBn efhDmd" data-pf-type="Column"><p class="pf-dcaeb583 sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-2bba175b sc-hGoxap dWevfJ" data-pf-type="Text">When you are sick ditch the fruity or dessert flavours and try a menthol one. The icy menthol will feel great on your sinus and lungs. A few menthol ones that we enjoy are, <a href="https://vapeandjuice.co.uk/collections/starter-eliquids/products/red-rocket?variant=8065772126236" target="_self">Red Rocket</a> for a berry and eucalyptus flavour, <a href="https://vapeandjuice.co.uk/collections/ripe-co/products/ripe-co-orange" target="_self">Ripe Co.</a> for fruity with a menthol exhale and <a href="https://vapeandjuice.co.uk/products/double-drip-orange-mango-chill" target="_self">Double Drip Orange Mango Chill.</a><br></span></p></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-48113add sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-cbe0d93b sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-3b94b3a9 sc-hGoxap dWevfJ" data-pf-type="Text">Opt for high VG</span></h3><p class="pf-255f0f91 sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-7b92261d sc-hGoxap dWevfJ" data-pf-type="Text">That scratchy throat isn’t going to like high PG. Choose an e-liquid with a high VG content, at say 70/30. High PG is great for a throat hit, but not when your throat is irritated. <br><br>While you can vape while you are sick, if you can hold out it might be best. This will give you time to fully recover from your illness. You might even find that you are too sick to even fancy vaping. If you do want to carry on though, follow these tips and drink lots of water!<br></span></p></div> </div></div></div></div><div data-container="true" class="pf-15876586 sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-196c922a pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-f123ce56 sc-cQFLBn efhDmd" data-pf-type="Column"><div class="pf-5ced3873 pf-r pf-r-ew pf-r-ew--4 sc-jtggT jbmXZx" data-animation="pulse" data-pf-type="Shopify.Products">{% for product in collections['menthol-flavours'].products  limit:4 %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a class="product__thumbnail" href="{{ product.url }}" style="height: 200px; width: 100%;">{% if product.featured_image != blank %}<img src="{{ product.featured_image | img_url: '270x200', crop: 'center' , scale: 2 }}" alt="{{ product.featured_image.alt | escape }}" width="270" height="200">{% else %}<img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="270">{% endif %}</a><div class="product__info"><h3 class="product__info-title"><a href="{{ product.url }}" style="display: block;">{{product.title}}</a></h3><div class="product__info-price" style="color: black; font-size: 13px;">{%- assign compare_at_price = product.compare_at_price -%}
								{%- assign price = product.price -%}
								{%- assign price_varies = product.price_varies -%}
								{%- assign money_price = price | money -%}{% if compare_at_price > price %}<span class="product__regular-price">{{ money_price }}</span><s class="product__sale-price" style="color: rgb(208, 2, 27);">{{ compare_at_price | money }}</s>{% else %}{% if price_varies %}{{ product.price_min | money }} - {{ product.price_max | money }}{% else %}<span class="product__regular-price" style="color: black;">{{ money_price }}</span>{% endif %}{% endif %}</div><div class="product__button">{% if product.available %}{% if product.variants.size == 1 %}<a class="product__button" href="#" data-action="AddToCart" data-text="Add To Cart"><span data-variant="{{ product.variants.first.id }}">Add To Cart</span></a>{% else %}<a href="{{ product.url }}" class="product__button"><span>View Options</span></a>{% endif %}{% else %}<a href="javascript:void(0);" aria-disabled="true" class="product__button"><span>{{ 'pagefly.products.product.sold_out' | t }}</span></a>{% endif %}</div></div></div></div>{% else %}{% for i in (1..4) %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a href="javascript:void(0);" class="product__thumbnail" style="height: 200px; width: 100%;"><img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="270"></a><div class="product__info"><h3 class="product__info-title"><a href="javascript:void(0);" style="display: block;">Example product title</a></h3><div class="product__info-price" style="color: black; font-size: 13px;"><span class="product__regular-price">$99.00</span></div><div class="product__button"><a href="javascript:void(0);" class="product__button">Add To Cart</a></div></div></div></div>{% endfor %}{% endfor %}</div></div> </div></div></div></div><div data-container="true" class="pf-6e2959dc sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-bc976a07 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-49c98a0b sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-ec805030 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-ecc026db sc-hGoxap dWevfJ" data-pf-type="Text">Want 10% Off?<br></span></h3><p class="pf-54dec283 sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-e5aa52a4 sc-hGoxap dWevfJ" data-pf-type="Text">We like to reward our blog readers with exclusive discounts! Get an extra 10% off your purchases today with this discount code!&nbsp;&nbsp;</span></p></div> </div></div><div class="pf-4dbbe142 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-b36ea7a0 sc-cQFLBn efhDmd" data-pf-type="Column"><p class="pf-cd6a7766 sc-emmjRN kxBUTU" data-animation="tada" data-pf-type="Paragraph"><span class="pf-d17db4ed sc-hGoxap dWevfJ" data-pf-type="Text">WELCOME10</span></p></div> </div></div></div></div></div></div></div><script>
					window.__pagefly_options__=window.__pagefly_options__||[],window.__pagefly_options__.push({});
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","isBackend":false};
					0;
				</script><script src="https://cdn.pagefly.io/pagefly/2.0.2/core/helper.js?t=2019-04-11-10" defer></script> </article>