<article itemscope itemtype="http://schema.org/Article"> <link rel="preload" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400"></noscript><link rel="preload" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></noscript><link rel="preload" href="https://cdn.pagefly.io/pagefly/2.0.2/css/animation-style.css?t=2019-04-11-15" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.0.2/css/animation-style.css?t=2019-04-11-15"></noscript><link rel="preload" href="https://cdn.pagefly.io/pagefly/2.0.2/css/main-style.css?t=2019-04-11-15" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.0.2/css/main-style.css?t=2019-04-11-15"></noscript><style>
					/* PageFly Element Styles */
					.IoliW__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.IoliW { padding: 15px 0px; position: relative; }
.IoliW .sc-eLExRp { position: relative; }
.IoliW[data-container="true"] .sc-eLExRp { padding: 0px 15px; width: 100%; margin: auto; }
.IoliW .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.iUdgQL { margin: 0px -15px; }
.efhDmd { position: relative; }
.efhDmd.pf-editor-col::before, .efhDmd.pf-editor-col::after { content: ""; display: block; position: absolute; top: 0px; bottom: 0px; width: 10px; }
.efhDmd.pf-editor-col::before { left: -10px; }
.efhDmd.pf-editor-col::after { right: -10px; }
.iORGHt { position: relative; }
.hCTnDy { margin: 0px 0px 15px; }
.hCTnDy > a { color: inherit !important; }
.hCTnDy > span { font-weight: inherit; text-decoration: inherit; }
.hCTnDy { word-break: break-word; }
.hCTnDy.pf-i--left i { margin-right: 0.3em; }
.hCTnDy.pf-i--right i { margin-left: 0.3em; }
.hCTnDy.pf-i--top i { margin-bottom: 0.5em; }
.hCTnDy.pf-i--top > span, .hCTnDy.pf-i--top > a { display: block; }
.hCTnDy.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.hCTnDy [class*="--diamond"] { margin-right: 1em; }
.dWevfJ { display: inline-block; }
.dWevfJ { vertical-align: baseline; word-break: break-word; }
.dWevfJ:focus { outline: none; }
.RLwIO { margin: 0px 0px 15px; }
.RLwIO > a { color: inherit !important; }
.RLwIO > span { font-weight: inherit; text-decoration: inherit; }
.RLwIO { word-break: break-word; }
.RLwIO.pf-i--left i { margin-right: 0.3em; }
.RLwIO.pf-i--right i { margin-left: 0.3em; }
.RLwIO.pf-i--top i { margin-bottom: 0.5em; }
.RLwIO.pf-i--top > span, .RLwIO.pf-i--top > a { display: block; }
.RLwIO.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.RLwIO [class*="--diamond"] { margin-right: 1em; }
.huQPUn { margin: 0px 0px 15px; }
.huQPUn > a { color: inherit !important; }
.huQPUn > span { font-weight: inherit; text-decoration: inherit; }
.huQPUn { word-break: break-word; }
.huQPUn.pf-i--left i { margin-right: 0.3em; }
.huQPUn.pf-i--right i { margin-left: 0.3em; }
.huQPUn.pf-i--top i { margin-bottom: 0.5em; }
.huQPUn.pf-i--top > span, .huQPUn.pf-i--top > a { display: block; }
.huQPUn.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.huQPUn [class*="--diamond"] { margin-right: 1em; }
.gFMjkE > span:last-child { line-height: inherit; display: block; }
.gFMjkE[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; color: rgb(0, 0, 0); width: 50px; height: 50px; line-height: 50px; font-size: 2em; background: rgb(145, 157, 169); }
.gFMjkE[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.gFMjkE.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.gFMjkE.dropcap--circle > span:first-child { border-radius: 100%; }
.gFMjkE:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.gFMjkE ol, .gFMjkE ul { list-style-position: inside; }
.gFMjkE blockquote { font-size: inherit; }
.kxBUTU > span:last-child { line-height: inherit; display: block; }
.kxBUTU[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.kxBUTU[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.kxBUTU.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.kxBUTU.dropcap--circle > span:first-child { border-radius: 100%; }
.kxBUTU:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.kxBUTU ol, .kxBUTU ul { list-style-position: inside; }
.kxBUTU blockquote { font-size: inherit; }
.iVqvQb { position: relative; overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; vertical-align: middle; max-width: 100%; }
.iVqvQb img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; position: unset; }
.eWmgqN { display: inline-block; line-height: 1; padding: 0.7em 1.2em; box-sizing: border-box; cursor: pointer; text-align: center; border: none; border-radius: 0px; text-decoration: none; position: relative; max-width: 100%; outline: none; vertical-align: middle; }
.eWmgqN:hover, .eWmgqN:active, .eWmgqN:focus { color: inherit; text-decoration: none; }
.eWmgqN > span { text-decoration: inherit; line-height: inherit; display: inline-block; max-width: 100%; }
.eWmgqN[data-active="true"] { background: black; color: white; }
.eWmgqN.pf-i--left i { margin-right: 0.3em; }
.eWmgqN + .sc-dqBHgY, .eWmgqN.pf-i--right i { margin-left: 0.3em; }
.eWmgqN.pf-i--top i { margin-bottom: 0.5em; display: block; }
.jbmXZx { margin: 0px -15px; }
.jbmXZx .pf__shopify-product { width: 100%; text-align: center; }
.jbmXZx .pf-c { padding: 15px; display: flex; }
.jbmXZx .product__thumbnail { display: -webkit-flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; overflow: hidden; max-width: 100%; position: relative; }
.jbmXZx .product__thumbnail img { vertical-align: middle; max-width: 100%; height: auto; }
.jbmXZx .product__thumbnail .pf-placeholder-svg { fill: rgb(166, 166, 166); background-color: rgb(245, 245, 245); width: 100%; max-width: 100%; max-height: 100%; border-radius: inherit; }
.jbmXZx .product__button > a { display: block; padding: 0px 20px; line-height: 36px; height: 36px; background: rgb(85, 193, 72); margin-top: 10px; color: rgb(255, 255, 255); text-align: center; text-decoration: none; }
.jbmXZx .product__button > a:hover { opacity: 0.7; color: rgb(255, 255, 255); }
.jbmXZx .product__info-price { margin-top: 10px; font-size: 13px; color: rgb(208, 2, 27); }
.jbmXZx .product__sale-price { margin-left: 10px; color: rgb(54, 54, 54); font-size: 0.8em; }
.jbmXZx .product__info-title { margin: 10px 0px 0px; font-size: 16px; font-weight: 500; line-height: 1.5; text-transform: none; font-family: inherit; color: rgb(45, 45, 45); }
.jbmXZx .product__info-title a { color: rgb(27, 28, 29); text-decoration: none; }
.jbmXZx .shopify__product-vertical, .jbmXZx .shopify__product-vertical .product__info { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-flow: column; }
.jbmXZx .shopify__product-vertical .product__info, .jbmXZx .shopify__product-vertical .product__info-title { flex: 1 0 auto; }
.jbmXZx .shopify__product-horizontal { display: -webkit-flex; }
.jbmXZx .shopify__product-horizontal .product__thumbnail { flex: 1 1 0%; height: auto !important; }
.jbmXZx .shopify__product-horizontal .product__info { text-align: left; flex: 3 1 0%; padding-left: 15px; }
.jbmXZx .shopify__product-horizontal .product__info-title { margin-top: 0px; }
.jbmXZx .shopify__product-horizontal .product__button > a { width: auto; display: inline-block; }
					/* PageFly Styles */
					
@media all {
	[data-pf-type="Block"].pf-62d6d27e {
		text-align: center;
	}
	[data-pf-type="Section"].pf-2b041625 {
		padding: 100px 0px;
		 background-size: cover;
		 background-repeat: no-repeat;
		 background-image: url("https://media.pagefly.io/file/get/ecigarette3576177_1920jpg-1535855185893.jpg");
		 background-position: 50% 50%;
		 margin-top: -25px;
	}
	[data-pf-type="Heading"].pf-3cf6e2e4 {
		text-align: center;
		 font-size: 60px;
		 color: black;
		 line-height: 2;
		 margin-bottom: 5px;
		 margin-top: 10px;
	}
	[data-pf-type="Heading"].pf-cd421988 {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 36px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Text"].pf-2d9f225a {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Paragraph"].pf-f80767cf {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Heading"].pf-edab8408 {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: center;
	}
	[data-pf-type="Paragraph"].pf-a1338857 {
		text-align: justify;
		 font-size: 18px;
	}
	[data-pf-type="Heading"].pf-e9cb0357 {
		font-size: 30px;
		 margin-top: 0px;
		 font-weight: 700;
	}
	[data-pf-type="Section"].pf-86d05d5d {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	[data-pf-type="Image"].pf-5fe264d2 {
		width: 300px;
	}
	[data-pf-type="Button"].pf-39864458 {
		color: white;
		 background-color: black;
		 font-weight: 700;
		 padding-top: 9px;
		 margin-top: 5px;
	}
	[data-pf-type="Column"].pf-24cf45a4 {
		text-align: center;
	}
	[data-pf-type="Heading"].pf-eb9213db {
		margin-top: 0px;
		 text-align: left;
		 margin-bottom: 0px;
	}
	[data-pf-type="Paragraph"].pf-4774a491 {
		font-size: 18px;
		 text-align: left;
		 margin-top: 10px;
	}
	[data-pf-type="Heading"].pf-69c8d716 {
		font-size: 30px;
		 margin-top: 20px;
		 font-weight: 700;
		 padding-top: 20px;
	}
	[data-pf-type="Image"].pf-b005625b {
		width: 300px;
		 align-items: center;
		 justify-content: center;
	}
	[data-pf-type="Button"].pf-9926e535 {
		color: white;
		 background-color: black;
		 font-weight: 700;
		 padding-top: 9px;
		 margin-top: 5px;
		 text-align: center;
	}
	[data-pf-type="Column"].pf-e279ed00 {
		text-align: center;
	}
	[data-pf-type="Heading"].pf-cf0b1454 {
		margin-top: 0px;
		 text-align: left;
		 margin-bottom: 0px;
	}
	[data-pf-type="Paragraph"].pf-2c6bc02e {
		font-size: 18px;
		 text-align: left;
		 margin-top: 10px;
	}
	[data-pf-type="Row"].pf-5da549ab {
		text-align: center;
	}
	[data-pf-type="Heading"].pf-a93df68c {
		font-size: 30px;
		 margin-top: 20px;
		 font-weight: 700;
		 padding-top: 20px;
	}
	[data-pf-type="Image"].pf-3561c77e {
		width: 300px;
		 align-items: center;
		 justify-content: center;
	}
	[data-pf-type="Button"].pf-e1f19053 {
		color: white;
		 background-color: black;
		 font-weight: 700;
		 padding-top: 9px;
		 margin-top: 5px;
		 text-align: center;
	}
	[data-pf-type="Column"].pf-088de4ca {
		text-align: center;
	}
	[data-pf-type="Heading"].pf-c1e42cec {
		margin-top: 0px;
		 text-align: left;
		 margin-bottom: 0px;
	}
	[data-pf-type="Paragraph"].pf-6315bede {
		font-size: 18px;
		 text-align: left;
		 margin-top: 10px;
	}
	[data-pf-type="Heading"].pf-7ffb69e5 {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: center;
	}
	[data-pf-type="Paragraph"].pf-77b89733 {
		text-align: justify;
		 font-size: 18px;
	}
	[data-pf-type="Section"].pf-48486046 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	[data-pf-type="Shopify.Products"].pf-b7deae64 {
		font-size: 18px;
	}
	[data-pf-type="Shopify.Products"].pf-b7deae64 > .pf-c > div > div > div > .product__button {
		background-color: black;
	}
	[data-pf-type="Shopify.Products"].pf-b7deae64 > .pf-c > div {
		font-size: 18px;
	}
	[data-pf-type="Shopify.Products"].pf-b7deae64 > .pf-c > div > div > h3 > a {
		font-size: 14px;
	}
	[data-pf-type="Heading"].pf-ee3910e5 {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: center;
		 color: white;
	}
	[data-pf-type="Paragraph"].pf-18a26c55 {
		text-align: center;
		 font-size: 20px;
		 color: white;
		 font-weight: 700;
	}
	[data-pf-type="Paragraph"].pf-3a9940f9 {
		font-size: 36px;
		 color: white;
		 text-align: center;
		 font-weight: 700;
		 border-style: dashed;
	}
	[data-pf-type="Section"].pf-f410b8ac {
		background-color: black;
	}
	[data-pf-type="Heading"].pf-45797f02 {
		font-size: 30px;
		 margin-top: 20px;
		 font-weight: 700;
		 padding-top: 20px;
	}
	[data-pf-type="Image"].pf-2ebd527c {
		width: 300px;
		 align-items: center;
		 justify-content: center;
	}
	[data-pf-type="Button"].pf-3d072dd3 {
		color: white;
		 background-color: black;
		 font-weight: 700;
		 padding-top: 9px;
		 margin-top: 5px;
		 text-align: center;
	}
	[data-pf-type="Column"].pf-d380bd55 {
		text-align: center;
	}
	[data-pf-type="Heading"].pf-ed204524 {
		margin-top: 0px;
		 text-align: left;
		 margin-bottom: 0px;
	}
	[data-pf-type="Paragraph"].pf-d397c09d {
		font-size: 18px;
		 text-align: left;
		 margin-top: 10px;
	}
	[data-pf-type="Heading"].pf-90737459 {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: center;
	}
	[data-pf-type="Paragraph"].pf-814abefe {
		text-align: justify;
		 font-size: 18px;
	}
	[data-pf-type="Heading"].pf-7e831033 {
		font-size: 30px;
		 margin-top: 20px;
		 font-weight: 700;
		 padding-top: 20px;
	}
	[data-pf-type="Image"].pf-5473e719 {
		width: 300px;
		 align-items: center;
		 justify-content: center;
	}
	[data-pf-type="Button"].pf-0c84e9e3 {
		color: white;
		 background-color: black;
		 font-weight: 700;
		 padding-top: 9px;
		 margin-top: 5px;
		 text-align: center;
	}
	[data-pf-type="Column"].pf-350d608a {
		text-align: center;
	}
	[data-pf-type="Heading"].pf-0e6b17c2 {
		margin-top: 0px;
		 text-align: left;
		 margin-bottom: 0px;
	}
	[data-pf-type="Paragraph"].pf-244216a8 {
		font-size: 18px;
		 text-align: left;
		 margin-top: 10px;
	}
	[data-pf-type="Image"].pf-071b5aaf {
		width: 300px;
	}
	[data-pf-type="Button"].pf-70d00236 {
		color: white;
		 background-color: black;
		 font-weight: 700;
		 padding-top: 9px;
		 margin-top: 5px;
	}
	[data-pf-type="Column"].pf-819f058f {
		text-align: center;
	}
	[data-pf-type="Heading"].pf-07370d9e {
		margin-top: 0px;
		 text-align: left;
		 margin-bottom: 0px;
	}
	[data-pf-type="Paragraph"].pf-2f13dffa {
		font-size: 18px;
		 text-align: left;
		 margin-top: 10px;
	}
	[data-pf-type="Heading"].pf-0b854d93 {
		font-size: 30px;
		 margin-top: 20px;
		 font-weight: 700;
		 padding-top: 20px;
	}
}
					/*PageFlyCustomCSS*/
				</style><script src="https://cdnjs.cloudflare.com/ajax/libs/loadCSS/2.0.1/cssrelpreload.min.js" async></script><link rel="stylesheet" href="{{ 'pagefly.62fbbb77.scss.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div class="pf-86ca483b sc-kTUwUJ ljwnSF" data-pf-type="Body"><div class="pf-dd2e1585 sc-GMQeP jXMCGy" data-pf-type="Layout"><div data-container="true" class="pf-2b041625 sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-690c5a98 pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-d998ee5c sc-cQFLBn efhDmd" data-pf-type="Column"><div class="pf-62d6d27e sc-jtRfpW iORGHt" data-pf-type="Block"></div></div> </div></div></div></div><div data-container="true" class="pf-59adb8d4 sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-b38095ef pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-3aa7c1d1 sc-cQFLBn efhDmd" data-pf-type="Column"><h1 mode="view" class="pf-3cf6e2e4 sc-iQKALj hCTnDy" data-pf-type="Heading"><span class="pf-6d152c7d sc-hGoxap dWevfJ" data-pf-type="Text">Best Dessert Vape Juice of 2019</span></h1><h2 mode="view" class="pf-cd421988 sc-RefOD RLwIO" data-pf-type="Heading"><span class="pf-301e30dd sc-hGoxap dWevfJ" data-pf-type="Text">Got a sweet tooth? Read on.</span></h2></div> </div></div><div class="pf-eb73cc76 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-a21b6983 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-bc60fdcd sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-7342f71f sc-hGoxap dWevfJ" data-pf-type="Text">Becky Spencer-Davies 11/04/2019&nbsp;</span></h3></div> </div></div><div class="pf-6b6dba44 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-29401776 sc-cQFLBn efhDmd" data-pf-type="Column"><p class="pf-f80767cf dropcap--none sc-emmjRN gFMjkE" data-pf-type="Paragraph"><span class="pf-2d9f225a sc-hGoxap dWevfJ" data-pf-type="Text">Y</span><span class="pf-a8c7cfc8 sc-hGoxap dWevfJ" data-pf-type="Text">ou’ve got a sweet tooth. You dream of maple syrup, pancakes, brownies, cookies, custard, ice cream and everything inbetween. There is nothing quite like kicking back at lunch time with a latte and your tank full of a sweet e-liquid. This really hits the spot. If you’re into sweet stuff, then you'll want to know the best dessert flavour e-liquid of 2019. <br><br>We’ve put together a few of our customer favourites, and some of ours too. Hopefully this will help you to discover your next sweet vape.<br>.&nbsp; &nbsp;</span></p></div> </div></div></div></div><div data-container="true" class="pf-86d05d5d sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-134f9969 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-8ec620bf sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-e9cb0357 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-fd945b04 sc-hGoxap dWevfJ" data-pf-type="Text">CAFE SOCIETY - CARAMEL COFFEE CUSTARD, GOOEY HAZELNUT COOKIE & MORE</span></h3></div> </div></div></div></div><div data-container="true" class="pf-48486046 sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-16bec109 pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--4" style="padding: 15px;"><div class="pf-24cf45a4 sc-cQFLBn efhDmd" data-pf-type="Column"><picture class="pf-5fe264d2 sc-bMVAic iVqvQb" data-animation="wobble" data-pf-type="Image"><img src="https://cdn.shopify.com/s/files/1/0290/5629/t/62/assets/cafe-society-pancake-best-dessert-eliquid-cosmetics-239-1000x.jpg?15231"></picture><a class="pf-39864458 sc-dqBHgY eWmgqN" href="https://vapeandjuice.co.uk/search?type=product&q=cafe+society" target="_self" data-pf-type="Button"><span class="pf-32e7ad4b sc-hGoxap dWevfJ" data-pf-type="Text">ADD TO CART</span></a></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--8" style="padding: 15px;"><div class="pf-8f1a426b sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-eb9213db sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-2030366c sc-hGoxap dWevfJ" data-pf-type="Text">£19.99 - 100ml&nbsp;</span></h3><p class="pf-4774a491 sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-4e4d564c sc-hGoxap dWevfJ" data-pf-type="Text">This is a new kid on the block. With a menu featuring some seriously mouth watering flavours for anyone who likes a sweet vape. It is no wonder that this brand is such a hit. There’s caramel coffee custard, mint choc chip ice cream, hazelnut cookie and fluffy pancakes. The Cafe Society blends really are something and the flavours on point. Definitely one to accompany your coffee.<br><br><a href="https://vapeandjuice.co.uk/search?type=product&q=cafe+society" target="_self">Find out&nbsp;More..</a><a href="https://vapeandjuice.co.uk/collections/starter-kits/products/innokin-endura-t20" target="_self">.</a><br></span></p></div> </div></div><div class="pf-52b4e42f pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-ac3a7c60 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-0b854d93 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-36bc9be4 sc-hGoxap dWevfJ" data-pf-type="Text">FAT FRIDAYS - APPLE BUTTER DANISH, BANANA ICE CREAM & MORE&nbsp;</span></h3></div> </div></div><div class="pf-c67aab91 pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--4" style="padding: 15px;"><div class="pf-819f058f sc-cQFLBn efhDmd" data-pf-type="Column"><picture class="pf-071b5aaf sc-bMVAic iVqvQb" data-animation="wobble" data-pf-type="Image"><img src="https://cdn.shopify.com/s/files/1/0290/5629/t/62/assets/Screen-Shot-2019-04-11-at-16.03.39.png?15227"></picture><a class="pf-70d00236 sc-dqBHgY eWmgqN" href="https://vapeandjuice.co.uk/search?type=product&q=FAT+FRIDAY" target="_self" data-pf-type="Button"><span class="pf-e2af816f sc-hGoxap dWevfJ" data-pf-type="Text">ADD TO CART</span></a></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--8" style="padding: 15px;"><div class="pf-e404aab8 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-07370d9e sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-62c3e5ac sc-hGoxap dWevfJ" data-pf-type="Text">£14.99 - 50ml&nbsp;</span></h3><p class="pf-2f13dffa sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-4d74f9d6 sc-hGoxap dWevfJ" data-pf-type="Text">Fat Friday in the office? You need this best dessert flavour of 2019 to go alongside your Friday treats. The flavours include your favourite sweet cakes and desserts, including banana ice cream, apple butter danish and cookies and cream. <br><br><a href="https://vapeandjuice.co.uk/search?type=product&q=FAT+FRIDAY" target="_self">Find out&nbsp;More..</a><a href="https://vapeandjuice.co.uk/collections/starter-kits/products/innokin-endura-t20" target="_self">.</a><br></span></p></div> </div></div><div class="pf-9fd57ad4 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-165fd14a sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-69c8d716 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-e3deb3d8 sc-hGoxap dWevfJ" data-pf-type="Text">BIG BOTTLE - CINNAMON SWIRL, BLUEBERRY CAKE, JELLY DOUGHNUT & MORE&nbsp;&nbsp;</span></h3></div> </div></div><div class="pf-5da549ab pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--4" style="padding: 15px;"><div class="pf-e279ed00 sc-cQFLBn efhDmd" data-pf-type="Column"><picture class="pf-b005625b sc-bMVAic iVqvQb" data-animation="wobble" data-pf-type="Image"><img src="https://cdn.shopify.com/s/files/1/0290/5629/t/62/assets/big-bottle-co-jelly-donut-0mg-100ml-nicotine-3mgbest-dessert-eliquid-8515-juice-vape-and-pink-562-1000x.jpg?15235"></picture><a class="pf-9926e535 sc-dqBHgY eWmgqN" href="https://vapeandjuice.co.uk/search?type=product&q=big+bottle" target="_self" data-pf-type="Button"><span class="pf-b71e1655 sc-hGoxap dWevfJ" data-pf-type="Text">ADD TO CART</span></a></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--8" style="padding: 15px;"><div class="pf-c0446528 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-cf0b1454 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-e6ef0fca sc-hGoxap dWevfJ" data-pf-type="Text">£20.00 - 100ml</span></h3><p class="pf-2c6bc02e sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-b7b82264 sc-hGoxap dWevfJ" data-pf-type="Text">&nbsp;Big Bottle Co. bring you both cake and drink flavoured e-liquids. As this blog is on the best dessert flavours of 2019 we will focus on the cake and pudding blends. There is a Cinnamon Swirl with cinnamon cream, Blueberry Cake, Good ‘Ol Custard and Jelly Doughnut. These flavours will have you drooling for more. They’re nicotine free, however you can add a nic shot to the juice if required. <br><a href="https://vapeandjuice.co.uk/search?type=product&q=big+bottle">Read More..</a>&nbsp;<br></span></p></div> </div></div><div class="pf-c0f1670d pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-c75ca343 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-a93df68c sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-bce904ca sc-hGoxap dWevfJ" data-pf-type="Text">DOUBLE DRIP - LEMON TART, CARAMEL APPLE CAKE & MORE&nbsp;</span></h3><div class="pf-37b81420 pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--4 pf-c-lg--4" style="padding: 15px;"><div class="pf-088de4ca sc-cQFLBn efhDmd" data-pf-type="Column"><picture class="pf-3561c77e sc-bMVAic iVqvQb" data-animation="wobble" data-pf-type="Image"><img src="https://cdn.shopify.com/s/files/1/0290/5629/t/62/assets/best-dessert-eliquid-of-2019.png?15239"></picture><a class="pf-e1f19053 sc-dqBHgY eWmgqN" href="https://vapeandjuice.co.uk/collections/starter-kits/products/aspire-pockex-kit" target="_self" data-pf-type="Button"><span class="pf-bc7eeb8c sc-hGoxap dWevfJ" data-pf-type="Text">ADD TO CART</span></a></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--4 pf-c-lg--8" style="padding: 15px;"><div class="pf-1f3c225b sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-c1e42cec sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-ba90316e sc-hGoxap dWevfJ" data-pf-type="Text">£14.99 - 50ml</span></h3><p class="pf-6315bede sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-331f89ec sc-hGoxap dWevfJ" data-pf-type="Text">&nbsp;Double Drip is another contender for the best dessert flavour e-liquid. This brand have some tasty blends of fruit, cake and cream. You’ll find Lemon Tart, Mango Raspberry Ice Cream and Caramel Apple Cake. <br><br><a href="https://vapeandjuice.co.uk/collections/starter-kits/products/aspire-pockex-kit" target="_self">Read More...&nbsp;</a>&nbsp;<br></span></p></div> </div></div></div> </div></div></div></div><div data-container="true" class="pf-f01037d4 sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-e6b61e0e pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-9303fae3 sc-cQFLBn efhDmd" data-pf-type="Column"><div class="pf-b7deae64 pf-r pf-r-ew pf-r-ew--4 sc-jtggT jbmXZx" data-animation="pulse" data-pf-type="Shopify.Products">{% for product in collections['dessert-flavours'].products  limit:4 %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a class="product__thumbnail" href="{{ product.url }}" style="height: 200px; width: 100%;">{% if product.featured_image != blank %}<img src="{{ product.featured_image | img_url: '270x200', crop: 'center' , scale: 2 }}" alt="{{ product.featured_image.alt | escape }}" width="270" height="200">{% else %}<img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="270">{% endif %}</a><div class="product__info"><h3 class="product__info-title"><a href="{{ product.url }}" style="display: block;">{{product.title}}</a></h3><div class="product__info-price" style="color: black; font-size: 13px;">{%- assign compare_at_price = product.compare_at_price -%}
								{%- assign price = product.price -%}
								{%- assign price_varies = product.price_varies -%}
								{%- assign money_price = price | money -%}{% if compare_at_price > price %}<span class="product__regular-price">{{ money_price }}</span><s class="product__sale-price" style="color: rgb(208, 2, 27);">{{ compare_at_price | money }}</s>{% else %}{% if price_varies %}{{ product.price_min | money }} - {{ product.price_max | money }}{% else %}<span class="product__regular-price" style="color: black;">{{ money_price }}</span>{% endif %}{% endif %}</div><div class="product__button">{% if product.available %}{% if product.variants.size == 1 %}<a class="product__button" href="#" data-action="AddToCart" data-text="Add To Cart"><span data-variant="{{ product.variants.first.id }}">Add To Cart</span></a>{% else %}<a href="{{ product.url }}" class="product__button"><span>View Options</span></a>{% endif %}{% else %}<a href="javascript:void(0);" aria-disabled="true" class="product__button"><span>{{ 'pagefly.products.product.sold_out' | t }}</span></a>{% endif %}</div></div></div></div>{% else %}{% for i in (1..4) %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a href="javascript:void(0);" class="product__thumbnail" style="height: 200px; width: 100%;"><img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="270"></a><div class="product__info"><h3 class="product__info-title"><a href="javascript:void(0);" style="display: block;">Example product title</a></h3><div class="product__info-price" style="color: black; font-size: 13px;"><span class="product__regular-price">$99.00</span></div><div class="product__button"><a href="javascript:void(0);" class="product__button">Add To Cart</a></div></div></div></div>{% endfor %}{% endfor %}</div></div> </div></div></div></div><div data-container="true" class="pf-f410b8ac sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-9943ebf5 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-c5a3fbcb sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-ee3910e5 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-da22652c sc-hGoxap dWevfJ" data-pf-type="Text">Want 10% Off?<br></span></h3><p class="pf-18a26c55 sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-4d5a5e6a sc-hGoxap dWevfJ" data-pf-type="Text">We like to reward our blog readers with exclusive discounts! Get an extra 10% off your purchases today with this discount code!&nbsp;&nbsp;</span></p></div> </div></div><div class="pf-ddb530ad pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-abf5d30f sc-cQFLBn efhDmd" data-pf-type="Column"><p class="pf-3a9940f9 sc-emmjRN kxBUTU" data-animation="tada" data-pf-type="Paragraph"><span class="pf-7eea60ce sc-hGoxap dWevfJ" data-pf-type="Text">WELCOME10</span></p></div> </div></div></div></div></div></div></div><script>
					window.__pagefly_options__=window.__pagefly_options__||[],window.__pagefly_options__.push({});
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","isBackend":false};
					0;
				</script><script src="https://cdn.pagefly.io/pagefly/2.0.2/core/helper.js?t=2019-04-11-15" defer></script> </article>