<article itemscope itemtype="http://schema.org/Article"> <link rel="preload" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400"></noscript><link rel="preload" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></noscript><link rel="preload" href="https://cdn.pagefly.io/pagefly/2.0.2/css/animation-style.css?t=2019-03-25-11" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.0.2/css/animation-style.css?t=2019-03-25-11"></noscript><link rel="preload" href="https://cdn.pagefly.io/pagefly/2.0.2/css/main-style.css?t=2019-03-25-11" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.0.2/css/main-style.css?t=2019-03-25-11"></noscript><style>
					/* PageFly Element Styles */
					.IoliW__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.IoliW { padding: 15px 0px; position: relative; }
.IoliW .sc-eLExRp { position: relative; }
.IoliW[data-container="true"] .sc-eLExRp { padding: 0px 15px; width: 100%; margin: auto; }
.IoliW .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.iUdgQL { margin: 0px -15px; }
.efhDmd { position: relative; }
.efhDmd.pf-editor-col::before, .efhDmd.pf-editor-col::after { content: ""; display: block; position: absolute; top: 0px; bottom: 0px; width: 10px; }
.efhDmd.pf-editor-col::before { left: -10px; }
.efhDmd.pf-editor-col::after { right: -10px; }
.iORGHt { position: relative; }
.hCTnDy { margin: 0px 0px 15px; }
.hCTnDy > a { color: inherit !important; }
.hCTnDy > span { font-weight: inherit; text-decoration: inherit; }
.hCTnDy { word-break: break-word; }
.hCTnDy.pf-i--left i { margin-right: 0.3em; }
.hCTnDy.pf-i--right i { margin-left: 0.3em; }
.hCTnDy.pf-i--top i { margin-bottom: 0.5em; }
.hCTnDy.pf-i--top > span, .hCTnDy.pf-i--top > a { display: block; }
.hCTnDy.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.hCTnDy [class*="--diamond"] { margin-right: 1em; }
.dWevfJ { display: inline-block; }
.dWevfJ { vertical-align: baseline; word-break: break-word; }
.dWevfJ:focus { outline: none; }
.huQPUn { margin: 0px 0px 15px; }
.huQPUn > a { color: inherit !important; }
.huQPUn > span { font-weight: inherit; text-decoration: inherit; }
.huQPUn { word-break: break-word; }
.huQPUn.pf-i--left i { margin-right: 0.3em; }
.huQPUn.pf-i--right i { margin-left: 0.3em; }
.huQPUn.pf-i--top i { margin-bottom: 0.5em; }
.huQPUn.pf-i--top > span, .huQPUn.pf-i--top > a { display: block; }
.huQPUn.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.huQPUn [class*="--diamond"] { margin-right: 1em; }
.gFMjkE > span:last-child { line-height: inherit; display: block; }
.gFMjkE[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; color: rgb(0, 0, 0); width: 50px; height: 50px; line-height: 50px; font-size: 2em; background: rgb(145, 157, 169); }
.gFMjkE[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.gFMjkE.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.gFMjkE.dropcap--circle > span:first-child { border-radius: 100%; }
.gFMjkE:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.gFMjkE ol, .gFMjkE ul { list-style-position: inside; }
.gFMjkE blockquote { font-size: inherit; }
.kxBUTU > span:last-child { line-height: inherit; display: block; }
.kxBUTU[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.kxBUTU[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.kxBUTU.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.kxBUTU.dropcap--circle > span:first-child { border-radius: 100%; }
.kxBUTU:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.kxBUTU ol, .kxBUTU ul { list-style-position: inside; }
.kxBUTU blockquote { font-size: inherit; }
.leQzjv { display: inline-flex; vertical-align: middle; }
.leQzjv picture { width: 100%; }
.iVqvQb { position: relative; overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; vertical-align: middle; max-width: 100%; }
.iVqvQb img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; position: unset; }
.eWmgqN { display: inline-block; line-height: 1; padding: 0.7em 1.2em; box-sizing: border-box; cursor: pointer; text-align: center; border: none; border-radius: 0px; text-decoration: none; position: relative; max-width: 100%; outline: none; vertical-align: middle; }
.eWmgqN:hover, .eWmgqN:active, .eWmgqN:focus { color: inherit; text-decoration: none; }
.eWmgqN > span { text-decoration: inherit; line-height: inherit; display: inline-block; max-width: 100%; }
.eWmgqN[data-active="true"] { background: black; color: white; }
.eWmgqN.pf-i--left i { margin-right: 0.3em; }
.eWmgqN + .sc-dqBHgY, .eWmgqN.pf-i--right i { margin-left: 0.3em; }
.eWmgqN.pf-i--top i { margin-bottom: 0.5em; display: block; }
.jbmXZx { margin: 0px -15px; }
.jbmXZx .pf__shopify-product { width: 100%; text-align: center; }
.jbmXZx .pf-c { padding: 15px; display: flex; }
.jbmXZx .product__thumbnail { display: -webkit-flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; overflow: hidden; max-width: 100%; position: relative; }
.jbmXZx .product__thumbnail img { vertical-align: middle; max-width: 100%; height: auto; }
.jbmXZx .product__thumbnail .pf-placeholder-svg { fill: rgb(166, 166, 166); background-color: rgb(245, 245, 245); width: 100%; max-width: 100%; max-height: 100%; border-radius: inherit; }
.jbmXZx .product__button > a { display: block; padding: 0px 20px; line-height: 36px; height: 36px; background: rgb(85, 193, 72); margin-top: 10px; color: rgb(255, 255, 255); text-align: center; text-decoration: none; }
.jbmXZx .product__button > a:hover { opacity: 0.7; color: rgb(255, 255, 255); }
.jbmXZx .product__info-price { margin-top: 10px; font-size: 13px; color: rgb(208, 2, 27); }
.jbmXZx .product__sale-price { margin-left: 10px; color: rgb(54, 54, 54); font-size: 0.8em; }
.jbmXZx .product__info-title { margin: 10px 0px 0px; font-size: 16px; font-weight: 500; line-height: 1.5; text-transform: none; font-family: inherit; color: rgb(45, 45, 45); }
.jbmXZx .product__info-title a { color: rgb(27, 28, 29); text-decoration: none; }
.jbmXZx .shopify__product-vertical, .jbmXZx .shopify__product-vertical .product__info { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-flow: column; }
.jbmXZx .shopify__product-vertical .product__info, .jbmXZx .shopify__product-vertical .product__info-title { flex: 1 0 auto; }
.jbmXZx .shopify__product-horizontal { display: -webkit-flex; }
.jbmXZx .shopify__product-horizontal .product__thumbnail { flex: 1 1 0%; height: auto !important; }
.jbmXZx .shopify__product-horizontal .product__info { text-align: left; flex: 3 1 0%; padding-left: 15px; }
.jbmXZx .shopify__product-horizontal .product__info-title { margin-top: 0px; }
.jbmXZx .shopify__product-horizontal .product__button > a { width: auto; display: inline-block; }
					/* PageFly Styles */
					
@media all {
	[data-pf-type="Block"].pf-588fe94a {
		text-align: center;
	}
	[data-pf-type="Section"].pf-c1616348 {
		padding: 100px 0px;
		 background-size: cover;
		 background-repeat: no-repeat;
		 background-image: url("https://media.pagefly.io/file/get/ecigarette3576177_1920jpg-1535855185893.jpg");
		 background-position: 50% 50%;
		 margin-top: -25px;
	}
	[data-pf-type="Heading"].pf-844f670c {
		text-align: center;
		 font-size: 60px;
		 color: black;
		 line-height: 2;
		 margin-bottom: 5px;
		 margin-top: 10px;
	}
	[data-pf-type="Heading"].pf-a502d06d {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 36px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Text"].pf-4fb1525a {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Paragraph"].pf-29ff78fc {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Heading"].pf-2b40e684 {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: center;
	}
	[data-pf-type="Paragraph"].pf-f4bb4930 {
		text-align: justify;
		 font-size: 18px;
	}
	[data-pf-type="Heading"].pf-ff9f8af8 {
		font-size: 30px;
		 margin-top: 0px;
		 font-weight: 700;
	}
	[data-pf-type="Section"].pf-ae4a13f8 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	[data-pf-type="Image"].pf-5d0f6bf5 {
		width: 300px;
	}
	[data-pf-type="Button"].pf-a5e85316 {
		color: white;
		 background-color: black;
		 font-weight: 700;
		 padding-top: 9px;
		 margin-top: 5px;
	}
	[data-pf-type="Column"].pf-92793af9 {
		text-align: center;
	}
	[data-pf-type="Paragraph"].pf-8f28ce5a {
		font-size: 18px;
		 text-align: left;
		 margin-top: 10px;
	}
	[data-pf-type="Heading"].pf-a38e6165 {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: center;
	}
	[data-pf-type="Paragraph"].pf-33606dc6 {
		text-align: justify;
		 font-size: 18px;
	}
	[data-pf-type="Heading"].pf-69f9faa0 {
		font-size: 30px;
		 margin-top: 20px;
		 font-weight: 700;
		 padding-top: 20px;
	}
	[data-pf-type="Image"].pf-8fa1ffc5 {
		width: 300px;
		 align-items: center;
		 justify-content: center;
	}
	[data-pf-type="Button"].pf-c3b6db81 {
		color: white;
		 background-color: black;
		 font-weight: 700;
		 padding-top: 9px;
		 margin-top: 5px;
		 text-align: center;
	}
	[data-pf-type="Column"].pf-4198bca8 {
		text-align: center;
	}
	[data-pf-type="Paragraph"].pf-aee4e785 {
		font-size: 18px;
		 text-align: left;
		 margin-top: 10px;
	}
	[data-pf-type="Heading"].pf-cb48ae9e {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: center;
	}
	[data-pf-type="Paragraph"].pf-86220b03 {
		text-align: justify;
		 font-size: 18px;
	}
	[data-pf-type="Section"].pf-512c0ed5 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	[data-pf-type="Shopify.Products"].pf-1d2ae2ea {
		font-size: 18px;
	}
	[data-pf-type="Shopify.Products"].pf-1d2ae2ea > .pf-c > div > div > div > .product__button {
		background-color: black;
	}
	[data-pf-type="Shopify.Products"].pf-1d2ae2ea > .pf-c > div {
		font-size: 18px;
	}
	[data-pf-type="Shopify.Products"].pf-1d2ae2ea > .pf-c > div > div > h3 > a {
		font-size: 14px;
	}
	[data-pf-type="Heading"].pf-bf5ace34 {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: center;
		 color: white;
	}
	[data-pf-type="Paragraph"].pf-5022d9ad {
		text-align: center;
		 font-size: 20px;
		 color: white;
		 font-weight: 700;
	}
	[data-pf-type="Paragraph"].pf-49995e05 {
		font-size: 36px;
		 color: white;
		 text-align: center;
		 font-weight: 700;
		 border-style: dashed;
	}
	[data-pf-type="Section"].pf-85df2261 {
		background-color: black;
	}
}
					/*PageFlyCustomCSS*/
				</style><script src="https://cdnjs.cloudflare.com/ajax/libs/loadCSS/2.0.1/cssrelpreload.min.js" async></script><link rel="stylesheet" href="{{ 'pagefly.03118f59.scss.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div class="pf-9284cf22 sc-kTUwUJ ljwnSF" data-pf-type="Body"><div class="pf-e311a20e sc-GMQeP jXMCGy" data-pf-type="Layout"><div data-container="true" class="pf-c1616348 sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-434d9bb1 pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-17dd5d73 sc-cQFLBn efhDmd" data-pf-type="Column"><div class="pf-588fe94a sc-jtRfpW iORGHt" data-pf-type="Block"></div></div> </div></div></div></div><div data-container="true" class="pf-3e46aae0 sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-e4879c7e pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-676535c9 sc-cQFLBn efhDmd" data-pf-type="Column"><h1 mode="view" class="pf-844f670c sc-iQKALj hCTnDy" data-pf-type="Heading"><span class="pf-e6a747da sc-hGoxap dWevfJ" data-pf-type="Text">The difference between a cheap e-cig and an expensive kit&nbsp;</span></h1><h3 mode="view" class="pf-a502d06d sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-1cfcb14b sc-hGoxap dWevfJ" data-pf-type="Text">Find out which one will suit you best&nbsp;</span></h3></div> </div></div><div class="pf-d304054e pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-491e697e sc-cQFLBn efhDmd" data-pf-type="Column"><p class="pf-29ff78fc dropcap--none sc-emmjRN gFMjkE" data-pf-type="Paragraph"><span class="pf-4fb1525a sc-hGoxap dWevfJ" data-pf-type="Text">Y</span><span class="pf-8a6ef0c4 sc-hGoxap dWevfJ" data-pf-type="Text">&nbsp;ou have probably seen the £10 starter kits at the petrol station or in the supermarket. Then you’ve gone in a vape shop or seen an ad online for an £80 vape kit. Now you want to know the difference. Which one will help you quit smoking, is one better than the other, which one should you buy?&nbsp;<div><br></div><div>In this blog we are going to share some information about both kits. We will tell you the pros and why you might consider one over the other. Can’t be bothered to read? <a href="https://www.youtube.com/watch?v=Rwh0DxSn8lI" target="_self">Watch our video on the same topic here</a>. We are going to be specifically discussing the C4 starter kit which is around £10 and the Wismec  Active box mod priced at £80 all in.</div></span></p></div> </div></div><div class="pf-f713b1e4 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-e6e92f24 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-2b40e684 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-6408b1a9 sc-hGoxap dWevfJ" data-pf-type="Text">First up, let's look at the cheap e-cig</span></h3></div> </div></div><div class="pf-4dd7cf46 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-1e6dbf90 sc-cQFLBn efhDmd" data-pf-type="Column"><p class="pf-f4bb4930 sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-95b243ee sc-hGoxap dWevfJ" data-pf-type="Text">IWe have chosen to look at the CE4 kit.&nbsp;This is a simple pen device. No bells or whistles, but that isn’t always a bad thing. This pen style device is made up of a battery and a plastic clearomizer. You can buy it for around £10 at petrol stations, supermarkets and newsagents. They’re a good introduction into vaping if you don’t want to make too much of an initial investment, however they’re not a long term device.<br><br><div>Over time you’re going to find that you have preferences and needs with your vape device. You might want a stronger throat hit, bigger clouds, more flavour options, adjustable airflow and more power. These are things you won’t get with the CE4. You will probably be charging more often than you’d like as it is a small mAH battery. This could lead to frustrations and drive you back to smoking.</div><div><br></div><div>The clearomizer on this device is disposable. This means that every time your e-liquid tastes burnt you have to replace the whole clearomizer. This is likely every 2-3 weeks. This can really add up over time.</div><div><br></div></span></p></div> </div></div></div></div><div data-container="true" class="pf-ae4a13f8 sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-ac6de9e1 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-4f0adaf6 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-ff9f8af8 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-b2a959d5 sc-hGoxap dWevfJ" data-pf-type="Text">Here are a few key points about a basic starter kit</span></h3></div> </div></div></div></div><div data-container="true" class="pf-512c0ed5 sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-f885c042 pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--4" style="padding: 15px;"><div class="pf-92793af9 sc-cQFLBn efhDmd" data-pf-type="Column"><a href="https://vapeandjuice.co.uk/products/ce4-starter-kit" target="_self" title="CBD Dispensary Athena CBD vape kit" class="pf-5d0f6bf5 sc-bAeIUo leQzjv" data-animation="wobble" data-pf-type="Image"><picture class="sc-bMVAic iVqvQb"><img src="https://cdn.shopify.com/s/files/1/0290/5629/t/62/assets/ce4-starter-kit-kits-vape-devices-juice-and-material-property-writing-implement-tobacco-products-848-1000x.jpg?8961" alt="CBD Dispensary Athena CBD vape kit" title="CBD Dispensary Athena CBD vape kit"></picture></a><a class="pf-a5e85316 sc-dqBHgY eWmgqN" href="https://vapeandjuice.co.uk/products/ce4-starter-kit" target="_self" data-pf-type="Button"><span class="pf-6ed71612 sc-hGoxap dWevfJ" data-pf-type="Text">LEARN MORE</span></a></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--8" style="padding: 15px;"><div data-href="https://www.vapeandjuice.com/collections/starter-eliquids/products/vape-and-juice-athena-vape-pod-kit" data-target="_self" class="pf-58dffb1b sc-cQFLBn efhDmd" data-pf-type="Column"><p class="pf-8f28ce5a sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-e2f9753a sc-hGoxap dWevfJ" data-pf-type="Text">- Good to tell you if vaping is for you without too much of an investment<div>- Can only use high PG e-liquid limiting your choices</div><div>- No impressive clouds, but it is discrete</div><div>- Clearomizers are prone to breaking or cracking</div><div>- Buy cheap buy twice - you’ll end up spending more if you try to make this a long term device</div><div>- They are quite prone to leaking&nbsp;</div><div><br></div></span></p></div> </div></div><div class="pf-5a992437 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-805f1f67 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-a38e6165 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-41d4851b sc-hGoxap dWevfJ" data-pf-type="Text">Next, let's look at the more expensive device</span></h3><p class="pf-33606dc6 sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-cd332573 sc-hGoxap dWevfJ" data-pf-type="Text"><div>Now onto the <a href="https://vapeandjuice.co.uk/search?page=2&q=wismec&type=product" target="_self">Wismec Active</a>. This is a higher end bit of kit that has an initial upfront cost of around £80. Quite a step up from you £10 starter kit. However, in the long run it might save you some cash to make the initial outlay.</div><div><br></div><div>This kit has 3x the battery power of your basic starter kit. This means you will charge less and be powered up for longer. You can also charge while you vape, something you can’t do with your basic starter kit.</div><div><br></div><div>The Wismec Active is a fancy looking, robust bit of kit. Therefore it is less prone to cracking and breaking. If you do crack the glass in the tank you can replace it without splashing out on a whole new tank.&nbsp;</div><div><br></div><div>On this device, and many other more <a href="https://vapeandjuice.co.uk/search?page=2&q=wismec&type=product" target="_self">advanced kits</a>, you will find a digital display. What this tells you varies from each device, however you will always find battery life. No need to guess how much charge you have with one of these devices. You will also have your wattage and power. This means you can play about with temperatures and settings to find the sweet spot for your vape juice.&nbsp;</div><div><br></div><div>When you spend that little bit more initially you will be less likely to need to upgrade. Chances are, you buy a CE4 or any cheap starter kit and you’ll want to change it soon enough when you know what you want from your device and vape experience.</div><div><br></div><div>On a more advanced kit you also get adjustable airflow. This allows you to further tailor your vape to help the coils last longer, your juice taste better and adjust the draw. Having these options can make sure that you find the perfect vape, leading you away from cigarettes forever.</div></span></p><h3 mode="view" class="pf-69f9faa0 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-c1d7c836 sc-hGoxap dWevfJ" data-pf-type="Text">Here are a few key points to remember about a higher priced vape device<br></span></h3><div class="pf-445d555a pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--4 pf-c-lg--4" style="padding: 15px;"><div class="pf-4198bca8 sc-cQFLBn efhDmd" data-pf-type="Column"><a href="https://vapeandjuice.co.uk/search?page=1&q=wismec&type=product" target="_self" class="pf-8fa1ffc5 sc-bAeIUo leQzjv" data-animation="wobble" data-pf-type="Image"><picture class="sc-bMVAic iVqvQb"><img src="https://cdn.shopify.com/s/files/1/0290/5629/t/62/assets/ACTIVE-04.jpg?8964"></picture></a><a class="pf-c3b6db81 sc-dqBHgY eWmgqN" href="https://vapeandjuice.co.uk/search?page=1&q=wismec&type=product" target="_self" data-pf-type="Button"><span class="pf-80553aa6 sc-hGoxap dWevfJ" data-pf-type="Text">LEARN MORE</span></a></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--4 pf-c-lg--8" style="padding: 15px;"><div data-href="https://www.vapeandjuice.com/collections/cbd-e-liquid/products/blue-cheese-full-spectrum-cbd-eliquid-250mg-10ml" data-target="_self" class="pf-785306b7 sc-cQFLBn efhDmd" data-pf-type="Column"><p class="pf-aee4e785 sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-bd7417f7 sc-hGoxap dWevfJ" data-pf-type="Text">- More options to customise - change the tank, coils and drip tips<div>- Play with settings to tailor and enhance your vape experience</div><div>- Robust bit of kit that comes with a warranty&nbsp;</div><div>- More choice of juice flavours to find the perfect one for your pallet</div><div>- Improved flavour and nicotine hit without such a strong mg content<br></div><div>&nbsp;<br></div></span></p></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--4 pf-c-lg--4" style="padding: 15px;"><div class="pf-351ecf45 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-cb48ae9e sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-efd147d1 sc-hGoxap dWevfJ" data-pf-type="Text">Which kit should you buy?</span></h3></div> </div></div><p class="pf-86220b03 sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-206f6ba6 sc-hGoxap dWevfJ" data-pf-type="Text">Your device is going to be down to personal preference to an extent. However, if you want to save money then you will probably be better off spending a little more initially. As the saying goes, buy cheap you buy twice!<br><br>So while the initial outlay might be more expensive, by the time you have brought, broken and lost a couple of those starter kits you’d have easily spent the same. While CE4 kits have their place, they’re not in it for the long run. Buy your device to last you an keep you off the cigs.</span></p></div> </div></div></div></div><div data-container="true" class="pf-2df703e6 sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-d91e7b8c pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-a3ad6acb sc-cQFLBn efhDmd" data-pf-type="Column"><div class="pf-1d2ae2ea pf-r pf-r-ew pf-r-ew--4 sc-jtggT jbmXZx" data-animation="pulse" data-pf-type="Shopify.Products">{% for product in collections['all-devices-new'].products  limit:4 %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a class="product__thumbnail" href="{{ product.url }}" style="height: 200px; width: 100%;">{% if product.featured_image != blank %}<img src="{{ product.featured_image | img_url: '270x200', crop: 'center' , scale: 2 }}" alt="{{ product.featured_image.alt | escape }}" width="270" height="200">{% else %}<img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="270">{% endif %}</a><div class="product__info"><h3 class="product__info-title"><a href="{{ product.url }}" style="display: block;">{{product.title}}</a></h3><div class="product__info-price" style="color: black; font-size: 13px;">{%- assign compare_at_price = product.compare_at_price -%}
								{%- assign price = product.price -%}
								{%- assign price_varies = product.price_varies -%}
								{%- assign money_price = price | money -%}{% if compare_at_price > price %}<span class="product__regular-price">{{ money_price }}</span><s class="product__sale-price" style="color: rgb(208, 2, 27);">{{ compare_at_price | money }}</s>{% else %}{% if price_varies %}{{ product.price_min | money }} - {{ product.price_max | money }}{% else %}<span class="product__regular-price" style="color: black;">{{ money_price }}</span>{% endif %}{% endif %}</div><div class="product__button">{% if product.available %}{% if product.variants.size == 1 %}<a class="product__button" href="#" data-action="AddToCart" data-text="Add To Cart"><span data-variant="{{ product.variants.first.id }}">Add To Cart</span></a>{% else %}<a href="{{ product.url }}" class="product__button"><span>View Options</span></a>{% endif %}{% else %}<a href="javascript:void(0);" aria-disabled="true" class="product__button"><span>{{ 'pagefly.products.product.sold_out' | t }}</span></a>{% endif %}</div></div></div></div>{% else %}{% for i in (1..4) %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a href="javascript:void(0);" class="product__thumbnail" style="height: 200px; width: 100%;"><img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="270"></a><div class="product__info"><h3 class="product__info-title"><a href="javascript:void(0);" style="display: block;">Example product title</a></h3><div class="product__info-price" style="color: black; font-size: 13px;"><span class="product__regular-price">$99.00</span></div><div class="product__button"><a href="javascript:void(0);" class="product__button">Add To Cart</a></div></div></div></div>{% endfor %}{% endfor %}</div></div> </div></div></div></div><div data-container="true" class="pf-85df2261 sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-96ea3e06 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-9ac5d39d sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-bf5ace34 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-ebaacf12 sc-hGoxap dWevfJ" data-pf-type="Text">Want 10% Off?<br></span></h3><p class="pf-5022d9ad sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-c76bc40a sc-hGoxap dWevfJ" data-pf-type="Text">We like to reward our blog readers with exclusive discounts! Get an extra 10% off your purchases today with this discount code!&nbsp;&nbsp;</span></p></div> </div></div><div class="pf-2f6fa987 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-f59ed6b5 sc-cQFLBn efhDmd" data-pf-type="Column"><p class="pf-49995e05 sc-emmjRN kxBUTU" data-animation="tada" data-pf-type="Paragraph"><span class="pf-a7f73742 sc-hGoxap dWevfJ" data-pf-type="Text">WELCOME10</span></p></div> </div></div></div></div></div></div></div><script>
					window.__pagefly_options__=window.__pagefly_options__||[],window.__pagefly_options__.push({});
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","isBackend":false};
					0;
				</script><script src="https://cdn.pagefly.io/pagefly/2.0.2/core/helper.js?t=2019-03-25-11" defer></script> </article>