<article itemscope itemtype="http://schema.org/Article">{% include 'pagefly-article-info' %} {% include 'pagefly-featured-image' %}<link rel="preload" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400"></noscript><link rel="preload" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></noscript><link rel="preload" href="https://cdn.pagefly.io/pagefly/2.0.1/css/animation-style.css?t=2019-03-04-17" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.0.1/css/animation-style.css?t=2019-03-04-17"></noscript><link rel="preload" href="https://cdn.pagefly.io/pagefly/2.0.1/css/main-style.css?t=2019-03-04-17" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.0.1/css/main-style.css?t=2019-03-04-17"></noscript><style>
					/* PageFly Element Styles */
					.dwTIAb__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.dwTIAb { padding: 15px 0px; position: relative; }
.dwTIAb .sc-dymIpo { position: relative; }
.dwTIAb[data-container="true"] .sc-dymIpo { padding: 0px 15px; width: 100%; margin: auto; }
.dwTIAb .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.krxlvo { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; overflow: hidden; }
.iTCmS { position: relative; }
.hrEkYi { margin-top: 17.5px; margin-bottom: 15px; }
.hrEkYi > a { color: inherit !important; }
.hrEkYi > span { font-weight: inherit; text-decoration: inherit; }
.hrEkYi { word-break: break-word; }
.hrEkYi.pf-i--left i { margin-right: 0.3em; }
.hrEkYi.pf-i--right i { margin-left: 0.3em; }
.hrEkYi.pf-i--top i { margin-bottom: 0.5em; }
.hrEkYi.pf-i--top > span, .hrEkYi.pf-i--top > a { display: block; }
.hrEkYi.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.hrEkYi [class*="--diamond"] { margin-right: 1em; }
.iavTDB { display: inline-block; }
.iavTDB { vertical-align: baseline; word-break: break-word; }
.iavTDB:focus { outline: none; }
.bDNiBy { margin-top: 17.5px; margin-bottom: 15px; }
.bDNiBy > a { color: inherit !important; }
.bDNiBy > span { font-weight: inherit; text-decoration: inherit; }
.bDNiBy { word-break: break-word; }
.bDNiBy.pf-i--left i { margin-right: 0.3em; }
.bDNiBy.pf-i--right i { margin-left: 0.3em; }
.bDNiBy.pf-i--top i { margin-bottom: 0.5em; }
.bDNiBy.pf-i--top > span, .bDNiBy.pf-i--top > a { display: block; }
.bDNiBy.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.bDNiBy [class*="--diamond"] { margin-right: 1em; }
.hIuBaq { margin-top: 17.5px; margin-bottom: 15px; }
.hIuBaq > a { color: inherit !important; }
.hIuBaq > span { font-weight: inherit; text-decoration: inherit; }
.hIuBaq { word-break: break-word; }
.hIuBaq.pf-i--left i { margin-right: 0.3em; }
.hIuBaq.pf-i--right i { margin-left: 0.3em; }
.hIuBaq.pf-i--top i { margin-bottom: 0.5em; }
.hIuBaq.pf-i--top > span, .hIuBaq.pf-i--top > a { display: block; }
.hIuBaq.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.hIuBaq [class*="--diamond"] { margin-right: 1em; }
.kTdcTt > span:last-child { line-height: inherit; display: block; }
.kTdcTt[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; color: rgb(0, 0, 0); width: 50px; height: 50px; line-height: 50px; font-size: 2em; background: rgb(145, 157, 169); }
.kTdcTt[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.kTdcTt.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.kTdcTt.dropcap--circle > span:first-child { border-radius: 100%; }
.kTdcTt:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.kTdcTt ol, .kTdcTt ul { list-style-position: inside; }
.kTdcTt blockquote { font-size: inherit; }
.fRnTAR > span:last-child { line-height: inherit; display: block; }
.fRnTAR[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.fRnTAR[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.fRnTAR.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.fRnTAR.dropcap--circle > span:first-child { border-radius: 100%; }
.fRnTAR:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.fRnTAR ol, .fRnTAR ul { list-style-position: inside; }
.fRnTAR blockquote { font-size: inherit; }
.henXsE { position: relative; overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; vertical-align: middle; max-width: 100%; }
.henXsE img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; position: unset; }
.gxVtiD { margin: 0px -15px; }
.gxVtiD .pf__shopify-product { width: 100%; text-align: center; }
.gxVtiD .pf-c { padding: 15px; display: flex; }
.gxVtiD .product__thumbnail { display: -webkit-flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; overflow: hidden; max-width: 100%; position: relative; }
.gxVtiD .product__thumbnail img { vertical-align: middle; max-width: 100%; height: auto; }
.gxVtiD .product__thumbnail .pf-placeholder-svg { fill: rgb(166, 166, 166); background-color: rgb(245, 245, 245); width: 100%; max-width: 100%; max-height: 100%; border-radius: inherit; }
.gxVtiD .product__button > a { display: block; padding: 0px 20px; line-height: 36px; height: 36px; background: rgb(85, 193, 72); margin-top: 10px; color: rgb(255, 255, 255); text-align: center; text-decoration: none; }
.gxVtiD .product__button > a:hover { opacity: 0.7; color: rgb(255, 255, 255); }
.gxVtiD .product__info-price { margin-top: 10px; font-size: 13px; color: rgb(208, 2, 27); }
.gxVtiD .product__sale-price { margin-left: 10px; color: rgb(54, 54, 54); font-size: 0.8em; }
.gxVtiD .product__info-title { margin: 10px 0px 0px; font-size: 16px; font-weight: 500; line-height: 1.5; text-transform: none; font-family: inherit; color: rgb(45, 45, 45); }
.gxVtiD .product__info-title a { color: rgb(27, 28, 29); text-decoration: none; }
.gxVtiD .shopify__product-vertical, .gxVtiD .shopify__product-vertical .product__info { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-flow: column; }
.gxVtiD .shopify__product-vertical .product__info, .gxVtiD .shopify__product-vertical .product__info-title { flex: 1 0 auto; }
.gxVtiD .shopify__product-horizontal { display: -webkit-flex; }
.gxVtiD .shopify__product-horizontal .product__thumbnail { flex: 1 1 0%; height: auto !important; }
.gxVtiD .shopify__product-horizontal .product__info { text-align: left; flex: 3 1 0%; padding-left: 15px; }
.gxVtiD .shopify__product-horizontal .product__info-title { margin-top: 0px; }
.gxVtiD .shopify__product-horizontal .product__button > a { width: auto; display: inline-block; }
					/* PageFly Styles */
					
@media all {
	[data-pf-type="Block"].pf-d6b615da {
		text-align: center;
	}
	[data-pf-type="Section"].pf-73683064 {
		padding: 100px 0px;
		 background-size: cover;
		 background-repeat: no-repeat;
		 background-position: 50% 0%;
		 margin-top: -25px;
		 background-image: url("https://media.pagefly.io/file/get/nicotine-level-to-vape-png-1537273544123.png");
	}
	[data-pf-type="Heading"].pf-04be9dae {
		text-align: center;
		 font-size: 60px;
		 color: black;
		 line-height: 2;
		 margin-bottom: 5px;
		 margin-top: 10px;
	}
	[data-pf-type="Heading"].pf-0409ec6c {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 36px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Text"].pf-0a5c0a50 {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Paragraph"].pf-6151d0b6 {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Heading"].pf-7942a209 {
		text-align: left;
		 margin-bottom: 0px;
		 font-size: 30px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Image"].pf-924cd1a4 {
		border-style: solid;
		 border-width: 3px;
		 border-color: rgb(113, 127, 142);
		 width: 400px;
	}
	[data-pf-type="Paragraph"].pf-2fa1fca0 {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Heading"].pf-e846c3f2 {
		text-align: left;
		 margin-bottom: 0px;
		 font-size: 30px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	[data-pf-type="Paragraph"].pf-ddad152a {
		font-size: 18px;
		 text-align: left;
	}
	[data-pf-type="Heading"].pf-721f89d1 {
		font-size: 30px;
		 font-weight: 700;
		 margin-top: 5px;
		 text-align: center;
		 color: white;
	}
	[data-pf-type="Paragraph"].pf-26541c3c {
		text-align: center;
		 font-size: 20px;
		 color: white;
		 font-weight: 700;
	}
	[data-pf-type="Paragraph"].pf-a44d2111 {
		font-size: 36px;
		 color: white;
		 text-align: center;
		 font-weight: 700;
		 border-style: dashed;
	}
	[data-pf-type="Section"].pf-007627f3 {
		background-color: black;
	}
}
@media only screen and (max-width: 767px) {
	[data-pf-type="Heading"].pf-04be9dae {
		font-size: 2em;
	}
	[data-pf-type="Heading"].pf-0409ec6c {
		font-size: 2em;
	}
}
					/*PageFlyCustomCSS*/
				</style><script src="https://cdnjs.cloudflare.com/ajax/libs/loadCSS/2.0.1/cssrelpreload.min.js" async></script><link rel="stylesheet" href="{{ 'pagefly.4a42ba56.scss.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div class="pf-97122bad sc-cmTdod kHxQNt" data-pf-type="Body"><div class="pf-e1d67042 sc-esOvli bMqLzo" data-pf-type="Layout"><div data-container="true" class="pf-73683064 sc-bnXvFD dwTIAb" data-pf-type="Section"><div class="sc-cpmLhU krxlvo" style="background-color: rgba(0, 0, 0, 0);"></div><div class="sc-dymIpo kdtjOQ" style="max-width: 1170px;"><div class="pf-02c44b12 pf-r pf-r-eh sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-3906f29c sc-gHboQg eLpzfs" data-pf-type="Column"><div class="pf-d6b615da sc-iELTvK iTCmS" data-pf-type="Block"></div></div> </div></div></div></div><div data-container="true" class="pf-c1c240f6 sc-bnXvFD dwTIAb" data-pf-type="Section"><div class="sc-cpmLhU krxlvo" style="background-color: rgba(0, 0, 0, 0);"></div><div class="sc-dymIpo kdtjOQ" style="max-width: 1170px;"><div class="pf-5161843d pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-b20522bb sc-gHboQg eLpzfs" data-pf-type="Column"><h1 mode="view" class="pf-04be9dae sc-iyvyFf hrEkYi" data-pf-type="Heading"><span class="pf-542fbacc sc-eLExRp iavTDB" data-pf-type="Text">What is full spectrum CBD?</span></h1><h2 mode="view" class="pf-0409ec6c sc-gzOgki bDNiBy" data-pf-type="Heading"><span class="pf-03079d43 sc-eLExRp iavTDB" data-pf-type="Text">I've heard of<span style="font-weight: 400;">&nbsp;</span>full spectrum CBD, what is it?</span></h2></div> </div></div><div class="pf-ece399bf pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-f84b1b62 sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" class="pf-702e9a4c sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-9b453d90 sc-eLExRp iavTDB" data-pf-type="Text">Becky Spencer-Davies, 17/12/2018&nbsp;</span></h3></div> </div></div><div class="pf-9fc51784 pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-c689ea55 sc-gHboQg eLpzfs" data-pf-type="Column"><p class="pf-6151d0b6 dropcap--none sc-bAeIUo kTdcTt" data-pf-type="Paragraph"><span class="pf-0a5c0a50 sc-eLExRp iavTDB" data-pf-type="Text">W</span><span class="pf-3ff82306 sc-eLExRp iavTDB" data-pf-type="Text">&nbsp;hile CBD has been around for thousands of years as an alternative medicine, it has recently made a huge impact and become very popular. It has been found to help the symptoms of a huge number of different illnesses, from mental health such as anxiety and depression to terminal illnesses such as cancer, and lifelong illnesses such as Parkinson's and Epilepsy.<br><br>When researching online you may have come across Full Spectrum CBD at our Whitstable store or online and wonder how it is different to CBD.<br><br>In this blog we are going to answer the question, what is <a href="https://vapeandjuice.co.uk/collections/cbd-e-liquid" target="_self">full spectrum CBD</a> to give you a better understanding and help you make an informed choice as to which is best for you.

Unlike CBD isolate products, full spectrum CBD oil includes a range of cannabinoids from the hemp or cannabis plant. This can help you achieve a greater effect from the CBD product as all of the cannabinoids work together. Full spectrum CBD also contains vitamins, fatty acids, protein, flavonoids, fibre, terpenes, minerals and chlorophyll.
</span></p><h3 mode="view" class="pf-7942a209 sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-7d76ef0a sc-eLExRp iavTDB" data-pf-type="Text">What are the benefits of the whole plant?</span></h3></div> </div></div><div class="pf-d7207968 pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-34f7e045 sc-gHboQg eLpzfs" data-pf-type="Column"><div class="pf-3673df5a pf-r pf-r-eh sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--4 pf-c-xs--12 pf-c-sm--12 pf-c-md--6" style="padding: 15px;"><div class="pf-b3ba09e7 sc-gHboQg eLpzfs" data-pf-type="Column"><picture class="pf-924cd1a4 sc-cMhqgX henXsE" data-pf-type="Image"><img src="https://media.pagefly.io/file/get/full-spectrum-cbdjpg-1545058217056.jpg" alt="Full spectrum CBD oil"></picture></div> </div><div class="pf-c pf-c-lg--8 pf-c-xs--12 pf-c-sm--12 pf-c-md--6" style="padding: 15px;"><div class="pf-455d42da sc-gHboQg eLpzfs" data-pf-type="Column"><p class="pf-2fa1fca0 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-9cb83113 sc-eLExRp iavTDB" data-pf-type="Text">In a study by the University of Jerusalem’s Hadassah School in 2015, where CBD oil was tested against full spectrum CBD, it was found that full spectrum CBD was more effective when used to treat inflammation or pain. The whole plant provided faster and longer lasting pain relief.<br><br>There are more than one hundred compounds in the cannabis plant, and many are used in other ways. When they combine they offer a much better benefit. While there are other cannabinoids present in full spectrum CBD, there is no THC. THC is the psychoactive part of the plant which is illegal in the UK.<br><br>&nbsp;<br><br><br>&nbsp;&nbsp;<br>
</span></p></div> </div></div></div> </div></div><div class="pf-972587db pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-0ad8dfd2 sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" class="pf-e846c3f2 sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-1166d711 sc-eLExRp iavTDB" data-pf-type="Text">Is full spectrum CBD for me?<br></span></h3><div class="pf-80e99dc1 pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-d3e05119 sc-gHboQg eLpzfs" data-pf-type="Column"><p class="pf-ddad152a sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-67884c83 sc-eLExRp iavTDB" data-pf-type="Text">Full spectrum CBD could be for you if you are looking for fast relief. It has been found to help with issues such as, anorexia, nausea, pain and inflammation, Parkinson's and alzheimer's, anxiety and PTSD to name a few. You can buy full spectrum CBD in the form of an oil, cream, vape or gummies.&nbsp;<br><br>At our <a href="https://vapeandjuice.co.uk/collections/cbd-e-liquidhttp://" target="_self">CBD shop</a> in Whitstable you can buy a huge range of CBD products and get some great advice too. We are open 11am - 10pm Monday to Saturday and Sunday 12-6pm. If you cant get to Whitstable for your CBD then you can order online and take advantage of our 10% new customer discount using the code welcome10 at checkout.<br><br></span></p></div> </div></div></div> </div></div></div></div><div data-container="true" class="pf-2840aa4f sc-bnXvFD dwTIAb" data-pf-type="Section"><div class="sc-cpmLhU krxlvo" style="background-color: rgba(0, 0, 0, 0);"></div><div class="sc-dymIpo kdtjOQ" style="max-width: 1170px;"><div class="pf-a1638412 pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-b7339a01 sc-gHboQg eLpzfs" data-pf-type="Column"><div class="pf-95875819 pf-r pf-r-ew pf-r-ew--2 sc-iqzUVk gxVtiD" data-pf-type="Shopify.Products">{% for product in collections['cbd-oils'].products  limit:4 %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a class="product__thumbnail" href="{{ product.url }}" style="height: 200px; width: 100%;">{% if product.featured_image != blank %}<img src="{{ product.featured_image | img_url: '270x200', crop: 'center' , scale: 2 }}" alt="{{ product.featured_image.alt | escape }}" width="270" height="200">{% else %}<img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="270">{% endif %}</a><div class="product__info"><h3 class="product__info-title"><a href="{{ product.url }}" style="display: block;">{{product.title}}</a></h3><div class="product__info-price" style="color: rgb(208, 2, 27); font-size: 13px;">{%- assign compare_at_price = product.compare_at_price -%}
								{%- assign price = product.price -%}
								{%- assign price_varies = product.price_varies -%}
								{%- assign money_price = price | money -%}{% if compare_at_price > price %}<span class="product__regular-price">{{ money_price }}</span><s class="product__sale-price" style="color: rgb(54, 54, 54);">{{ compare_at_price | money }}</s>{% else %}{% if price_varies %}{{ product.price_min | money }} - {{ product.price_max | money }}{% else %}<span class="product__regular-price" style="color: rgb(208, 2, 27);">{{ money_price }}</span>{% endif %}{% endif %}</div><div class="product__button">{% if product.available %}{% if product.variants.size == 1 %}<a class="product__button" href="#" data-action="AddToCart" data-text="Add To Cart"><span data-variant="{{ product.variants.first.id }}">Add To Cart</span></a>{% else %}<a href="{{ product.url }}" class="product__button"><span>View Options</span></a>{% endif %}{% else %}<a href="javascript:void(0);" aria-disabled="true" class="product__button"><span>{{ 'pagefly.products.product.sold_out' | t }}</span></a>{% endif %}</div></div></div></div>{% else %}{% for i in (1..4) %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a href="javascript:void(0);" class="product__thumbnail" style="height: 200px; width: 100%;"><img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="270"></a><div class="product__info"><h3 class="product__info-title"><a href="javascript:void(0);" style="display: block;">Example product title</a></h3><div class="product__info-price" style="color: rgb(208, 2, 27); font-size: 13px;"><span class="product__regular-price">$99.00</span></div><div class="product__button"><a href="javascript:void(0);" class="product__button">Add To Cart</a></div></div></div></div>{% endfor %}{% endfor %}</div></div> </div></div></div></div><div data-container="true" class="pf-007627f3 sc-bnXvFD dwTIAb" data-pf-type="Section"><div class="sc-cpmLhU krxlvo" style="background-color: rgba(0, 0, 0, 0);"></div><div class="sc-dymIpo kdtjOQ" style="max-width: 1170px;"><div class="pf-1385025d pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-30825eed sc-gHboQg eLpzfs" data-pf-type="Column"><h3 mode="view" class="pf-721f89d1 sc-dfVpRl hIuBaq" data-pf-type="Heading"><span class="pf-131af071 sc-eLExRp iavTDB" data-pf-type="Text">Want 10% Off?<br></span></h3><p class="pf-26541c3c sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-210b3dae sc-eLExRp iavTDB" data-pf-type="Text">We like to reward our blog readers with exclusive discounts! Get an extra 10% off your purchases today with this discount code!&nbsp;&nbsp;</span></p></div> </div></div><div class="pf-91f44ddd pf-r pf-r-eh pf-r-ew sc-eerKOB eFhTIp" data-pf-type="Row" style="margin: 0px -15px;"><div class="pf-c pf-c-lg--12 pf-c-xs--12 pf-c-sm--12 pf-c-md--12" style="padding: 15px;"><div class="pf-214c32c0 sc-gHboQg eLpzfs" data-pf-type="Column"><p class="pf-a44d2111 sc-bAeIUo fRnTAR" data-animation="tada" data-pf-type="Paragraph"><span class="pf-c5bb80c0 sc-eLExRp iavTDB" data-pf-type="Text">WELCOME10</span></p></div> </div></div></div></div></div></div></div><script>
					window.__pagefly_options__=window.__pagefly_options__||[],window.__pagefly_options__.push({});
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","isBackend":false};
					0;
				</script><script src="https://cdn.pagefly.io/pagefly/2.0.1/core/helper.js?t=2019-03-04-17"></script> {% include 'pagefly-article-tags' %}{% include 'pagefly-comment-form' %}</article>