<div id="page" class="row">
  
  <div class="details">
    {% comment %}<h1 class="p25">{{ page.title }}</h1>{% endcomment %}
    {{ page.content }}
  </div>
  <div class="sloyalty-loyaltyprogram-points" data-font-family="Arial" data-font-size="10px" data-color="#000000" data-font-style="normal" data-font-weight="normal" data-text-decoration="none" data-text-align="center"></div>
  {% for i in (1..20) %}
          {% capture banner_imge %}store_banner_img_{{ i }}.jpg{% endcapture %}
          {% capture button_txt %}button_text_{{ i }}{% endcapture %}
          {% capture page_link %}page_url_{{ i }}{% endcapture %}
          {% if settings[page_link] != blank %}
           <div class="store_banner_section">
               <img src="{{ banner_imge | asset_url }}"/>
              <div class="banner_btn">
            <a href="{{settings[page_link]}}" class="float_right">{{settings[button_txt]}}</a>
          </div>
  </div>
          {% endif %}
        {% endfor %}
    
  <script>
    adroll_adv_id = "3FFICQ7OUVCQTCZELAVJOZ";
    adroll_pix_id = "IIAI4ONY5NCNHNXOCIE2TD";
    /* OPTIONAL: provide email to improve user identification */
    /* adroll_email = "username@example.com"; */
    (function () {
        var _onload = function(){
            if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
            if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
            var scr = document.createElement("script");
            var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
            scr.setAttribute('async', 'true');
            scr.type = "text/javascript";
            scr.src = host + "/j/roundtrip.js";
            ((document.getElementsByTagName('head') || [null])[0] ||
                document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
        };
        if (window.addEventListener) {window.addEventListener('load', _onload, false);}
        else {window.attachEvent('onload', _onload)}
    }());
</script>


</div>{% include 'schemaapp.page.store-locater' %}